extends layout-simple

block view
    div(ng-controller="AboutCtrl")
        .content.prelude-content
            .col-sm-offset-2.col-sm-8.about
                h2 About Circle Blvd.

                p Let's be frank: Circle Blvd is just a list. It's simple. It's not that smart. It doesn't do everything. And that's why it's good for your team.

                p We made this site to give your team just enough structure and glue, to stay on the same page between meetings, to keep you focused while you make something great.

                p Circle Blvd was created for teams who aren't necessarily sharing a day job. It's for on-the-side event organizers, or people starting businesses, or part-time community volunteers.

                p Does your team know what it's doing this week? Where is your task list? On Basecamp? In shared spreadsheets? Email? In your paper notebook?

                p We've been there. We've tried that. That's why we made Circle Blvd.

                p Circle Blvd is a path, to get your team where you want to go, together.

                h3 Product team

                p Circle Blvd is a product of <a href="http://holmwell.com">Holmwell Software</a>, a company based in Corvallis, Oregon.

                p Holmwell is led by <a href="http://pmnjk.com">Phil Manijak</a>. Phil is a community organizer, a co-founder of the Corvallis Swing Dance Society, and a 10-year veteran of the software industry. His design and programming work has been used by millions of people across the globe.

                .row
                    .col-xs-4.col-sm-3.for-glyph
                        span.glyphicon.glyphicon-road
                    .col-xs-8.col-sm-9
                        h3 Business plans
                        p Our goal is to keep Circle Blvd free indefinitely, supported by <a href="/donate">donations</a> and development partners.

                        p Our intention is to create a business model similar to Wordpress, in the way that it is free to download and modify, or you can rent out space on our site.

                        p The <a href="https://github.com/holmwell/circle-blvd">source code</a> for Circle Blvd available on GitHub, under a BSD license. It can be downloaded and installed on most computers running Mac OS X, Linux, or Windows.

                .row
                    .col-xs-4.col-sm-3.for-glyph
                        span.glyphicon.glyphicon-certificate
                    .col-xs-8.col-sm-9
                        h3 Acknowledgements
                        p A large thank you goes to Oregon's Self Employment Assistance Program and the Corvallis Swing Dance Society.

                        p Circle Blvd's engineering work owes much to many people, including those behind Apache CouchDB, Node.js, Bootstrap, and AngularJS.

                        p This project would not be possible without the community support of family and friends.

                        p Thank you.
