extends layout-simple

append stylesheets
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(href='/css/curtain.css' rel='stylesheet' type='text/css')

block content
    .curtain(ng-controller="SignInCtrl")
        .navbar.navbar-inverse.topMenu(role="navigation" ng-cloak)
          .container-fluid
            .navbar-header

              button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navigation-circles")
                span.sr-only Show circles
                span.icon-bar
                span.icon-bar
                span.icon-bar
              
              a.navbar-brand(href="/#/")
                span.circle(ng-include="'/img/glyphs/icon-white-circle.svg'")

              ul.nav.navbar-nav.visible-xs.pull-left
                li 
                    a(href="/signin") Sign in

            .collapse.navbar-collapse#navigation-circles
              ul.nav.navbar-nav
                li
                    a.name(href="/") Circle Blvd.

              ul.nav.navbar-nav.navbar-right
                li
                    a.btn-signin(href="/signin/{{locationHash}}"
                        data-toggle="collapse" data-target="#navigation-circles.in") 
                        button.btn.btn-default Sign in 
                li
                  a(href="/partner"
                    data-toggle="collapse" data-target="#navigation-circles.in") Partner

                li
                  a(href="/tour"
                    data-toggle="collapse" data-target="#navigation-circles.in") Tour


        .container-fluid.main.debug.first
            .row
                .col-xs-12.col-sm-6.col-sm-push-6.logo
                    img(src="img/circle-blvd-basic.png")

                .col-xs-12.col-sm-6.col-sm-pull-6.headline
                    h1 Streamlined<br/> project planning
                    
                    p For community organizations, startups,
                     | and teams of one to 15. Make planning simple, again.


                    h4 
                        a(href="/entrance")
                            button.join.btn.btn-default 
                                h4 Join Free for 60 Days
                        //- span.nextTo for 60 days

        .block.second
            .container-fluid.main.debug
                .row
                    .col-xs-12.col-sm-8.col-sm-push-4
                        .embed-container
                            iframe(src="//www.youtube-nocookie.com/embed/-a7n_iyqB0A?rel=0" frameborder="0" allowfullscreen)

                    .col-xs-12.col-sm-4.col-sm-pull-8
                        p Circle Blvd is just the right size for
                         | small, important projects.

                        .for-glyph
                            span(ng-include="'/img/glyphs/icon-same-idea.svg'")

                   
        .block.third
            .container-fluid.main.debug
                .row
                    .col-xs-12.col-sm-8
                        .embed-container
                            iframe(src="//www.youtube-nocookie.com/embed/77h9J0wvlxY?rel=0" frameborder="0" allowfullscreen)

                    .col-xs-12.col-sm-4.info
                        p Make planning simple, again.

                        p Circle Blvd helps with planning, 
                         | delegating, and remembering, all at 
                         | an affordable price. 

                        a(href="/tour")
                            button.join.btn.btn-default
                                h4 Continue Tour

                        p.below-button or <a href="/entrance">sign up</a> today.

        .block.fourth
            .container-fluid.main.debug
                .row
                    .col-xs-12
                        p Developed by <a href="http://holmwell.com">Holmwell Software</a> in partnership with the following organizations:


                        .community-logos.logo-wrapper.row
                            .col-sm-3.col-xs-6.logo
                                <a href="http://oregonrain.org/"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/rain-vertical.png"></a>
                            
                            .col-sm-3.col-xs-6.logo
                                <a href="http://corvallisswing.com"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/corvallis-swing.png"></a>
                                h5 Corvallis Swing<br/>Dance Society

                            .col-sm-3.col-xs-6.logo
                                <a href="http://swsdt.com"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/smith-williamson.png"></a>
                                h5 Smith &amp; Williamson

                            .col-sm-3.col-xs-6.logo
                                <a href="http://advantage.oregonstate.edu/advantage-accelerator"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/osu-aa.png"></a>

        .block.fifth
            .container-fluid.main.debug
                div.bottom-header
                    h4
                        span.nextTo Make planning simple, again.
                        a(href="/entrance")
                            button.join.btn.btn-default 
                                h4 Start Free Trial
                            
                //- .row
                //-     .col-xs-12.bottom-logo
                //-         img(src="img/circle-blvd-basic.png")


        include ../inc/footer