extends layout-simple

append stylesheets
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(href='/css/curtain.css' rel='stylesheet' type='text/css')

block content
    .curtain(ng-controller="SignInCtrl")
        .navbar.navbar-inverse.topMenu(role="navigation" ng-cloak)
          .container-fluid
            .navbar-header

              button.navbar-toggle.hidden-xs(type="button" data-toggle="collapse" data-target="#navigation-circles")
                span.sr-only Show circles
                span.icon-bar
                span.icon-bar
                span.icon-bar
              
              a.navbar-brand(href="/#/")
                span.circle(ng-include="'/img/glyphs/icon-white-circle.svg'")

              ul.nav.navbar-nav.visible-xs.pull-left
                li 
                    a(href="/signin") Sign in

            .collapse.navbar-collapse#navigation-circles
              ul.nav.navbar-nav
                li
                    a.name(href="/") Circle Blvd.

              ul.nav.navbar-nav.navbar-right
                li
                    a.btn-signin(href="/signin/{{locationHash}}"
                        data-toggle="collapse" data-target="#navigation-circles.in") 
                        button.btn.btn-default Sign in 
                //- li
                //-   a(href="/partner"
                //-     data-toggle="collapse" data-target="#navigation-circles.in") Partner

                //- li
                //-   a(href="/tour"
                //-     data-toggle="collapse" data-target="#navigation-circles.in") Tour


        .container-fluid.main.debug.first
            .row
                .col-xs-6.col-xs-offset-3.col-sm-offset-0.col-sm-4.col-sm-push-8.logo
                    img(src="img/glyphs/icon-same-idea.svg")

                .col-xs-12.visible-xs.title
                    h1 Circle Blvd.

                .col-xs-12.col-sm-8.col-sm-pull-4.headline
                    h1.hidden-xs Small teams, big ideas.

                    h4.tagline.visible-xs Project management for small&nbsp;teams.

                    h4.visible-xs 
                        a(href="/entrance")
                            button.join.btn.btn-default.primary 
                                h4 Start Free Trial
                    
                    p <span class="hidden-xs">Project management for small&nbsp;teams.</span> 

                    h4.hidden-xs 
                        a(href="/entrance")
                            button.join.btn.btn-default.primary 
                                h4 Start Free Trial
                        //- span.nextTo for 60 days


        //- .block.second
        //-     .container-fluid.main.debug
        //-         .row
        //-             .col-xs-12.col-sm-8.col-sm-push-4
        //-                 .embed-container
        //-                     iframe(src="//www.youtube-nocookie.com/embed/-a7n_iyqB0A?rel=0" frameborder="0" allowfullscreen)

        //-             .col-xs-12.col-sm-4.col-sm-pull-8
        //-                 p Circle Blvd is just the right size for
        //-                  | small teams.

        //-                 .for-glyph
        //-                     span(ng-include="'/img/glyphs/icon-same-idea.svg'")


        .block.value-prop 
            .container-fluid.main.debug
                .row
                    .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-1
                        .for-glyph.front-info
                            span(ng-include="'https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/glyphs/checklist.svg'")
                            p Task&nbsp;management

                    .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-1
                        .for-glyph.front-info
                            span(ng-include="'https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/glyphs/waypoints.svg'")
                            p Milestone&nbsp;planning

                    .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-1
                        .for-glyph.front-info
                            span(ng-include="'https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/glyphs/heart-coin.svg'")
                            p Four projects for $20&nbsp;/&nbsp;month

        //- .block.third
        //-     .container-fluid.main.debug
        //-         .row
        //-             .col-xs-12.col-sm-8
        //-                 .embed-container
        //-                     iframe(src="//www.youtube-nocookie.com/embed/77h9J0wvlxY?rel=0" frameborder="0" allowfullscreen)

        //-             .col-xs-12.col-sm-4.info
        //-                 p Make planning simple, again.

        //-                 p Circle Blvd helps with planning, 
        //-                  | delegating, and remembering, all at 
        //-                  | an affordable price. 

        //-                 a(href="/tour")
        //-                     button.join.btn.btn-default
        //-                         h4 Continue Tour

        //-                 p.below-button or <a href="/entrance">sign up</a> today.

        .block.fourth
            .container-fluid.main.debug
                .row
                    .col-xs-12
                        h2 Created in partnership with

                        .community-logos.logo-wrapper.row
                            .col-sm-3.col-xs-6.logo
                                <a href="http://oregonrain.org/"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/rain-vertical.png"></a>
                            
                            .col-sm-3.col-xs-6.logo
                                <a href="http://corvallisswing.com"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/corvallis-swing.png"></a>
                                h5 Corvallis Swing<br/>Dance Society

                            .col-sm-3.col-xs-6.logo
                                <a href="http://swsdt.com"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/smith-williamson.png"></a>
                                h5 Smith &amp; Williamson

                            .col-sm-3.col-xs-6.logo
                                <a href="http://advantage.oregonstate.edu/advantage-accelerator"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/osu-aa.png"></a>

        .block.fifth.visible-xs
            .container-fluid.main.debug
                div.bottom-header 
                    h4.tagline Project management for small&nbsp;teams.
                    .entrance
                        a(href="/entrance")
                            button.join.btn.btn-default 
                                h4 Start Free Trial


        include ../inc/footer