extends layout

block stylesheets
    link(href="css/base.css" rel="stylesheet")
    link(href="css/app.css" rel="stylesheet")

block scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")
    script(src="/lib/jQuery.ui.touch-punch.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="/lib/modernizr/touch.js")

block content
  include ../inc/error-modal
  include ../inc/navbar

  .container-fluid.main.debug.no-select
    include ../inc/header
    .view
      block view

  include ../inc/footer