extends layout

block stylesheets
    link(href="css/base.css" rel="stylesheet")
    link(href="css/prelude.css" rel="stylesheet")

block content
    include ../inc/navbar

    .container-fluid.main.debug
        block header
        .view
            block view

    include ../inc/footer

block prerequisites
    script(src="_offline/jquery.min.js")

block bottom
    //- Bootstrap JS for the mobile navbar
    script(src="_offline/bootstrap/js/bootstrap.min.js")