extends layout-simple

block view
    .content.prelude-content(ng-controller="PartnerCtrl")
        .col-sm-offset-2.col-sm-8.partner
            h2 Partner with Circle Blvd.
            p Thank you for considering becoming a development partner.

            p The goal of <a href="http://holmwell.com">Holmwell Software</a> and 
             | Circle Blvd is to provide the best organizational tools available to 
             | small groups who might not have a six-figure budget. In turn, organizations
             | can focus on making our towns and cities better places to live. 

            p To achieve this goal, all of our work is available to the public free of charge, and 
             | this is made possible through our partnerships.

            .row
                .col-xs-4.col-sm-3.for-glyph
                    span.glyphicon.glyphicon-move
                .col-xs-8.col-sm-9
                    h4 Partner by following our news 
                    p There are many opportunities to contribute to the Circle Blvd project. The easiest
                     | is to follow us on Twitter at <a href="http://twitter.com/circleblvd">@circleblvd</a>
                     | and <a href="http://twitter.com/_holmwell">@_holmwell</a>, or on Facebook
                     | at <a href="https://www.facebook.com/circleblvd">/circleblvd</a> or 
                     | <a href="https://www.facebook.com/holmwell">/holmwell</a>. This helps us know who is 
                     | actively interested in what we're contributing to your communities.

            .row
                .col-xs-4.col-sm-3.for-glyph
                    span.glyphicon.glyphicon-wrench
                .col-xs-8.col-sm-9
                    h4 Partner by coding with us 
                    p The code for this website and our app is available on GitHub, at 
                     | <a href="https://github.com/holmwell">holmwell</a> and
                     | <a href="https://github.com/holmwell/circle-blvd">circle-blvd</a>, and you 
                     | are welcome to read it and make changes. Let us know how we can help you 
                     | get involved.

            .row
                .col-xs-4.col-sm-3.for-glyph
                    span.glyphicon.glyphicon-piggy-bank
                .col-xs-8.col-sm-9
                    h4 Partner by funding development 
                    p Join the network that shapes the future of Circle
                     | Blvd. We'll talk with you, change Circle Blvd 
                     | to work for you and your team, and start new projects
                     | on your behalf.

            div(ng-show="!isSignedIn() && supportsPayments")
                p.
                    To fund Circle Blvd with a monthly contribution, please <a href="/signin/#/partner">sign in</a>. 
                    To make a one-time contribution without creating an account, please visit 
                    our <a href="/donate">donation</a> page.

                p Thank you.

            div(ng-show="isSignedIn() && supportsPayments")
                p To fund Circle Blvd with a monthly contribution, please choose any of the 
                 | three options below. To make a one-time contribution, please visit 
                 | our <a href="/donate">donation</a> page.

                p Thank you.
                .row.clear(ng-cloak)
                    .donations(ng-show="supportsPayments")
                        .row.plans
                            div(ng-repeat="plan in plans")
                                .col-sm-4.plan(ng-class="{active: (activePlan === plan)}" ng-click="setPlan(plan)")
                                    div(ng-if="plan.name === 'Supporter'")
                                        span.support-circle
                                    div(ng-if="plan.name === 'Organizer'")
                                        span.support-circle
                                        span.support-circle
                                        span.support-circle
                                    div(ng-if="plan.name === 'Patron'")
                                        span.support-circle
                                        span.support-circle
                                        span.support-circle
                                        span.support-circle
                                        span.support-circle
                                    .name {{plan.name}}
                                    .amount {{plan.displayAmount}} per month

                        .col-sm-3.checkout
                            button.btn.btn-default(ng-click="openStripeCheckout($event)") Save partnership

                        p.col-sm-4.subtle.cancel(ng-show="activePlan.name")
                            a.jsLink.subtle(ng-click="cancelSubscription()") cancel partnership

append bottom
    script(src="https://checkout.stripe.com/checkout.js")