extends layout-simple

block view
    div(ng-controller="PrivacyCtrl").
        <div class="content">
        <div class="col-sm-offset-2 col-sm-8 privacy">
            <h2>Privacy Policy</h2>

            <p>Below is our privacy policy. We copied most of it from <a href="http://automattic.com/">Automattic Inc</a>. They're good people, and help make the Web a better place. This policy is available under a <a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Sharealike</a> license.</p>

            <p>We use <a href="https://stripe.com/">Stripe</a>'s services for transaction processing, and <a href="http://www.google.com/analytics/">Google Analytics</a> for visitor information, as described below.</p>

            <p>Secret Project LLC (“<strong>Secret Project</strong>”) operates several websites including <a href="https://circleblvd.org/">circleblvd.org</a> and <a href="https://a.secretproject.org/">a.secretproject.org</a>. It is Secret Project’s policy to respect your privacy regarding any information we may collect while operating our websites.</p>

            <h3>Website Visitors</h3>

            <p>Like most website operators, Secret Project collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Secret Project&#8217;s purpose in collecting non-personally identifying information is to better understand how Secret Project&#8217;s visitors use its website. From time to time, Secret Project may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>

            <p>Secret Project also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users<!-- and for users leaving comments on WordPress.com blogs -->. <!-- Secret Project only discloses logged in user IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below, except that blog commenter IP addresses and email addresses are visible and disclosed to the administrators of the blog where the comment was left. --></p>

            <h3>Gathering of Personally-Identifying Information</h3>
            <p>Certain visitors to Secret Project’s websites choose to interact with Secret Project in ways that require Secret Project to gather personally-identifying information. The amount and type of information that Secret Project gathers depends on the nature of the interaction. For example, we ask visitors who sign up for an account at <a href="https://circleblvd.org/">CircleBlvd.org</a> to provide a name and email address. Those who engage in transactions with Secret Project – by donating to Circle Blvd., for example – are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, Secret Project collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with Secret Project. Secret Project does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>

            <h3>Aggregated Statistics</h3>
            <p>Secret Project may collect statistics about the behavior of visitors to its websites. For instance, Secret Project may monitor the most popular pages on the CircleBlvd.org site<!--  or use spam screened by the Akismet service to help identify spam -->. Secret Project may display this information publicly or provide it to others. However, Secret Project does not disclose personally-identifying information other than as described below.</p>

            <h3>Protection of Certain Personally-Identifying Information</h3>
            <p>Secret Project discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Secret Project’s behalf or to provide services available at Secret Project’s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Secret Project’s websites, you consent to the transfer of such information to them. Secret Project will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Secret Project discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when Secret Project believes in good faith that disclosure is reasonably necessary to protect the property or rights of Secret Project, third parties or the public at large. If you are a registered user of an Secret Project website and have supplied your email address, Secret Project may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with Secret Project and our products. We primarily use our various product blogs to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Secret Project takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>

            <h3>Cookies</h3>
            <p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Secret Project uses cookies to help Secret Project identify and track visitors, their usage of Secret Project website, and their website access preferences. Secret Project visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Secret Project’s websites, with the drawback that certain features of Secret Project’s websites may not function properly without the aid of cookies.</p>

            <h3>Business Transfers</h3>
            <p>If Secret Project, or substantially all of its assets, were acquired, or in the unlikely event that Secret Project goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Secret Project may continue to use your personal information as set forth in this policy.</p>

            <h3>Ads</h3>
            <p>Ads appearing on any of our websites may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Secret Project and does not cover the use of cookies by any advertisers.</p>

            <!-- <h3>Comments</h3>
            <p>Comments and other content submitted to our Akismet anti-spam service are not saved on our servers unless they were marked as false positives, in which case we store them long enough to use them to improve the service to avoid future false positives.</p> -->

            <h3>Privacy Policy Changes</h3>
            <p>Although most changes are likely to be minor, Secret Project may change its Privacy Policy from time to time, and in Secret Project’s sole discretion. Secret Project encourages visitors to frequently check this page for any changes to its Privacy Policy. If you have a CircleBlvd.org account, you should also check your circle’s dashboard for alerts to these changes. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>        

            <h3>Change Log</h3>
            <ul>
                <li><em>October 28, 2014:</em> Initial draft, based on version from <a href="http://automattic.com/privacy/">Automattic.com</a>.</li>
            </ul>

        </div>
        </div>