extends layout-simple

append stylesheets
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(href='/css/start.css' rel='stylesheet' type='text/css')

block view
    .signin(ng-controller="SignInCtrl")
       .welcome.signin-section
            .col-sm-offset-2.col-sm-8
                h1 Circle&nbsp;Blvd.
                form
                    p Welcome back. Sign in here, or <a href="/entrance">create an account</a> at the front entrance.
                    div
                        input.form-control(type="text" ng-model="user.email" placeholder="Email address")
                    div
                        input.form-control(type="password" ng-model="user.password" placeholder="Password")
                   
                    .actionRow
                        .checkbox-inline.remember.pull-left
                            label.relax
                                input(type="checkbox" ng-model="rememberMe") 
                                span Remember me
                        button.btn.btn-default.pull-right(type="submit" ng-click="signIn()") Sign in 

            .col-sm-offset-2.col-sm-8
                .clear.message(ng-cloak) {{message}} 
                    span(ng-show="signinFailure && isNotificationEnabled()") <a class="jsLink" ng-click="sendSecret()">Forgot password</a>?


        .donate
            .col-sm-offset-2.col-sm-8.clear.donate-section
                img(src="/img/logo-on-black-76px.png")
                .links
                    span <a href="/tour">tour</a>
                     | . 
                    span <a href="/about">about</a>
                     | . 
                    span(ng-show="isPaymentEnabled()") <a href="/partner">partner</a> . 
                    span a <a href="http://holmwell.com">holmwell</a> project