extends layout-simple

block header
    include ../inc/header

block view
    .content(ng-controller="SponsorCtrl")
        .col-sm-offset-2.col-sm-8.sponsor
            h3 Be a sponsor
            p.
                Much has been done to complete the first draft of the site you are visiting. 
                We are now ready for a small, but sizeable audience.
            p.
                To guarantee a future for Circle Blvd and 
                <a href="http://secretproject.org">Secret Project</a>, our first financial 
                goal is to reach $2,000 in revenues per month, or about 100 individuals 
                contributing $20 per month.

            div(ng-show="!isSignedIn()")
                p.
                    To sponsor Circle Blvd, please <a href="/signin/#/sponsor">sign in</a>. 
                    To make a one-time donation without creating an account, please visit 
                    our <a href="/donate">donation</a> page.

            div(ng-show="isSignedIn()")
                p Thank you for your support.
                .row.clear
                    .donations(ng-show="supportsPayments")
                        .row.plans
                            div(ng-repeat="plan in plans")
                                .col-sm-4.plan(ng-class="{active: (activePlan === plan)}" ng-click="setPlan(plan)")
                                    div(ng-if="plan.name === 'Supporter'")
                                        span.support-circle
                                    div(ng-if="plan.name === 'Organizer'")
                                        span.support-circle
                                        span.support-circle
                                        span.support-circle
                                    div(ng-if="plan.name === 'Patron'")
                                        span.support-circle
                                        span.support-circle
                                        span.support-circle
                                        span.support-circle
                                        span.support-circle
                                    .name {{plan.name}}
                                    .amount {{plan.displayAmount}} per month

                        .col-sm-3.checkout
                            button.btn.btn-default(ng-click="openStripeCheckout($event)") Save sponsorship

                        p.col-sm-4.subtle.cancel(ng-show="activePlan.name")
                            a.jsLink.subtle(ng-click="cancelSubscription()") cancel sponsorship

append bottom
    script(src="https://checkout.stripe.com/checkout.js")