extends layout-simple

block view
    div
        .content.prelude-content
            .col-sm-offset-2.col-sm-8.tips
                h2 How to be the fastest

                h3 Keyboard shortcuts, when highlighting tasks
                ul
                    li <strong>d</strong> <span class="glyphicon glyphicon-arrow-right"></span> mark as done 
                    li <strong>o</strong> <span class="glyphicon glyphicon-arrow-right"></span> mark as "on it"
                    li <strong>w</strong> <span class="glyphicon glyphicon-arrow-right"></span> "will do"
                    li <strong>?</strong> <span class="glyphicon glyphicon-arrow-right"></span> clear task status
                ul
                    li <strong>t</strong> <span class="glyphicon glyphicon-arrow-right"></span> take ownership of task
                ul
                    li Cut with Cmd-X (or Ctrl-X)
                    li Paste with Cmd-V (or Ctrl-V)
                    li Clear selection with Esc
                ul
                    li Blocks of tasks can be highlighted with a keyboard or a mouse
                    li Arrow keys will change your selection

                h3 Task entry shortcuts
                ul
                    li Ending a line with ...
                        ul
                            li <strong>@@</strong> assigns task to you
                            li <strong>@Name</strong> assigns to Name
                            li <strong>!</strong> marks task as "will do"
                            li <strong>!!</strong> marks as done
                            li <strong>@@!!</strong> assigns task to you and marks as done
                    li Starting a line with ...
                        ul
                            li -- (two minus signs) creates milepost

                h3.before-video 60-second whirlwind tour

                .embed-container
                    iframe(src="//www.youtube-nocookie.com/embed/6pgBgTjCh6E?rel=0" frameborder="0" allowfullscreen)
