extends layout-simple

block view
    div
        .content.prelude-content
            .col-sm-offset-2.col-sm-8.tips
                h2 How to be the fastest

                h3 Keyboard shortcuts, when highlighting tasks
                ul
                    li d <span class="glyphicon glyphicon-arrow-right"></span> mark as done 
                    li o <span class="glyphicon glyphicon-arrow-right"></span> mark as "on it"
                    li w <span class="glyphicon glyphicon-arrow-right"></span> "will do"
                    li ? <span class="glyphicon glyphicon-arrow-right"></span> clear task status
                ul
                    li Cut with Cmd-X (or Ctrl-X)
                    li Paste with Cmd-V (or Ctrl-V)
                    li Clear selection with Esc
                ul
                    li Blocks of tasks can be highlighted with a keyboard or a mouse
                    li Arrow keys will change your selection

                h3 Task entry shortcuts
                ul
                    li Ending a line with ...
                        ul
                            li @@ assigns task to you
                            li @Name assigns to Name
                            li ! marks task as "will do"
                            li !! marks as done
                            li @@!! assigns task to you and marks as done
                    li Starting a line with ...
                        ul
                            li -- creates milepost

                h3.before-video 60-second whirlwind tour

                .embed-container
                    iframe(src="//www.youtube-nocookie.com/embed/6pgBgTjCh6E?rel=0" frameborder="0" allowfullscreen)
