<h2>Administration!</h2>

<ul id="userList">
	<li ng-repeat="user in users">
		<div>
			<div class="name">{{user.name}}</div>
			<div class="email">{{user.email}}</div>
			<div class="roles">{{user.roles}}</div>
		</div>
	</li>
</ul>

<form>
<input type="text" ng-model="userName" placeholder="Display name"/>
<input type="email" ng-model="userEmail" placeholder="Email"/>
<input type="password" ng-model="userPassword" placeholder="Password"/>

<button class="btn" ng-click="addUser(userName, userEmail, userPassword)">Add user</button>
</form>


