<div id="backlog" class="col-xs-12 archives">
	<div class="storyWrapper row no-select" ng-repeat="archive in archives">
		<div class="archive col-xs-12 col-sm-offset-2 col-sm-8 no-select" 
		ng-click="select(archive)"
		ng-class="{ 
			selected: archive.isSelected, 
			deadline: archive.isDeadline 
		}">
			<div ng-hide="archive.isSelected">
				<span class="text-select">{{archive.summary}}</span>
			</div>

			<div ng-if="archive.isSelected" class="text-select">
				<div class="summary">
					{{archive.summary}}
					<div class="deselect pull-right"><a ng-click="deselect(archive)">Hide details</a></div>
				</div>

				<div ng-hide="archive.isDeadline">
					<div>Owner: {{archive.owner}}</div>
					<div>Status: {{archive.status}}</div>
					<div>Created by: {{archive.createdBy.name}}</div>
				</div>

				<div class="description">
					<div>Description:</div>
					<div class="preformatted">{{archive.description}}</div>
				</div>

				<div class="commentArea" ng-if="!(archive.isNextMeeting || archive.isDeadline)">
					<div class="commentHeading">Comments:</div>
					<div class="comment" ng-repeat="comment in archive.comments | reverse" ng-class-odd="'odd'">
						<div class="text" append-linky ng-model="comment.text"><span class="name">{{comment.createdBy.name}}: </span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs col-sm-2">&nbsp;</div>
	</div>
</div>