<!-- <button ng-click="test()">Test</button> -->

<div ng-cloak ng-show="isBacklogBroken" class="brokenHeading col-xs-offset-2 col-xs-8">
	<h4>Something is broken, but you can help</h4>
	<p>Hi! Sorry, Circle Blvd is broken &ndash; it's not you, it's me, Phil.</p>
	<p>It might be easy to fix, though!</p>
	<p><a href="#/fix">Follow this link</a>, please.</p>
</div>

<!-- Temporarily hide things on xs unti we get the story list done. -->
<div class="entry-facade col-xs-12 col-lg-offset-2 col-lg-8 no-select" ng-hide="isAddingNew || isBacklogBroken">
	<div class="row entry-facade-container">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 debug show-entry">
		+ <a ng-click="showEntry()" class="jsLink text-select">Add story</a>
		</div>

		<div class="hidden-xs col-sm-2 col-lg-2 alt-mode" 
			ng-class="{alt: isManualAltMode || isAltMode}"
			ng-click="toggleAltMode()" title="inbox mode"><i class="glyphicon glyphicon-align-justify"></i></div>
	</div>
</div>

<div class="entry col-xs-12 col-lg-offset-2 col-lg-8" ng-show="isAddingNew">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 debug">
			<ul class="entry-nav nav nav-pills row">
				<li ng-class="{ active: isAdding['story'] }">
					<a class="jsLink" ng-click="showEntry('story')">Story</a>
				</li>
				<li ng-class="{ active: isAdding['deadline'] }">
					<a class="jsLink" ng-click="showEntry('deadline')">Milepost</a>
				</li>
				<li class="pull-right">
					<a ng-click="hideEntry()" class="jsLink subtle">Hide entry</a>
				</li>
			</ul>

			<div ng-show="isAdding['story']" class="debug new-story row">
				<form>
					<div class="input-group">
						<input id="storyEntry" type="text" class="form-control" ng-model="newStory.summary" />
						<span class="input-group-btn">
							<button class="btn btn-default pull-right" ng-click="create(newStory)">Add story</button>
						</span>
					</div>
				</form>
			</div>

			<div ng-show="isAdding['deadline']" class="debug row new-story after-meeting deadline" >
				<form>
					<div class="input-group">
						<input id="deadlineEntry" type="text" class="form-control" ng-model="newDeadline.summary"/>
						<span class="input-group-btn">
							<button class="btn btn-default pull-right" ng-click="createDeadline(newDeadline)">Add milepost</button>
						</span>
					</div>
				</form>
			</div>
		</div>

		<div class="hidden-xs col-sm-2 col-lg-2 alt-mode" 
		ng-class="{alt: isManualAltMode || isAltMode}"
		ng-click="toggleAltMode()" title="inbox mode"><i class="glyphicon glyphicon-align-justify"></i></div>
	</div>
</div>

<div id="backlog" class="col-xs-12 col-lg-offset-2 col-lg-8 debug">
	<div class="storyWrapper row debug no-select" ng-repeat="story in stories"
		ng-hide="(isAltMode || isManualAltMode)
		&& (!story.isMoving 
		&& story.isAfterNextMeeting
		&& !story.isDeadline 
		&& !story.isNextMeeting)" data-story-id="{{story.id}}">

		<div class="hidden-xs col-sm-2 col-lg-2 debug">
			<div class="backlog-mine col-xs-9 col-lg-9 debug"
				ng-class="{done: isStoryDone(story)}">
				<div ng-show="isStoryMine(story)" ng-click="bumpStatus(story)">
					<i class="bump-status debug glyphicon glyphicon-record" 
					ng-hide="isStoryDone(story)"></i>
					<i class="arrow glyphicon glyphicon-arrow-right debug"
					ng-show="isStoryDone(story)"></i>
				</div>
			</div>
			<div class="backlog-status col-xs-3 col-lg-3 debug no-select">
				<i class="done-status" ng-show="story.isDeadline && !story.isAfterNextMeeting" 
				ng-click="archive(story)" title="archive deadline"></i>
				<i class="done-status" ng-show="isStoryDone(story)" ng-click="archive(story)" 
				title="archive story"></i>
				<i class="active-status" ng-show="isStoryActive(story)"></i>
				<i class="sad-status glyphicon glyphicon-stop" 
				ng-show="isStorySad(story)"></i>
				<i class="new-status glyphicon glyphicon-gift"
				ng-show="(isStoryNew(story) && isStoryMine(story))"></i>
			</div>
		</div>

		<div class="story col-xs-12 col-sm-8 col-lg-8 debug no-select" ng-class="{ 
				selected: story.isSelected, 
				'not-selected': !story.isSelected,
				first: story.isFirstStory,
				'first-at-load': story.isFirstAtLoad,
				deadline: story.isDeadline,
				'next-meeting': story.isNextMeeting,
				'after-meeting': story.isAfterNextMeeting
			}"
			ng-click="select(story)">
			<div ng-if="story.isSelected" class="text-select">
				<form>
					<div class="summary row">
						<div class="visible-xs col-xs-12">
							<div class="deselect"><a class="subtle jslink" ng-click="deselect(story, $event)">Hide details</a></div>
						</div>
						<div class="col-xs-12 col-sm-9 summary-input">
							<input id="boxForStory{{story.id}}" class="form-control"
						type="text" ng-model="story.summary"/></div>
						<div class="hidden-xs col-sm-3">
							<div class="deselect"><a ng-click="deselect(story, $event)">Hide details</a></div>
						</div>
					</div>

					<div class="top-info" ng-hide="story.isNextMeeting || story.isDeadline">
						<div class="owner">Who's doing this?
							<!-- autocomplete="off"  -->
							<input type="text" ng-model="story.owner" typeahead-owners 
							class="typeahead form-control" />
						</div>
						<div class="owner-placeholder">&gt;.^_^.&lt;</div>
					</div>

					<div class="description">
						<div>What are the details?
							<div class="created-by pull-right" ng-show="story.createdBy">
								story created by {{story.createdBy.name}}
							</div>
						</div>
						<div class="textarea-container">
							<textarea autosize ng-model="story.description" class="form-control" />
						</div>
					</div>

					<div class="status" ng-hide="story.isNextMeeting || story.isDeadline">How's it going?
						<div class="row">
							<div class="col-xs-4 col-sm-2 debug">
								<a ng-class="{ active: isStorySad(story) }"
								ng-click="setStoryStatus(story, 'sad')"
								class="btn btn-default sad form-control">:-(</a>
							</div>
							<div class="col-xs-4 col-sm-1 wider debug">
								<a ng-class="{ active: isStoryNew(story) }"
								ng-click="setStoryStatus(story, '')"
								class="btn btn-default question neutral form-control">
								<span class="txt">?</span></a>
							</div>
							<div class="col-xs-4 col-sm-3 wider">
								<a ng-class="{ active: isStoryAssigned(story) }"
								ng-click="setStoryStatus(story, 'assigned')"
								class="btn btn-default neutral form-control">:-)</a>
							</div>
							<div class="hidden-xs col-sm-3 wider">
								<a ng-class="{ active: isStoryActive(story) }"
								ng-click="setStoryStatus(story, 'active')"
								class="btn btn-default in-progress form-control">:-) :-)</a>
							</div>
							<div class="col-xs-6 visible-xs">
								<a ng-class="{ active: isStoryActive(story) }"
								ng-click="setStoryStatus(story, 'active')"
								class="btn btn-default in-progress form-control">:-) :-)</a>
							</div>
							<div class="col-xs-6 col-sm-3 wider">
								<a ng-class="{ active: isStoryDone(story) }"
								ng-click="setStoryStatus(story, 'done')"
								class="btn btn-default done form-control">Done!</a>
							</div>
						</div>
					</div>

					<div class="commentArea" ng-if="!(story.isNextMeeting || story.isDeadline)">
						<div class="commentHeading">Questions or comments?</div>
						<div class="textarea-container">
							<textarea autosize placeholder="Add comment or link ..." ng-model="story.newComment" class="form-control"/>
						</div>

						<button class="saveBtn pull-right topSaveBtn btn btn-default" type="submit" ng-click="save(story)">Save</button>
						<div class="comment" ng-repeat="comment in story.comments | reverse" ng-class-odd="'odd'">
							<div class="text" append-linky ng-model="comment.text"><span class="name">{{comment.createdBy.name}}: </span></div>
						</div>
					</div>

					<div class="action-buttons">
						<button ng-hide="story.isNextMeeting" class="hidden-xs removeBtn" type="button" ng-click="remove(story)">Remove story</button>
						<button ng-show="story.isNextMeeting || story.isDeadline" class="saveBtn pull-right btn btn-default" type="submit" ng-click="save(story)">Save</button>
					</div>
				</form>
			</div>

			<div class="row no-select hidden-xs" ng-show="!story.isSelected" id="story-{{$index}}">
				<div class="col-sm-10 col-lg-10 paddy">
					<div class="text-select summary"
					ng-class="{mine: isStoryMine(story)}">{{story.summary}}</div>
				</div>
				<div class="col-sm-2 col-lg-2 grippy">
					<div class="pull-right grippy-viz">
						<span class="grippy-bar top"></span>
						<span class="grippy-bar"></span>
						<div class="row">
							<div class="col-sm-offset-5 col-lg-offset-5">
								<div class="glyphicon glyphicon-move">&nbsp;</div>
							</div>
						</div>
						<span class="grippy-bar top"></span>
						<span class="grippy-bar"></span>
					</div>
				</div>
			</div>

			<div ng-hide="story.isSelected" 
				class="row no-select phone-row hidden-sm hidden-md hidden-lg" 
				ng-class="{mine: isStoryMine(story)}"
				 id="story-{{$index}}">
				<div class="col-xs-11 paddy">
					<div class="phone-backlog-status col-xs-2 debug no-select">
						<i class="done-status" ng-show="story.isDeadline && !story.isAfterNextMeeting" 
						ng-click="archive(story)" title="archive deadline"></i>
						<i class="done-status" ng-show="isStoryDone(story)" ng-click="archive(story)" 
						title="archive story"></i>
						<i class="active-status" ng-show="isStoryActive(story)"></i>
						<i class="sad-status glyphicon glyphicon-stop" 
						ng-show="isStorySad(story)"></i>
						<i class="new-status glyphicon glyphicon-gift"
						ng-show="(isStoryNew(story) && isStoryMine(story))"></i>
					</div>
					<div class="text-select phone-summary col-xs-10">
						<span>{{story.summary}}</span>
					</div>
				</div>
				<div class="col-xs-1 grippy">
					<div class="pull-right grippy-viz">
						<span class="grippy-bar top"></span>
						<span class="grippy-bar"></span>
						<div class="row">
							<div class="col-xs-offset-5">
								<div class="glyphicon glyphicon-move">&nbsp;</div>
							</div>
						</div>
						<span class="grippy-bar top"></span>
						<span class="grippy-bar"></span>
					</div>
				</div>
			</div>

		</div>

		<div class="backlog-owner hidden-xs col-sm-2 col-lg-2 debug no-select" 
			ng-class="{'after': story.isAfterNextMeeting}"
			ng-click="select(story)">
			<span class="text-select">{{story.owner}}</span><span ng-show="isStoryNew(story)">?</span>
			<div 
				class="notify" 
				ng-class="{ notified: story.isOwnerNotified }"
				ng-show="story.owner && isStoryNew(story)"
				title="notify owner"><i class="glyphicon glyphicon-envelope" ng-click="notify(story, $event)"></i>
				<span ng-show="story.isNotifying">o</span>
				<i ng-show="story.isOwnerNotified" title="ok!" class="glyphicon glyphicon-ok"></i>
			</div>
		</div>
	</div> <!-- ng-repeat -->
</div> <!-- backlog -->
