<!-- <button ng-click="debug()">Debug</button>
<button ng-click="resetStories()">Reset stories</button> -->
<div class="entry" ng-hide="isAddingNew">
	<div class="offset2 span6 show-entry">
	+ <a ng-click="showEntry()" class="jsLink">Add story</a>
	</div>
</div>

<div class="entry" ng-show="isAddingNew">
	<div class="offset2 span6">
		<ul class="entry-nav nav nav-pills">
			<li ng-class="{ active: isAdding['story'] }">
				<a class="jsLink" ng-click="showEntry('story')">Story</a>
			</li>
			<li ng-class="{ active: isAdding['deadline'] }">
				<a class="jsLink" ng-click="showEntry('deadline')">Deadline</a>
			</li>
			<!-- <li><a class="jsLink">Discussion</a></li> -->
			<li class="pull-right">
				<a ng-click="hideEntry()" class="jsLink subtle">Hide entry</a>
			</li>
		</ul>

		<div ng-show="isAdding['story']" class="new-story">
			<form>
				<div class="input-group">
					<input id="defaultEntry" type="text" class="input-xlarge" ng-model="newStory.summary"/>
					<span class="input-group-btn">
						<button class="btn pull-right" ng-click="create(newStory)">Add story</button>
					</span>
				</div>
			</form>
		</div>

		<div ng-show="isAdding['deadline']" 
			class="new-story after-meeting deadline" >
			<form>
				<input type="text" class="input-xlarge" ng-model="newDeadline.summary"/>
				<button class="btn pull-right" ng-click="createDeadline(newDeadline)">Add deadline</button>
			</form>
		</div>

	<!-- 	<div class="span6">
			<div class="pull-right"><a ng-click="hideEntry()" class="jsLink">Done adding stories</a></div>
		</div> -->
	</div>
</div>

<div id="backlog" ng-click="deselectAll()" class="offset2 clear">
	<div class="storyWrapper row" ng-repeat="story in stories" data-story-id="{{story.id}}">
		<div class="backlog-status span1">
			<i class="icon-ok" ng-show="isStoryDone(story)"></i>
			<i class="icon-play" ng-show="isStoryActive(story)"></i>
		</div>
		<div class="story span6" ng-class="{ 
			selected: story.isSelected && !story.isDeadline, 
			'not-selected': !story.isSelected,
			first: story.isFirstStory,
			deadline: story.isDeadline,
			'next-meeting': story.isNextMeeting,
			'after-meeting': story.isAfterNextMeeting
		}"
		ng-click="select(story)">

	<!-- 		<div class="span2 story-id">{{story.id | slice:5 }} (next: {{story.nextId | slice:5}}) </div> -->
			<div class="selected" ng-show="story.isSelected">
				<form>
					<div class="summary">
						<input id="boxForStory{{story.id}}" class="input-xlarge"
						type="text" ng-model="story.summary"/>
						<div class="deselect pull-right"><a ng-click="deselect(story)">Hide details</a></div>
					</div>

					<div class="top-info" ng-hide="story.isNextMeeting || story.isDeadline">
						<div class="owner">Who's probably doing this?
							<input type="text" ng-model="story.owner"/>
						</div>
						<div class="status">What's up?
							<select ng-model="story.status">
								<option value="">(I don't know)</option>
								<option value="assigned">I've seen this task</option>
								<option value="active">I'm working on it</option>
								<option value="done">It's done</option>
							</select>
						</div>
					</div>

					<div class="description">
						<div>What should we know?</div>
						<textarea ng-model="story.description" />
					</div>

					<div class="created-by" ng-show="story.createdBy">story created by {{story.createdBy.name}}</div>

					<div class="action-buttons">
						<button ng-hide="story.isNextMeeting" class="removeBtn" type="button" ng-click="remove(story)">Remove</button>
						<button class="saveBtn pull-right" type="submit" ng-click="save(story)">Save</button>
					</div>
				</form>
			</div>
			<span class="not-selected" ng-show="!story.isSelected">{{story.summary}}</span>
		</div>

		<div class="backlog-owner span2" ng-class="{ 
			'after': story.isAfterNextMeeting
		}"
		ng-click="select(story)">{{story.owner}}<span ng-show="isStoryNew(story)">?</span></div>
	</div> <!-- ng-repeat -->
</div> <!-- backlog -->
