<p>:-)</p>

<div id="new-story" class="story">
	<form>
		<span>+</span>
		<input type="text" 
			ng-model="newStory.summary"/>
		<button class="btn" ng-click="create(newStory)">Add story</button>
	</form>
</div>
<div id="backlog" ng-click="deselectAll()">
	<div class="story" ng-repeat="story in stories" ng-click="select(story)"
		ng-class="{ 
			selected: story.isSelected, 
			'not-selected': !story.isSelected 
		}">
		<span>{{story.id}}</span>
		<span class="selected" ng-show="story.isSelected">
			<input id="boxForStory{{story.id}}" type="text" ng-model="story.summary"/>
		</span>
		<span class="not-selected" ng-show="!story.isSelected">{{story.summary}}</span>
	</div>
</div>
