<h3>Mainframe controls!</h3>

<p ng-show="!isSignedIn()">Please <a href="#/signin">sign in</a>.</p>

<div ng-show="isSignedIn()">

<form id="circleForm">
	<h4>Circles</h4>
	<div><input type="text" ng-model="circle.name" placeholder="Circle name"/></div>
	<div><input type="email" ng-model="circle.adminEmail" placeholder="Admin email address"/></div>
	<div><button class="btn" ng-click="addCircle(circle)">Add circle</button></div>
	<div class="adminList">
		<div ng-repeat="circle in circles" ng-class-odd="'odd'">
			<div class="row">
				<div class="span3">{{circle.name}}</div>
			</div>
		</div>
	</div>
</form>


<h4 id="settingForm">Settings</h4>
<div class="adminList">
	<div ng-repeat="setting in settings" class="setting-row" ng-class-odd="'odd'">
		<form ng-show="!isBooleanSetting(setting)">
			<div class="row">
				<label class="name span2">{{setting.name}}</label>
				<div class="span3" ng-hide="setting.visibility === 'secret'">
					<input type="text" ng-model="setting.value" placeholder="Value"/>
				</div>
				<div class="span3" ng-show="setting.visibility === 'secret'">
					<input type="password" ng-model="setting.value" placeholder="(secret)"/>
				</div>
				<div class="name span2">{{setting.visibility}}</div>
				<div class="span2">
					<button class="btn" ng-click="updateSetting(setting)">Save</button>
				</div>
			</div>
		</form>


		<form ng-show="isBooleanSetting(setting)">
			<div class="row">
				<label class="name span2">{{setting.name}}</label>
				<div class="span3">
					<input type="checkbox" ng-model="setting.value"/>
				</div>
				<div class="name span2">{{setting.visibility}}</div>
				<div class="span2">
					<button class="btn" ng-click="updateSetting(setting)">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>

</div>


