<div class="content">
<div ng-show="!isSignedIn()">
	<h3>Profile</h3>
	<p>Please <a href="#/signin">sign in</a>.</p>
</div>

<div ng-show="isSignedIn()" class="profile">
	<div class="col-sm-offset-1 row clear basics">
		<h5 class="col-xs-12">Name</h5>
		<div class="col-sm-6"><input ng-model="name" type="text" class="form-control" placeholder="Name"/></div>

		<h5 class="col-xs-12">Email for signing in</h5>
		<div class="col-sm-6"><input ng-model="email" type="text" class="form-control" placeholder="Email"/></div>
		<p>{{messages.user}}</p>

		<h5 class="col-xs-12">Email for notifications</h5>
		<div class="col-sm-6"><input ng-model="notificationEmail" type="email" class="form-control"/></div>
		<div class="col-sm-6 input-aligned">People can see this address.</div>
		<div class="col-xs-12">
			<button class="btn btn-default" 
			ng-click="updateNotificationEmail(notificationEmail)">Save changes</button> 
			<p class="message">{{messages.notificationEmail}}</p>
		</div>
	</div>
		

	<div class="col-sm-offset-1 row clear">
		<div class="donations" ng-show="supportsPayments">
			<h5 class="col-xs-12">Subscription plan</h5>
			<div class="row plans">
				<div ng-repeat="plan in plans">
					<div class="col-sm-3 plan" 
						ng-class="{active: (activePlan === plan)}" 
						ng-click="setPlan(plan)">
						<div ng-if="plan.name === 'Supporter'">
							<span class="support-circle"></span>
						</div>
						<div ng-if="plan.name === 'Organizer'">
							<span class="support-circle"></span>
							<span class="support-circle"></span>
							<span class="support-circle"></span>
						</div>
						<div ng-if="plan.name === 'Patron'">
							<span class="support-circle"></span>
							<span class="support-circle"></span>
							<span class="support-circle"></span>
							<span class="support-circle"></span>
							<span class="support-circle"></span>
						</div>
						<div class="name">{{plan.name}}</div>
						<div class="amount">{{plan.displayAmount}} per month</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 checkout"><button class="btn btn-default" ng-click="openStripeCheckout($event)">Save subscription</button></div>

			<p ng-show="activePlan.name" 
			class="col-sm-3 subtle cancel"><a 
			class="jsLink subtle" ng-click="cancelSubscription()">cancel subscription</a></p>
		</div>
	</div>

	<div class="col-sm-offset-1 row password clear">
		<h5 class="col-xs-12">Change password</h5>
		<div class="col-sm-6 clear"><input ng-model="pass1" type="password" placeholder="New password" class="form-control"></div>
		<div class="col-sm-6 clear"><input ng-model="pass2" type="password" placeholder="Again" class="form-control"></div>
		<div class="col-sm-6 clear">
			<button class="btn btn-default" ng-click="updatePassword(pass1, pass2)">Save password</button>
			<p class="message">{{messages.password}}</p>
		</div>
		
	</div>
</div>
</div>