<h3>Profile</h3>

<p ng-show="!isSignedIn()">Please <a href="#/signin">sign in</a>.</p>

<div ng-show="isSignedIn()">

	<div class="row">
		<div class="span3"><input ng-model="name" type="text"/></div>
		<div class="span3"><input ng-model="email" type="text"/></div>
		<div class="span2"><button class="btn" ng-click="updateUser(name, email)">Save</button></div>
	</div>
	<p>{{messages.user}}</p>

	<h5>Email address used for notifications</h5>
	<div class="row">
		<div class="span3"><input ng-model="notificationEmail" type="email"/></div>
		<div class="span3 input-aligned">People can see this address.</div>
		<div class="span2">
			<button class="btn" 
			ng-click="updateNotificationEmail(notificationEmail)">Save</button> 
		</div>
	</div>
	<p>{{messages.notificationEmail}}</p>

	<h5>Change password</h5>
	<div class="row">
		<div class="span3"><input ng-model="pass1" type="password" placeholder="New password"></div>
		<div class="span3"><input ng-model="pass2" type="password" placeholder="Again"></div>
		<div class="span2"><button class="btn" ng-click="updatePassword(pass1, pass2)">Update</button></div>
	</div>
	<p>{{messages.password}}</p>

	<div class="donations" ng-show="supportsPayments">
		<h5>Subscription plan</h5>
		<div class="row plans">
			<div ng-repeat="plan in plans">
				<div class="span2 plan" 
					ng-class="{active: (activePlan === plan)}" 
					ng-click="setPlan(plan)">
					<div ng-if="plan.name === 'Supporter'">
						<span class="support-circle"></span>
					</div>
					<div ng-if="plan.name === 'Organizer'">
						<span class="support-circle"></span>
						<span class="support-circle"></span>
						<span class="support-circle"></span>
					</div>
					<div ng-if="plan.name === 'Patron'">
						<span class="support-circle"></span>
						<span class="support-circle"></span>
						<span class="support-circle"></span>
						<span class="support-circle"></span>
						<span class="support-circle"></span>
					</div>
					<div class="name">{{plan.name}}</div>
					<div class="amount">{{plan.displayAmount}} per month</div>
				</div>
			</div>
			<div class="span2 checkout"><button class="btn" ng-click="openStripeCheckout($event)">Checkout</button></div>
		</div>

		<p ng-show="activePlan.name" class="span6 subtle cancel"><a class="jsLink subtle" ng-click="cancelSubscription()">cancel subscription</a></p>
	</div>
</div>


