<div class="row">
	<form class="span4">
		<p>Welcome to Circle Boulevard.</p>
		<div><input type="text" ng-model="user.email" placeholder="Email address"/></div>
		<div><input type="password" ng-model="user.password" placeholder="Password"/></div>
		<div class="span3 actionRow">
			<div class="checkbox pull-left remember">
				<label><input type="checkbox" ng-model="rememberMe"/>Remember me</label>
			</div>
			<button class="btn pull-right" type="submit" ng-click="signIn()">Sign in</button> 
		</div>
	</form>

	<div class="span6" ng-show="isDemo">
		<p>To preview the site, please sign in:</p>
		<ul>
			<li>demo@circleblvd.org</li>
			<li>Password: public</li>
		</ul>
	</div>
</div>
<div>{{message}}</div>