**/.DS_Store
*.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

typings

node_modules
npm-debug.log

server/front-end/public/_js