/* app css stylesheet */
.highlight {
  background-color: yellow !important;
}
.broken {
  background-color: pink !important;
}
.suggestion {
  background-color: mediumturquoise;
  padding: 3ex;
  padding-top: 1ex;
}
.suggestion .btn, .brokenHeading .btn {
  margin-top: 1ex;
}
.brokenHeading {
  background-color: antiquewhite;
  padding: 3ex;
  padding-top: 1ex;
}


.container {
  background: white;
  padding: 3em;
  padding-top: 0;
  padding-right: 1.75ex;
  padding-left: 1.75ex;

  width: 1100px !important;  

    /* horizontal offset, vertical offset, thickness, fade */
/*    -webkit-box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
    box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);*/
}




/* home */
#storyList {
  position: relative;
}

#storyList #mileposts-wrapper {
  position: absolute;
  top: 1ex;
  right: 0;
  width: 290px;
}

#storyList #mileposts {
  position: fixed;
  width: 270px;
  /*top: 100px;
  *//*right: 10%;*/
}

.dragHelper #highlightedTools {
  display: none;
}
#highlightedTools {
  position: absolute;
  left: -2ex; /* this is flush */
  border: none;
  /*border-right: 1px dotted #ccc;*/
  z-index: 10000;
}
#highlightedTools h6 {
  color: #aaa;
  padding: 0;
  margin: 0;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  text-align: center;
}
#highlightedTools .tools {
  color: #ddd;
  padding: 1.6ex;
}
#highlightedTools .regularTools {
  margin-top: -2.05em;
}
#highlightedTools .glyphicon {
  padding-right: 0.5ex;
}
#highlightedTools .jsLink {
  margin-bottom: 1ex;
}
#highlightedTools .jsLink a {
  color: #ddd;
}
#highlightedTools .jsLink:hover,
#highlightedTools .jsLink a:hover {
  color: #888;
  text-decoration: none;
}
#highlightedTools .done {
  display: inline-block;

  /*border: solid 1px transparent;*/
  width: 18px;
  height: 18px;
  margin-top: -0.25ex;
  margin-left: -0.35ex;
  margin-right: 0.35ex;
  
  vertical-align: text-top;  
  /*opacity: 0.2;*/
}
#highlightedTools .jsLink:hover .done .icon-status {
  stroke: #888;
}

#backlog {
  padding-top: 1ex;
  padding-right: 1.5ex;
}
/* TODO: .storyWrapper should have no styles;
 use only for drag-and-drop. */
.storyWrapper, .filterWrapper {
  padding-left: 1ex;
  position: static;
}
.story, 
.archive {
  color: #222;
  background-color: #ddd;
  background-color: rgb(255, 219, 129);
  background-color: #ffe7b0;
/*  background-color: #00BFFF;
  background-color: #D3BAC1;
  background-color: #6B5E62; color: #eee;
  background-color: #DBF6FF; color: #222;
  background-color: #dd7; color: #222;
  background-color: #E2A89C;
  background-color: #392F5A; color: #eee;*/

  padding: 0.5ex;
  padding-left: 1.5ex;
  margin-bottom: 0.5em;
  min-width: 200px;
  cursor: pointer;
}
#mileposts .story {
  cursor: pointer;
}
.selected {
  cursor: default;
}
.selected {
  background-color: #eee;
/*  background-color: #6B5E62;
  background-color: #B7A1A8;*/
}
.placeholder-story {
  opacity: 0.25;
}

.grippy:active .grippy-viz .grippy-bar {
  background-color: #888;
  background-color: #FEC849;
  background-color: rgb(255, 219, 129);
}
.grippy:active .grippy-viz .glyphicon {
  color: #888;
  background-color: rgb(255, 219, 129);
}
.next-meeting .grippy:active .grippy-viz .grippy-bar {
  background-color: white;
}
.next-meeting .grippy:active .grippy-viz .glyphicon {
  color: white;
}


.grippy, .bumpy {
  margin-left: -2ex;
  padding-right: 0;
  cursor: move;
  margin-top: 1px;
}
.bumpy {
  height: 30px;
  cursor: pointer;
}
.phone-row .paddy {
  padding-left: 0;
}
.phone-row .grippy, .phone-row .bumpy {
  margin-left: 0;
}
.grippy .glyphicon {
  font-size: 8pt;
  height: 11px;
  color: transparent;
}
.grippy-bar {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 1px;
}
.grippy-bar.top {
  margin-bottom: 1px;
}
.first-at-load .grippy-bar {
  background-color: #b6b6b6;
  background-color: #FEC849;
}
.first-at-load .grippy .glyphicon {
  color: #aaa;
  color: #FEC849;;
}
.next-meeting .grippy-bar {
  background-color: #111;
}
.next-meeting .grippy .glyphicon {
  color: #111;
}

.bumpy-viz {
  margin-top: 0.5ex;
  margin-right: -1.25ex;
  opacity: 0.6;
}

.grippy-viz {
  background-color: #d0d0d0;
  background-color: rgb(255, 219, 129);
}
.first-at-load .grippy-viz {
  background-color: inherit;
}
.next-meeting .grippy-viz {
  background-color: inherit;
}
.after-meeting .grippy-viz {
  background-color: #e9e9e9;
}
.deadline .grippy-viz {
  background-color: #333;
  opacity: 0.25;
}
.deadline.after-meeting .grippy-viz {
  background-color: #333;
  opacity: 0.25;
}

.dragging-row {
  opacity: 0.75;
}
.dragging .story {
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.what {
  background-color: red;
}
.first {
  /*background-color: #e3e3e3;*/
}

.story-id {
  margin: 0;
}

#backlog .selected .story-id, .new-story .story-id {
  /* TODO: Why do we need this hack? */
  margin-top: 0.6ex;
}



#backlog .selected form {
  margin: 0;
}

#backlog .selected input, 
.new-story input {
  margin: 0;
}

.summary-input {
  padding-right: 3.25ex;
}

.new-story {
  padding-top: 1.1ex;
  padding-bottom: 1.1ex;
}
.insert-destination .new-story {
  margin-top: 0;
  margin-bottom: 1.1ex;
  border: dotted 1px #006688;
}

.paddy, .dragging-story {
  padding-top: 0.75ex;
  padding-bottom: 0.75ex;
  /*padding-left: 1ex; */
}
.paddy .summary {
  padding-left: 1ex;
}
.details-icon {
  opacity: 0.4;
  padding-top: 1.10ex;
  padding-bottom: 0.40ex;
}

.entry, .search {
  padding-left: 1ex;
  padding-right: 1.5ex;
}
.entry .roadmapOffset, .search .roadmapOffset {
  margin-left: 2ex;
  padding-right: 3.5ex;
}

.entry-nav {

}
.require-payment {
  padding-left: 1.5ex;
  padding-right: 1.5ex;
}

.new-story form {
  margin: 0;
}
.new-story {
  background-color: #ddd;
  padding-top: 1ex;
  padding-bottom: 1ex;

  padding-left: 1.5ex;
  padding-right: 1.5ex;
  cursor: default;

  margin-top: 1ex;
}
.new-story:hover {
  background-color: #eee;
}
.new-story textarea {
  margin-top: 1ex;
  height: 4em;
}

.search .new-story {
  background-color: #1E69B5;
  background-color: #006688;
  /*background-color: transparent;*/
}
.search .new-story:hover {
  background-color: #2272B8;
  background-color: #006a8c;
}

.entry-facade-container {
  padding: 0;
  margin-right: 0.5ex;
  margin-left: 0;
}
.entry-facade-container .alignWithStoryList {
  padding: 0;
}

.show-entry {
  padding: 0.5ex;
  text-align: right;
  padding-bottom: 0;
  padding-right: 0;
}
.show-search {
  margin-left: 0;
  padding-top: 0.25ex;
  padding-bottom: 0;
  padding-left: 1.25ex;
  font-size: 1.25em;

  color: #e6e6e6;
}
.show-search {
  font-size: 1.25em;
}

.show-search .glyphicon {
  cursor: pointer;
  margin-right: 0.5ex;
}
.show-search .glyphicon:hover, 
.show-search .active,
.searchBarLabel {
  color: #aaa;
}
.searchBarLabel {
  vertical-align: top;
  font-size: 0.8em;
}

.alignWithStoryList, .story, .archive {
  max-width: 550px;
}

.many textarea {
  height: 6em;
}

.isSelectedChecklist {
  font-weight: bold;
}

.list textarea {
    height: 3em;
}

.alt-mode {
  margin-top: 4.7em;
  cursor: pointer;
  opacity: 0.4;
  padding-left: 0.5ex;
}
.alt-mode.alt {
  opacity: 1.0;
}
.alt-mode:active {
  padding-top: 0.1ex;
  padding-left: 0.6ex;
}

.entry-facade .alt-mode {
  margin-top: 0.5ex;
  margin-left: 0;
  padding-left: 0.5ex;
}
.entry-facade .alt-mode:active {
  padding-top: 0.1ex;
  padding-left: 0.6ex;
}

#listDescription {
    margin-top: 8px;
}


#backlog textarea, 
#backlog input, 
#backlog select,
#backlog .status .btn,
#backlog .deadline.after-meeting textarea,
#backlog .deadline.after-meeting input {
  background-color: #ddd;
}
#backlog .deadline.after-meeting textarea,
#backlog .deadline.after-meeting input {
  border-color: inherit;
}
#backlog textarea:hover, 
#backlog textarea:focus,
#backlog input:hover, 
#backlog input:focus, 
#backlog select:hover, 
#backlog select:focus,
#backlog .status .btn:hover,
#backlog .deadline.after-meeting input:hover,
#backlog .deadline.after-meeting input:focus,
#backlog .deadline.after-meeting textarea:hover,
#backlog .deadline.after-meeting textarea:focus  {
  background-color: white;
}
#backlog .deadline textarea,
#backlog .deadline input {
  border-color: #b2960a;
  border-color: #aaa;
  background-color: #ddd;
}
#backlog .deadline input:hover,
#backlog .deadline input:focus,
#backlog .deadline textarea:hover,
#backlog .deadline textarea:focus {
  background-color: #ddd;
}
#backlog .deadline .insert-destination input,
#backlog .deadline .insert-destination textarea,
#backlog .insert-destination input,
#backlog .insert-destination textarea,
.insert-destination input,
.insert-destination textarea {
  border-color: #aaa;
  background-color: white;
}
#backlog .deadline .saveBtn {
  background-color: #ddd;
}
#backlog .deadline.after-meeting .saveBtn {
  background-color: white;
}

.next-meeting {
  color: #eee;
  background-color: #333 !important;
  background-color: rgb(66, 69, 69) !important;
}
.next-meeting:hover {
  background-color:  #333;
  background-color: rgb(66, 69, 69);
}

.after-meeting {
  color: #333;
  background: #f7f7f7;
}
.after-meeting:hover {
  color: #666;
  background: #fafafa;
}

.deadline, .deadline:hover {
  color: #333;
  background-color: gold;
  background-color: #007799;
  background-color: #eee;
  background-color: rgb(137, 97, 52);
  background-color: #070;
  background-color: rgb(54, 123, 56);
  background-color: #006688;
  color: white;
}

.after-meeting.deadline {
  background-color: #666;
  color: white;
}
.after-meeting.deadline:hover {
  color: white;
  background-color: #777;
}

.mindset-help {
  cursor: default;
  color: #999;
  background-color: white;
  border: dashed 1px #ccc;
  opacity: 0.6;
  padding-left: 2.1ex;
}
.mindset-help:hover {
  background-color: white;
}

/* Mindsets:
 *  detailed
 *  mine
 *  roadmap
 *  bump
 */
.show-mindset-mine,
.show-mindset-detailed,
.show-mindset-roadmap,
.show-mindset-bump {
  display: none;
}

.mindset-detailed .show-mindset-detailed,
.mindset-roadmap .show-mindset-roadmap,
.mindset-mine .show-mindset-mine,
.mindset-bump .show-mindset-bump {
  display: block;
}
.mindset-detailed .hide-mindset-detailed,
.mindset-roadmap .hide-mindset-roadmap,
.mindset-mine .hide-mindset-mine,
.mindset-bump .hide-mindset-bump {
  display: none;
}


.filter, 
.paste-destination, 
.paste-destination:hover {
  background-color: #1E69B5;
  background-color: #006688;
  color: white;
  padding-left: 3ex;
}
.filter:hover {
  background-color: #2272B8;
  background-color: #006a8c;
  color: white;
  cursor: default;
}
.filter a {
  color: gold;
}
.filter ul {
  padding-left: 0;
  display: inline;
}
.filter li {
  margin-right: 0.5ex;
  display: inline;
}
.filter li:after {
  margin-left: 0.5ex;
  content: "+";
}
.filter li:last-child:after {
  content: "";
}
.filter .clear-filter {
  display: inline;
  padding-right: 0.5ex;
}
.filter a.active-filter {
  color: white;
}
.active-filter:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.story, 
.backlog-status, 
.backlog-owner,
.tools {
  border: solid 1px transparent;
}
.backlog-status,
.backlog-owner,
.tools {
  border-left: 0;
  border-right: 0;
}

.story.mine {
  border-left: dotted 1px #3994d0;
  border-right: dotted 1px #3994d0;
  border-color: #006688;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.story:hover {
/*  box-shadow: 0 0 0 1px goldenrod;*/
  border: solid 1px goldenrod;
}
.story.highlighted {
  border: solid 1px #3994d0;
  /*box-shadow: 0 0 0 1px #3994d0;*/
  /*border: solid 2px #006688;*/
}
.story.highlighted:hover {
  /*box-shadow: none;*/
}
.story.team-highlighted {
  border: dotted 1px #3994d0;
  border: dotted 1px #006688;
}
.highlighted.team-highlighted {
  /* gold is too light, but orange is not quite right */
  border: dotted 1px orange;
}
.next-meeting, .next-meeting.highlighted {
  border-width: 1px;
}
.next-meeting.highlighted {
  border-color: goldenrod;
/*  border-bottom-color: #3994d0;
  border-right-color: transparent;
  border-left-color: transparent;*/
  border-style: outset;
}
.deadline.highlighted {
  border-style: outset;
}

.story .details-link .subtle {
  color: #999;
}
.details-link {
  text-align: right;
  padding: 0;
}
.details-link .glyphicon {
  padding-right: 0.5ex;
}

.story.inClipboard {
  opacity: 0.3;
}

.paste-destination, 
.paste-destination:hover {
  border: dashed goldenrod 1px;
  background-color: white;
  color: #333;
}

.insert-destination,
.insert-destination:hover {
  background-color: white;
  color: #333;
}

.story-label {
  /*background-color: gold;*/
  color: #1E69B5;
  color: #006688;
}
.deadline .story-label {
  color: #996D09;
}
.deadline.after-meeting .story-label {
  color: #EAAB23;
}
.next-meeting .story-label {
  color: goldenrod;
}
.story-label:hover {
  text-decoration: underline;
}

/* story details */
.summary {

}

.summary .deselect  {
  cursor: pointer;
  margin-top: 0.5ex;
  text-align: right;
}

.summary .deselect, .summary .deselect a {
  color: #bbb;
}

.deadline a, 
.deadline .deselect a, 
.deadline .removeBtn {
  color: #eee;
}
.deadline a:hover,
.deadline .deselect a:hover,
.deadline .removeBtn:hover {
  color: #ddd;
}
.deadline.highlighted {
  border-color: goldenrod;
  border-color: #005577;
}
.after-meeting.deadline.highlighted {
  border-color: #3994d0;
}

.after-meeting.deadline a, 
.after-meeting.deadline .deselect a, 
.after-meeting.deadline .removeBtn {
  color: #bbb;
}

.summary .deselect, .created-by {
  margin-right: 1.5ex;
}

.top-info {
  background-color: red;
}

.owner, .owner-placeholder {
  width: 48%;
  margin-top: 1ex;
  float: left;
}
.owner-placeholder {
  /*border: dotted 1px #999;*/
  margin-left: 10px;
  text-align: left;
  padding-top: 1.9em;
  height: 4em;
}

.status {
  margin-top: 1ex;
  margin-right: 1.5ex;
}
.status .wider {
  padding-left: 0;
}
.status .wider-left {
  padding-right: 0;
}
.status .btn.question .txt {
  position: relative;
  left: -0.1ex;
}
#backlog .status .sad.btn-active {
  background-color: #a00;
  color: white;
}
#backlog .status .neutral.btn-active {
  background-color: white;
}
#backlog .status .in-progress.btn-active {
  background-color: #006688;
  color: white;
}
#backlog .status .done.btn-active {
  background-color: #606;
  color: white;
}

.description {
  clear: left;
  padding-top: 1ex;
}

.story .textarea-container {
  padding-right: 1.5ex;
}

.description textarea, .commentArea textarea {
  /*width: 95%;*/
  height: 4em;
  margin-bottom: 0;
  background-color: #ddd;
}

.commentArea {
  margin-top: 1ex;
}
.commentArea textarea {
  height: 2.5em;
}
.commentArea .btn-wrapper {
  text-align: right;
}

.commentHeading {
  margin-right: 10px;
  /*border-bottom: solid 1px #fff;*/
}
.comment {
  margin: 0.5ex;
  margin-top: 1ex;
  margin-bottom: 1ex;
  margin-left: 1.25ex;
}
.comment .text, .archive .preformatted {
  /* From 2006: http://longren.io/wrapping-text-inside-pre-tags/ */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  line-height: 1.15em;
}
.comment.odd .name, .comment.odd .text {
  color: #888;
}


.created-by {
  text-align: left;
  font-size: smaller;
  margin-top: 0.5ex;
  margin-left: 0.25ex;
  margin-right: 10px;
  /*color: #bbb;*/
}

.action-buttons {
  margin-top: 1ex;
}
.action-buttons a:hover {
  color: #999;
  color: currentColor;
}

.saveBtn, .linkToTask, .link-btn { 
  margin: 5px;
  margin-right: 10px;
  margin-top: 0;
}
.link-btn {
  color: #aaa; 
}
.linkToTask, .topLinkToTask {
  display: inline-block;
  vertical-align: middle;
}
.topLinkToTask {
  margin-right: 6px;
}
.saveCommentBtn {
  margin-right: 0;
  margin-left: 0;
  background-color: #e9e9e9;
  color: #222;
  border-color: #ccc;
}
.topSaveBtn, .link-btn {
  margin-top: 1ex;
}
.topLinkToTask .glyphicon, .linkToTask .glyphicon {
  margin-right: 0.5ex;
}
.saveBtn:hover, .topSaveBtn:hover {
  background-color: white;
}
.saveCommentBtn:hover {
  background-color: #f6f6f6;
  border: solid 1px #ccc;
}

.removeBtn {
  color: #bbb;

  margin-right: 5px;
  margin-left: 0.25ex;
  padding-left: 0;
  
  border-style: none;
  background-color: inherit;
}
.removeBtn:hover {
  text-decoration: underline;
}

/* outside the story but in the backlog */
.backlog-owner {
  /* slightly darker than icon-status because it 
     is thinner */
  color: #bbb;

  padding-top: 1.1ex;
  padding-bottom: 1.1ex;
  padding-left: 0.5ex;
  padding-right: 0;

  cursor: pointer;
}
.owner-name:hover {
  text-decoration: underline;
}
.backlog-owner.after {
  color: #ccc;
}

.notify {
  padding-left: 0.5ex;
  display: inline-block;
  opacity: 0.5;
  vertical-align: -2px;
}
.notify:hover {
  opacity: 0.3;
  cursor: pointer;
}
.notify:active {
  margin-top: 0.1ex;
  margin-left: 0.1ex;
}
.notify.notified {
  cursor: default;
  opacity: 0.1;
}

.phone-backlog-status {
  text-align: center;
  padding-top: 0.25ex;
  padding-left: 0;
}
.phone-backlog-status .done-status {
  margin-left: 0;
  padding-left: 0;
}
.phone-summary {
  padding-left: 0;
}
.phone-row.mine {
  color: #1E69B5;
}

.backlog-status, .backlog-mine {
  padding: 0.5ex;
  padding-top: 1.25ex;
  padding-bottom: 1.1ex;

  text-align: right;
  /*opacity: 0.6;*/
}
.new .backlog-status {
/*  color: #999;
  opacity: 1.0;*/
}

.backlog-status .done-status,
.backlog-status .active-status,
.backlog-status .sad-status,
.backlog-status .new-status {
  display: none;
}

.deadline .backlog-status .done-status-archive {
  display: inline-block;
}

.done .backlog-status .done-status,
.active .backlog-status .active-status,
.sad .backlog-status .sad-status,
.new .backlog-status .new-status {
  display: inline-block;
}

.show-status-new,
.done .hide-status-done {
  display: none;
}

.hide-status-done,
.new .show-status-new {
  display: inline-block;
}

.backlog-mine {
  padding: 0.5ex;
  padding-top: 0.75ex;
  opacity: 0.5;  
}
.backlog-mine .arrow {
  vertical-align: top;
  line-height: 24px;
}

.backlog-mine:hover {
  cursor: pointer;
}
.backlog-mine.done:hover {
  cursor: default;
}
.backlog-mine:active .bump-status {
  margin-top: -0.25ex;
  margin-right: -0.1ex;
}
.backlog-mine.done:active .bump-status {
  margin-top: -0.35ex;
}
.sad-status, .new-status {
  margin-top: 1px;
}
.sad-status {
  color: #b00;
}
.phone-backlog-status .new-status,
.phone-backlog-status .sad-status {
  margin-left: 0.35ex;
}
.new-status {
  margin-left: 0;
}
.phone-backlog-status .new-status {
  color: #222;
}
.phone-backlog-status {
  padding-top: 0;
}

.icon-status {
  stroke: #ddd;
  fill: transparent;
}
.new .backlog-status {
  color: #ddd;
}
.status .btn .icon-status {
  stroke: #888;
}

.icon-status-invert {
  stroke: white;
  fill: transparent;
}

.done-status, .active-status, .bump-status {
  display: inline-block;

  border: solid 1px transparent;
  width: 26px;
  height: 26px;
  margin-top: -0.75ex;
  
  vertical-align: text-top;
}
.bump-status {
  padding-top: 0;
  margin-top: -0.35ex;  
  background-image: url("../img/glyphs/icon-btn-circle.svg");
}
.bump-status.inline {
  vertical-align: top;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.btn-icon-status {
  display: inline-block;
  border: solid 1px transparent;
  width: 20px;
  height: 20px;
  margin-top: -0.25ex;
  margin-left: -2ex;
  
  vertical-align: text-top;
  color: #888;
}
.sad .btn-icon-status {
  font-size: 11px;
  margin-top: 0.05ex;
  margin-left: -1ex;
}
.in-progress .btn-icon-status {
  margin-top: -0.40ex;
  margin-left: -3ex;
}
.inline.btn-icon-status {
  margin-left: 0;
}

.btn-active .btn-icon-status,
.btn-active .btn-icon-status .icon-status {
  stroke: white;
  color: white;
}


.phone-row .done-status {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/glyphs/icon-circle.png");
}

.done-status:hover {
  background-image: url("../img/glyphs/icon-check.svg");
  cursor: pointer;
}
.done-status:active {
  margin-top: -0.65ex;
  margin-left: -0.10ex;
}
.active-status {
  margin-top: -1.25ex;
}
.phone-row .active-status {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/glyphs/icon-half-circle.png");
}

.backlog-owner, .story, .not-selected, .storyWrapper, #backlog {
  /*border: solid 1px red;*/
}


/* checklists */
.checklists p, 
.checklist-detail p {
  margin-top: 1em;
}

.checklists .entry-facade,
.checklists .entry-nav {
  padding-right: 1.5ex;
  padding-bottom: 1.5ex;
}
.checklists .entry-nav {
  padding-bottom: 0;
}

.checklists .new-story {
  background: none;
}

.checklists .archive:hover {
  border-style: solid;
  background-color: #ddd;
}

.checklists {
  padding-bottom: 2.5em;
}

.checklist-title {
  text-align: center;
}

.many-input-wrapper {
  padding-left: 0;
}
.many-input-wrapper-left {
  padding-right: 1ex;
}
.new-story .many-input {
  margin-bottom: 1ex;
}

/* archive */
.archives {
  margin-top: 2em;
  margin-bottom: 2.5em;
}

.archive {
  cursor: pointer;
  border: dotted 1px #1E69B5;
  border-color: #006688;
  padding: 1ex;
  padding-left: 2ex;
  color: black;
  background-color: white;
}
.archive.selected {
  cursor: default;
}
.archive.deadline {
  background-color: #1E69B5;
  background-color: #006688;
  color: white;
}

.archives .timestamp {
  padding-top: 1.25ex;
  text-align: right;
  color: #aaa;
}
.archives .same-as-above {
  font-weight: normal;
  color: #ddd;
}

/* profile */
.profile {
  margin-top: 2em;
}

.profile .basics .btn, .profile .password .btn {
  margin-top: 1.2em;
}

.profile .message {
  margin-top: 1ex;
}

.input-aligned {
  margin-top: 2.25em;
}

.profile {
  padding-bottom: 2.4em;
}
.profile .circles, .profile .password {
  padding-top: 2.4em;
}


/* admin */
.admin {
  margin-left: 5.5ex;
  margin-top: 2em;
}

.admin h4 {
  padding-top: 1.1em;
}
.admin h4.first {
  padding-top: 0;
}

.adminList {
  list-style: none;
  margin-left: 0;
  margin-top: 1.2em;
  padding-left: 0;
}
.adminList li {

}

.adminList > .odd {
  background-color: #eee;
}

.adminList  .row {
  padding: 8px;
  margin-left: -1.5ex;
}

.adminList .removeMember {
  padding-left: 3.5ex; /* for centering */
  cursor: pointer;
}

.inviteUrlPanel {
  margin-top: 1em;
  margin-bottom: 1em;
}
.inviteUrlPanel label {
  margin-bottom: 0;
}

#groupForm, #settingForm {
  margin-top: 2em;
}

.setting-row {
  padding-top: 12px;
}
.setting-row input, .setting-row .btn {
  margin-top: -4px;
}

.setting-row form {
  margin: 0;
}

.waitlist-request {
  padding: 1ex;
}
.waitlist-request .things {
  white-space: pre;  
}

/* documentation */
.doc-page, 
.list-introduction,
.hide-introduction,
.welcome {
  padding-bottom: 2.6em;
}
.welcome {
  padding-top: 2.6em;
}
.hide-introduction {
  text-align: center;
}
.docs {
  padding: 0;
}
.docs h3 {
  margin-top: 1.4em;
}
.docs .choice-menu {
  padding-top: 1.3em;
  padding-bottom: 2.6em;
}
.docs .choice {
}
.docs .circle-menu {
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: transparent;
  border: 8px solid #bbb;
  margin: auto;
}
.active .circle-menu {
  border-color: #444;
}
.docs .circle-menu .text {
  padding-top: 1.55em;
}
.docs p.after-list {
  padding-top: 1em;
}
.docs .plan-choice.active a {
  color: #444;
}
.docs .plan-menu {
  text-align: center;
}
.docs .plan-menu .glyphicon {
  font-size: 36pt;
}
.docs .plan-menu .glyphicon.team {
  margin-left: -1.1ex;
  opacity: 0.6;
}
.docs .plan-menu .glyphicon.team.third {
  opacity: 0.3;
}

/* contact */
.contact {
  padding-bottom: 3ex;
}


/* Typeahead */
/* From: https://github.com/bassjobsen */
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead input:focus, .twitter-typeahead input:hover {
  background-color: white !important;
}

.pulse {
  background-color: gold !important;
  color: black;
}
.pulse-milepost {
  background-color: #3994d0 !important;
  color: white;
}

.color-transition {
  -webkit-transition: background-color 0.75s ease, color 0.75s ease;
  -moz-transition: background-color 0.75s ease, color 0.75s ease;
  -o-transition: background-color 0.75s ease, color 0.75s ease;
  transition: background-color 0.75s ease, color 0.75s ease;
}

