.container-fluid.header-inner {
  background: #006688;
}

.header {
  /*background-color: #666;*/
  /*font-family: 'Headland One', serif;*/
  /*font-size: larger;*/
  position: relative;
}

.header,
.header h2,
.header h2 a {
  color: #eee;
}

.header-inner {
  display: flex;
  flow-direction: row;
  justify-content: left;
  align-items: center;

  /* min-height breaks IE 11 */
  padding-top: 2ex;
  padding-bottom: 2ex;
  min-height: 110px;
}
.header-title,
.header-menu {

}

.header .title {
  font-family: 'Roboto Slab';
  margin-top: 0;
  margin-bottom: 0;
}
.header .title-wrapper {
  padding-right: 0;
}

.header {
  background-color: #006688;
}

.header .glyph {
  margin-right: 2.75ex;
  margin-right: 2.3ex;
  text-align: center;
  color: #eee;
  display: inline-block;
  opacity: 0.25;
  text-decoration: none;
}
.header .glyph.right-most {
  margin-right: 0;
}

.header .glyph.active {
  color: gold;
  opacity: 1;
}

.header .glyph .glyphicon {
  font-size: 18pt;
}
.header .glyph a {
  color: #eee;
}
.header .glyph:hover {
  opacity: 1;
}
.header a.glyph:hover {
  color: #eee;
}

.header-inner {

}
.header-menu {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}