.invitation {
  background-color: white;
}

/* invite */
.invite.content {
  padding-top: 3em;
  padding-bottom: 3em;
}
.invite label {
  font-weight: normal;
}

.invite .choice {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: left;
}
.choice h2 {
  display: inline-block;
  margin-top: 2ex;
  color: #006688;
}
.choice:hover h2,
.choice h2:hover {
  text-decoration: underline;
}
.choice .glyph {
  text-align: center;
  margin-right: 2ex;
}

.invite .choice-row {
  
}

.invite .message {
  margin-top: 1em;
  padding: 1ex;
  padding-left: 1.5ex;
  background-color: #1E69B5;
  color: white;
}

.step-wrapper.new-account {
  border-color: transparent;
}

.invite .glyphicon {
  margin-top: 0.9ex;
  margin-left: 0.25ex;
  color: #006688;
}

.invite h3 {
  margin-top: 1em;
}


.first {
  background-color: #999;
  color: #333;
  padding-top: 2.6em;
}
.first h1 {
  background-color: inherit;
  font-size: 20pt;
  color: inherit;
}
.first .title h1 {
  text-align: center;
}
.tagline.visible-xs {
  text-align: center;
  color: #333;
}

.useCurrentForm {
  padding-top: 1.6em;
}

.logo {
  margin-top: 3em;
  text-align: center;
}
.last {
  padding-right: 0;
}
.fourth {
  background-color: #ccc;
}

.footer img,
.footer.desktop-view img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0);
}

.footer .container-fluid {
  padding-left: 0;
}

/* xs-screens only */
@media (max-width: 757px) {
  .choice .glyph {
    margin-right: 0;
  }
  .invite .choice {
    text-align: center;
  }
}