li.section {
    margin-top: 1.1em;
}

.tips h2 {
    text-align: left;
    margin-bottom: 0.5ex;
}
h3 {
    font-size: 24pt;
}
h4 {
    margin-top: 1.4em;
}
h4.first {
    margin-top: 0;
}

.tips ul, 
.tips li,
.tips p {
    font-size: 13pt;
}

table {
    border-collapse: separate;
    border-spacing: 1ex;
}

table td {
    padding-left: 3ex;
    padding-right: 3ex;
    padding-bottom: 0.5ex;
    padding-top: 0.5ex;
}
tr {
    padding-bottom: 0.5ex;
}
.key {
    background-color: #eee;
}
