.row {
    margin-left: 0;
    margin-right: 0;
}
p {
    line-height: normal;
}

.header h2,
.big-ideas h2,
.for-communities h2,
.simple h2 {
    color: #eee;
    font-size: 36px;
    font-family: 'Roboto Slab';
/*    color: #ff0;*/
}

.header,
.container-fluid.header-inner,
.header h2 {
/*
    Color explorations:
    background-color: #006688;
    background-color: #44005B;
    background-color: #FDDC03;
    background-color: black;
    background-color: #018181;
    background-color: #009900;
    background-color: #006747;
    background-color: #005522;
    background-color: #32213A;
    background-color: #26532B;
    background-color: #5D3A24;*/
    background-color: #88CCDD;
    color: #006688;
}

.header .glyph {
  color: #006688;
  opacity: 0.25;
}
.header .glyph.active {
  color: #006688;
  opacity: 1;
}
.header .glyph a {
  color: #0088aa;
}
.header .glyph a,
.header a.glyph:hover {
  color: #003344;
}

.tour p, 
.tour li {
    font-size: 13pt;
    text-align: left;
}

.tour li {
    margin-top: 3ex;
    margin-bottom: 3ex;
}

.tour .intro {
    padding-top: 1.5em;
}

.easy-way,
.easy-way .container-fluid.main {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    background-color: #aaa;
    background-color: #006688;
    color: #eee;
}

.three-things,
.three-things .container-fluid.main, 
.for-communities, 
.for-communities .container-fluid.main {
    background-color: #006688;
    color: #eee;
}

.tour-page .footer img {
    opacity: 1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0);
}

.tour-page .footer .container-fluid,
.tour-page .footer .container-fluid .col-sm-12 {
    padding-left: 0;
}

.framework {
    color: #333;
    text-align: center;
    padding-top: 2.6em;
    padding-bottom: 2.6em;
}
.framework h3 {
    margin: 0;
}
.framework h4 {
    text-align: left;
}
.framework .right-now {
    background-color: #aaa;
    color: #333;
    padding-top: 3em;
    padding-bottom: 3em;
}
.framework .next-meeting {
    padding-top: 0.6em;
    padding-bottom: 0.7em;
}
.framework .everything-else {
    background-color: #ddd;
    color: #333;
    padding-top: 2em;
    padding-bottom: 2em;
}
.list-introduction-video {
    padding-top: 1em;
}
.caption {
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
    margin-top: 1.1em;
}
.framework .caption {
    text-align: center;
}

.three-things {
    padding-top: 1.6em;
}
.three-things .col-sm-5 {
/*    margin-top: 2.6em;*/
}
.three-things em {
    font-style: normal;
    color: gold;
}

.step-wrapper {
    height: 100px;
    width: 100px;
    background-color: transparent;
    
    border: solid #006688 14px;
    border-radius: 50px;
    border-color: #eee;

    color: #006688;
    display: inline-block;
    box-shadow: 2px 2px 4px #666;
}
.step {
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    font-family: 'Roboto Slab';
    color: #eee;
}

.thing {
    margin-bottom: 2.6em;
}
.workflow .thing {
    margin-bottom: 0;
    text-align: center;
}
.workflow .big-ideas .thing h3 {
    color: #333;
}
.workflow .big-ideas .thing .step-wrapper,
.workflow .big-ideas .thing .step-wrapper .step {
    border-color: #666;
    color: #333;
} 
.workflow .three-things {
    padding-bottom: 2.6em;
}

.workflow h3 {
    padding-left: 8px;
}

.thing h3,
.point h3 {
    margin-left: 2ex;
    display: inline-block;
    font-size: 36px;
    font-family: 'Roboto Slab';
    color: #eee;
}
.point h3 {
    margin-left: 0;
    display: inline-block;
    color: #333;
    vertical-align: middle; 
    padding-left: 0; 
    margin-top: 1.5ex;
}
.three-things .point h3 {
    color: #eee;
}

.for-communities,
.big-ideas,
.simple {
    padding-top: 1.25em;
    padding-bottom: 2.6em;
}
.for-communities a {
    color: gold;
}
.for-communities .caption {
    margin-top: 0.25ex;
    text-align: right;
}
.caption.left {
    text-align: left;
}
.for-communities .section,
.big-ideas .section {
    margin-top: 2.6em;
}
/*img {
    border-radius: 75%;
    border-width: 14px;
    border-color: #eee;
    border-style: solid;
}*/

.big-ideas,
.big-ideas .container-fluid.main {
    background-color: #aaa;
}

.for-communities .same-idea {
    text-align: center;
}

.same-idea-glyph {
    width: 75%;
}
.same-idea {
    fill: #eee;
}

.big-ideas h2,
.simple h2 {
    margin-top: 0;
    color: #222;
}
.for-communities h2 {
    margin-top: 0;
}

.logo img {
    width: 65%;
}
.big-ideas .logo {
    text-align: center;
    padding-left: 0;
    padding-bottom: 1.5em;
}
.big-ideas h5 {
    margin-top: 0.75em;
    font-size: 12pt;
}
.easy-way .quote {
    font-size: 24pt;
}
.easy-way .attribution {
    text-align: right;
    font-size: 16pt;
}

.for-communities h2,
.big-ideas h2,
.mileposts h2,
.simple h2 {
    text-align: center;
    margin-bottom: 1.1em;
}
.small-teams h2 {
    text-align: left;
    margin-bottom: 0.5ex;
}