extends view-container

block view
  .content(ng-controller="ArchivesCtrl" ng-cloak)
    #backlog.col-xs-12.archives
      .storyWrapper.row.no-select(ng-repeat="archive in archives")
        .hidden-xs.col-sm-2
          .timestamp.text-select(
            ng-class="{ 'same-as-above': isArchiveSameDateAsPrevious(archive, $index) }")
            <span>{{ archive.timestamp | date: getTimestampFilter(archive) }}</span>

        .archive.col-xs-12.col-sm-8.no-select(
            ng-click="select(archive)"
            ng-class="{ selected: archive.isSelected, deadline: archive.isDeadline }")
          div(ng-hide="archive.isSelected")
            span.text-select(ng-bind="archive.summary")

          .text-select(ng-if="archive.isSelected")
            .summary(ng-bind="archive.summary")
              .deselect.pull-right
                a(ng-click="deselect(archive)") Hide details

            div(ng-hide="archive.isDeadline")
              <div>Owner: {{archive.owner}}</div>
              <div>Status: {{archive.status}}</div>
              <div>Created by: {{archive.createdBy.name}}</div>

            .description
              div Description: 
              .preformatted(ng-bind="archive.description")

            .commentArea(ng-if="!(archive.isNextMeeting || archive.isDeadline)")
              .commentHeading Comments: 
              .comment(ng-repeat="comment in archive.comments | reverse" ng-class-odd="'odd'")
                .text(append-linky ng-model="comment.text")
                  span.name {{comment.createdBy.name}}: 

        .hidden-xs.col-sm-2 &nbsp;
      
      .storyWrapper.row(ng-show="hasMoreArchives()")
          .col-sm-offset-2.col-sm-8.archive(ng-click="showArchivesAt(lastArchiveOnPage.sortIndex)")
            a.jsLink Show more ...
