/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.debug {
  border: solid 1px red;
  border: transparent;
}
.debug.on {
  border: solid 1px red !important;
}
.highlight {
  background-color: yellow !important;
}
.broken {
  background-color: pink !important;
}
.suggestion {
  background-color: mediumturquoise;
  padding: 3ex;
  padding-top: 1ex;
}
.suggestion .btn, .brokenHeading .btn {
  margin-top: 1ex;
}
.brokenHeading {
  background-color: antiquewhite;
  padding: 3ex;
  padding-top: 1ex;
}

/* global */
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.navbar-title {
  color: #f6f6f6;
  text-align: center;
}
.navbar-title h2 {
  color: white;
  font-size: 14pt;
  margin-top: 1.5ex;
}

.topMenu, .header {
  /*display: none;*/
}
.topMenu.navbar {
  margin: 0 !important;
  border: 0 !important;
}
.topMenu .container {
  background-image: none !important;
  background-color: #222 !important;
  border-radius: 0 !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; 
  padding: 0;
}
.topMenu .container-fluid .active a {
  color: #eee;
  background: #222 !important;
}

.header {
  margin-bottom: 2em;
  padding-right: 1ex;

  /*background-color: #666;*/
  /*font-family: 'Headland One', serif;*/
  /*font-size: larger;*/

  position: relative;
}
.title {
  margin-bottom: 0;
  text-align: center;
}

.menu {
  padding-left: 0;
  list-style: none;

  /*margin: auto;*/
  margin-top: 1ex;
  margin-bottom: 1.2em;

  /*font-size: larger;
  width: 100%;*/

  text-align: center;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: ".";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*.menu {
  color: white;
}
.menu a {
  color: white;
}
.menu a:hover {
  color: #fafa00;
}*/

.mindset-container {
  position: absolute;
  top: 0;
  right: 2ex;
  width: 70px;
  height: 110px;
  /*border-right: dashed 1px #ddd;*/

  color: #f3f3f3;
  font-size: 16pt;
  text-align: right;
  padding: 0.75ex;
  z-index: 1000;
}
.mindset-container .right {
  padding-left: 0.5ex;
}
.mindset-container:hover {

}
.mindset-container .glyphicon:hover {
  color: #bbb;
  cursor: pointer;
}
.selected-mindset {
  color: #d3d3d3;
}
.mindset-container .invisible {
  cursor: default;
  opacity: 0;
}

.mindset-element {
  position: fixed;
  padding-right: 3px;
  width: 60px;
  z-index: 10;
}
.mindset-element-detailed {
  padding-top: 30px;
  width: 30px;
  z-index: 100;
}

.mindset-element .label {
  color: #999;
  float: right;
  font-weight: normal;
  padding-right: 0;
  font-size: 11pt;
  opacity: 0.6;
}

.jsLink {
  cursor: pointer;
}

.clear {
  clear: left;
}

.container-fluid.main {
  background: white;
  padding-left: 0;
  padding-right: 0;
  max-width: 850px;  
}

.container {
  background: white;
  padding: 3em;
  padding-top: 0;
  padding-right: 1.75ex;
  padding-left: 1.75ex;

  width: 1100px !important;  

    /* horizontal offset, vertical offset, thickness, fade */
/*    -webkit-box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
    box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);*/
}

body {
  background: #222 !important;     
}

h1, h2, h3 {
  color: #222;
  /*font-family: 'Headland One', serif;*/
  font-family: "Roboto",Merriweather,"Open Sans","Helvetica Neue",Helvetica,Arial,"Nimbus L",sans-serif;
}
h2 {
  font-size: 28pt;
}
h1 a, h2 a {
  color: #222;
}
h4, h5 {
  font-weight: bold;
}

.view {
  clear: left;
}

.content {
  padding-left: 2ex;
  padding-right: 2ex;
  padding-bottom: 3em;
}

.footer {
  color: #555;
  text-align: center;
  margin-top: 1.4em;
  margin-bottom: 1.8em;
}

.footer a {
  color: #666;
}
.footer a:hover {
  color: #888;
}

.form-control {
  margin-bottom: 1ex;
}


/* home */
#storyList {
  position: relative;
}

#storyList #mileposts-wrapper {
  position: absolute;
  top: 1ex;
  right: 0;
  width: 290px;
}

#storyList #mileposts {
  position: fixed;
  width: 270px;
  /*top: 100px;
  *//*right: 10%;*/
  

}

#backlog {
  padding-top: 1ex;
  padding-right: 1.5ex;
}
/* TODO: .storyWrapper should have no styles;
 use only for drag-and-drop. */
.storyWrapper, .filterWrapper {
  padding-left: 1ex;
}
.story, .archive {
  color: #222;
  background-color: #ddd;
  padding: 0.5ex;
  padding-left: 1.5ex;
  margin-bottom: 0.5em;
  min-width: 200px;
  cursor: pointer;
}
#mileposts .story {
  cursor: pointer;
}
.selected {
  cursor: default;
}
.story:hover, .selected {
  background-color: #eee;
}
.placeholder-story {
  opacity: 0.25;
}

.grippy:active .grippy-viz .grippy-bar {
  background-color: #888;
}
.grippy:active .grippy-viz .glyphicon {
  color: #888;
}
.next-meeting .grippy:active .grippy-viz .grippy-bar {
  background-color: white;
}
.next-meeting .grippy:active .grippy-viz .glyphicon {
  color: white;
}


.grippy, .bumpy {
  margin-left: -2ex;
  padding-right: 0;
  cursor: move;
  margin-top: 1px;
}
.bumpy {
  height: 30px;
  cursor: pointer;
}
.phone-row .paddy {
  padding-left: 0;
}
.phone-row .grippy, .phone-row .bumpy {
  margin-left: 0;
}
.grippy .glyphicon {
  font-size: 8pt;
  height: 11px;
  color: transparent;
}
.grippy-bar {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 1px;
}
.grippy-bar.top {
  margin-bottom: 1px;
}
.first-at-load .grippy-bar {
  background-color: #b6b6b6;
}
.first-at-load .grippy .glyphicon {
  color: #aaa;
}
.next-meeting .grippy-bar {
  background-color: #111;
}
.next-meeting .grippy .glyphicon {
  color: #111;
}

.bumpy-viz {
  margin-top: 0.5ex;
  margin-right: -1.25ex;
  opacity: 0.6;
}

.grippy-viz {
  background-color: #d0d0d0;
}
.first-at-load .grippy-viz {
  background-color: inherit;
}
.next-meeting .grippy-viz {
  background-color: inherit;
}
.after-meeting .grippy-viz {
  background-color: #e9e9e9;
}
.deadline .grippy-viz {
  background-color: #333;
  opacity: 0.25;
}
.deadline.after-meeting .grippy-viz {
  background-color: #333;
  opacity: 0.25;
}

.dragging-row {
  opacity: 0.75;
}
.dragging .story {
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.what {
  background-color: red;
}
.first {
  /*background-color: #e3e3e3;*/
}

.story-id {
  margin: 0;
}

#backlog .selected .story-id, .new-story .story-id {
  /* TODO: Why do we need this hack? */
  margin-top: 0.6ex;
}



#backlog .selected form {
  margin: 0;
}

#backlog .selected input, .new-story input {
  margin: 0;
}

.summary-input {
  padding-right: 3.25ex;
}

.new-story {
  padding-top: 1.1ex;
  padding-bottom: 1.1ex;
}
.paddy, .dragging-story {
  padding-top: 0.75ex;
  padding-bottom: 0.75ex;
  /*padding-left: 1ex; */
}
.paddy .summary {
  padding-left: 1ex;
}

.entry {
  padding-left: 1ex;
  padding-right: 1.5ex;
}
.entry .roadmapOffset {
  margin-left: 2ex;
  padding-right: 3.5ex;
}

.entry-nav {

}

.new-story form {
  margin: 0;
}
.new-story {
  background-color: #ddd;
  padding-top: 1ex;
  padding-bottom: 1ex;

  padding-left: 1.5ex;
  padding-right: 1.5ex;
  cursor: default;

  margin-top: 1ex;
}
.new-story:hover {
  background-color: #eee;
}

.subtle {
  color: #ccc;
}
.subtle a:hover {
  color: #aaa;
}
.entry-facade-container {
  padding: 0;
  margin-bottom: 1ex;
  margin-right: 0.5ex;
}
.show-entry {
  padding: 0.5ex;
  text-align: right;
  padding-bottom: 0;
  padding-right: 0;
}
.alignWithStoryList, .story, .archive {
  max-width: 550px;
}

.many textarea {
  height: 6em;
}

.isSelectedChecklist {
  font-weight: bold;
}

.displayListStories {
  list-style: circle;
}

.list textarea {
    height: 3em;
}

.alt-mode {
  margin-top: 4.7em;
  cursor: pointer;
  opacity: 0.4;
  padding-left: 0.5ex;
}
.alt-mode.alt {
  opacity: 1.0;
}
.alt-mode:active {
  padding-top: 0.1ex;
  padding-left: 0.6ex;
}

.entry-facade .alt-mode {
  margin-top: 0.5ex;
  margin-left: 0;
  padding-left: 0.5ex;
}
.entry-facade .alt-mode:active {
  padding-top: 0.1ex;
  padding-left: 0.6ex;
}

#listDescription {
    margin-top: 8px;
}


#backlog textarea, 
#backlog input, 
#backlog select,
#backlog .status .btn {
  background-color: #ddd;
}
#backlog textarea:hover, #backlog textarea:focus,
#backlog input:hover, #backlog input:focus, 
#backlog select:hover, #backlog select:focus,
#backlog .status .btn:hover {
  background-color: white;
}

.next-meeting {
  color: #eee;
  background-color: #333 !important;
}
.next-meeting:hover {
  background-color:  #333;
}

.after-meeting {
  color: #333;
  background: #f7f7f7;
}
.after-meeting:hover {
  color: #666;
  background: #fafafa;
}

.deadline, .deadline:hover {
  color: #333;
  background-color: gold;
}

.after-meeting.deadline {
  background-color: #666;
  color: white;
}
.after-meeting.deadline:hover {
  color: white;
  background-color: #777;
}

.mindset-help {
  cursor: default;
  color: #999;
  background-color: white;
  border: dashed 1px #ccc;
  opacity: 0.6;
  padding-left: 2.1ex;
}
.mindset-help:hover {
  background-color: white;
}

.filter {
  background-color: #1E69B5;
  color: white;
  padding-left: 3ex;
}
.filter:hover {
  background-color: #2272B8;
  color: white;
  cursor: default;
}
.filter a {
  color: gold;
}
.filter ul {
  padding-left: 0;
  display: inline;
}
.filter li {
  margin-right: 0.5ex;
  display: inline;
}
.filter li:after {
  margin-left: 0.5ex;
  content: "+";
}
.filter li:last-child:after {
  content: "";
}
.filter .clear-filter {
  display: inline;
  padding-right: 0.5ex;
}
.filter a.active-filter {
  color: white;
}
.active-filter:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.story {
  border: solid 2px transparent;
}

.story.highlighted {
  border: solid 2px #3994d0;
}


input:focus, 
textarea:focus, 
select:focus {
  border-color: #999 !important;
  box-shadow: none !important;
}
button:focus {
  outline: 0 !important;
}

.story-label {
  /*background-color: gold;*/
  color: #1E69B5;
}
.deadline .story-label {
  color: #996D09;
}
.deadline.after-meeting .story-label {
  color: #EAAB23;
}
.next-meeting .story-label {
  color: goldenrod;
}
.story-label:hover {
  text-decoration: underline;
}

.has-custom-color .story-label {
  color: inherit !important; 
}
.has-custom-color .story-label:before {
  content: "#";
}



/* story details */
.summary {

}

.summary .deselect  {
  cursor: pointer;
  margin-top: 0.5ex;
  text-align: right;
}

.summary .deselect, .summary .deselect a {
  color: #bbb;
}

.summary .deselect, .created-by {
  margin-right: 1.5ex;
}

.top-info {
  background-color: red;
}

.owner, .owner-placeholder {
  width: 48%;
  margin-top: 1ex;
  float: left;
}
.owner-placeholder {
  /*border: dotted 1px #999;*/
  margin-left: 10px;
  text-align: center;
  padding-top: 1.4em;
  height: 4em;
}

.status {
  margin-top: 1ex;
  margin-right: 1.5ex;
}
.status .wider {
  padding-left: 0;
}
.status .btn.question .txt {
  position: relative;
  left: -0.1ex;
}
#backlog .status .sad.active {
  background-color: #a00;
  color: white;
}
#backlog .status .neutral.active {
  background-color: white;
}
#backlog .status .in-progress.active {
  background-color: #608A43;
  color: white;
}
#backlog .status .done.active {
  background-color: #606;
  color: white;
}

.description {
  clear: left;
  padding-top: 1ex;
}

.story .textarea-container {
  padding-right: 1.5ex;
}

.description textarea, .commentArea textarea {
  /*width: 95%;*/
  height: 6em;
  margin-bottom: 0;
  background-color: #ddd;
}



.commentArea {
  margin-top: 1ex;
}
.commentArea textarea {
  height: 3em;
}
.commentArea .btn-wrapper {
  text-align: right;
}

.commentHeading {
  margin-right: 10px;
  /*border-bottom: solid 1px #fff;*/
}
.comment {
  margin: 0.5ex;
  margin-top: 1ex;
  margin-bottom: 1ex;
  margin-left: 1.25ex;
}
.comment .text, .archive .preformatted {
  /* From 2006: http://longren.io/wrapping-text-inside-pre-tags/ */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  line-height: 1.15em;
}
.comment.odd .name, .comment.odd .text {
  color: #888;
}


.created-by {
  text-align: left;
  font-size: smaller;
  margin-top: 0.5ex;
  margin-left: 0.25ex;
  margin-right: 10px;
  /*color: #bbb;*/
}

.action-buttons {
  margin-top: 1ex;
}

.saveBtn { 
  margin: 5px;
  margin-right: 10px;
  margin-top: 0;
}
.saveCommentBtn {
  margin-right: 0;
  margin-left: 0;
  background-color: #e9e9e9;
  color: #222;
  border-color: #ccc;
}
.topSaveBtn {
  margin-top: 1ex;
}
.saveBtn:hover, .topSaveBtn:hover {
  background-color: white;
}
.saveCommentBtn:hover {
  background-color: #f6f6f6;
  border: solid 1px #ccc;
}

.removeBtn {
  color: #bbb;

  margin-right: 5px;
  margin-left: 0.25ex;
  padding-left: 0;
  
  border-style: none;
  background-color: inherit;
}
.removeBtn:hover {
  text-decoration: underline;
}

/* outside the story but in the backlog */
.backlog-owner {
  color: #999;

  padding-top: 1.1ex;
  padding-bottom: 1.1ex;
  padding-left: 0.5ex;
  padding-right: 0;
}
.backlog-owner.after {
  color: #bbb;
}

.notify {
  padding-left: 0.5ex;
  display: inline-block;
  opacity: 0.5;
  vertical-align: -2px;
}
.notify:hover {
  opacity: 0.3;
  cursor: pointer;
}
.notify:active {
  margin-top: 0.1ex;
  margin-left: 0.1ex;
}
.notify.notified {
  cursor: default;
  opacity: 0.1;
}

.phone-backlog-status {
  text-align: center;
  padding-top: 0.25ex;
  padding-left: 0;
}
.phone-backlog-status .done-status {
  margin-left: 0;
  padding-left: 0;
}
.phone-summary {
  padding-left: 0;
}
.phone-row.mine {
  color: #1E69B5;
}

.backlog-status, .backlog-mine {
  padding: 0.5ex;
  padding-top: 1.25ex;
  padding-bottom: 1.1ex;

  text-align: right;
  opacity: 0.6;
}
.backlog-mine {
  padding: 0.5ex;
  padding-top: 0.75ex;
  opacity: 0.5;  
}
.backlog-mine .arrow {
  vertical-align: top;
  line-height: 24px;
}

.backlog-mine:hover {
  cursor: pointer;
}
.backlog-mine.done:hover {
  cursor: default;
}
.backlog-mine:active .bump-status {
  margin-top: -0.25ex;
  margin-right: -0.1ex;
}
.backlog-mine.done:active .bump-status {
  margin-top: -0.35ex;
}
.sad-status, .new-status {
  margin-top: 1px;
  margin-left: 0.6ex;
}
.phone-backlog-status .new-status,
.phone-backlog-status .sad-status {
  margin-left: 0.35ex;
}

.icon-status {
  stroke: black;
  fill: transparent;
}

.done-status, .active-status, .bump-status {
  display: inline-block;

  border: solid 1px transparent;
  width: 26px;
  height: 26px;
  margin-top: -0.75ex;
  
  vertical-align: text-top;  
  opacity: 0.6;
}
.bump-status {
  padding-top: 0;
  margin-top: -0.35ex;  
  background-image: url("../img/glyphs/icon-btn-circle.svg");
}
.bump-status.inline {
  vertical-align: top;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.btn-icon-status {
  display: inline-block;
  border: solid 1px transparent;
  width: 20px;
  height: 20px;
  margin-top: -0.25ex;
  margin-left: -2ex;
  
  vertical-align: text-top;  
  opacity: 0.6;
}
.sad .btn-icon-status {
  font-size: 11px;
  margin-top: 0.1ex;
  margin-left: -3ex;
}
.in-progress .btn-icon-status {
  margin-top: -0.40ex;
  margin-left: -3ex;
}
.inline.btn-icon-status {
  margin-left: 0;
}

.active .btn-icon-status .icon-status {
  stroke: white;
}


.phone-row .done-status {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/glyphs/icon-circle.png");
}

.done-status:hover {
  background-image: url("../img/glyphs/icon-check.svg");
  cursor: pointer;
  opacity: 0.5;
}
.done-status:active {
  margin-top: -0.65ex;
  margin-left: -0.10ex;
}
.active-status {
  margin-top: -1.25ex;
}
.phone-row .active-status {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/glyphs/icon-half-circle.png");
}

.backlog-owner, .story, .not-selected, .storyWrapper, #backlog {
  /*border: solid 1px red;*/
}

/* sign in */
.signin {

}
.signin h1 {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 36pt;
  font-weight: bold;
  color: gold;
}
.actionRow {
  margin-left: 0;
}
.actionRow .remember {
  padding-top: 0.6ex;
}
label.relax {
  font-weight: normal;
}
.signin-section, .donate-section {
  padding-top: 2.4em;
}

.signin .welcome {
  color: #f6f6f6;
  background-color: #181818;

  width: 100%;
  float: left;
  padding-bottom: 3.5em;
}
.signin .welcome input {
  color: #f6f6f6;
  border-color: #444;
  background-color: #333;
}
.signin .welcome .message {
  text-align: center;
}


.signin .intro {
  width: 100%;
  float: left;
}
.signin .storyListWrapper {
  padding-left: 2ex;
  padding-right: 2ex;
}

.signin .tour {
  background-color: #ddd;
  width: 100%;
  float: left;
  margin-top: 3.5em;
  padding-bottom: 2.5em;
}

.signin .free {
  background-color: gold;
  width: 100%;
  float: left;

  padding-bottom: 2.5em;
}
.signin .free a {
  color: #333;
  text-decoration: underline;
}

.signin .signup, .signin .donate {
  background-color: #333;
  color: #ccc;

  float: left;
  width: 100%;
  margin-top: 3.5em;
  padding-bottom: 3.5em;
}
.signin .signup {
  margin-top: 0;
}

.signin .signup input,
.signin .signup textarea {
  color: #ccc;
  border-color: #222;
  background-color: #444;
}
.signup label {
  font-weight: normal;
}
.thanks {
  background-color: gold;
  padding: 1.25ex;
  padding-left: 1.5ex;
  cursor: default;
}

.signin .donate {
  margin-top: 0;
  background-color: black;
  text-align: center;
  padding-bottom: 1.9em;
}
.signin .donate .links {
  margin-top: 1.1em;
}
.signin .donate .links a {
  color: goldenrod;
}

/* checklists */
.checklists p {
  margin-top: 1em;
}

/* donate */
.donations, .about, .sponsor {
  padding-bottom: 3.5em;
}
.donations .btn-wrapper {
  text-align: center;
}
.donations .btn-wrapper .btn {
  margin-top: 1.1em;
  margin-right: 10px;
}
.donations .received {
  margin-top: 1.2em;
}

/* archive */
.archives {
  margin-top: 2em;
}

.archive {
  cursor: pointer;
  border: dotted 1px #1E69B5;
  padding: 1ex;
  color: black;
  background-color: white;
}
.archive.selected {
  cursor: default;
}
.archive.deadline {
  background-color: #1E69B5;
  color: white;
}

.archives .timestamp {
  padding-top: 1.25ex;
  text-align: right;
  color: #aaa;
}
.archives .same-as-above {
  font-weight: normal;
  color: #ddd;
}

/* profile */
.profile .basics .btn, .profile .password .btn {
  margin-top: 1.2em;
}

.profile .message {
  margin-top: 1ex;
}

.input-aligned {
  margin-top: 2.25em;
}
.support-circle {
  display: inline-block;

  border: solid 1px transparent;
  width: 26px;
  height: 26px;
  margin-left: -0.75ex;
  
  vertical-align: text-top;
  
  background-image: url("../img/glyphs/icon-circle.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  opacity: 0.6;
}
.profile {
  padding-bottom: 2.4em;
}
.donations, .profile .circles, .profile .password {
  padding-top: 2.4em;
}
.sponsor .donations {
  padding-top: 0;
}
.donations .plans {
  margin-left: 0em;
}
.donations .plan {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 3ex;
  text-align: center;
  border: solid 1px transparent;
  margin-left: 0;
}
.donations .plan:hover {
  cursor: pointer;
}
.donations .plan:hover .support-circle, 
.donations .plan.active .support-circle {
  background-image: url("../img/glyphs/icon-ok.png");
}
.donations .plan.active {
  color: #1E69B5;
  border: dotted 1px #1E69B5;
}
.donations .name {
  margin-top: 0.75em;
  margin-left: -0.75ex;
}
.donations .amount {
  margin-left: -0.75ex;
  font-size: smaller;
}
.donations .btn {

}
.donations .checkout {
  padding-top: 1em;
}

.donations .cancel {
  text-align: center;
  padding-top: 1.5em;
  padding-left: 3ex;
  margin-bottom: 0;
}

/* admin */
.admin h4 {
  padding-top: 1.1em;
}
.admin h4.first {
  padding-top: 0;
}

.adminList {
  list-style: none;
  margin-left: 0;
  margin-top: 1.2em;
  padding-left: 0;
}
.adminList li {

}

.adminList > .odd {
  background-color: #eee;
}

.adminList  .row {
  padding: 8px;
  margin-left: -1.5ex;
}

.adminList .removeMember {
  padding-left: 3.5ex; /* for centering */
  cursor: pointer;
}

.inviteUrlPanel {
  margin-top: 1em;
  margin-bottom: 1em;
}
.inviteUrlPanel label {
  margin-bottom: 0;
}

#groupForm, #settingForm {
  margin-top: 2em;
}

.setting-row {
  padding-top: 12px;
}
.setting-row input, .setting-row .btn {
  margin-top: -4px;
}

.setting-row form {
  margin: 0;
}

.waitlist-request {
  padding: 1ex;
}
.waitlist-request .things {
  white-space: pre;  
}

/* documentation */
.doc-page {
  padding-bottom: 2.6em;
}
.docs {
  padding: 0;
}
.docs h3 {
  margin-top: 1.4em;
}
.docs .choice-menu {
  padding-top: 1.3em;
  padding-bottom: 2.6em;
}
.docs .choice {
}
.docs .circle-menu {
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: transparent;
  border: 8px solid #bbb;
  margin: auto;
}
.active .circle-menu {
  border-color: #444;
}
.docs .circle-menu .text {
  padding-top: 1.55em;
}
.docs p.after-list {
  padding-top: 1em;
}
.docs .plan-choice.active a {
  color: #444;
}
.docs .plan-menu {
  text-align: center;
}
.docs .plan-menu .glyphicon {
  font-size: 36pt;
}

/* contact */
.contact {
  padding-bottom: 3ex;
}

/* invite */
.invite.content {
  padding-top: 3em;
  padding-bottom: 3em;
}
.invite label {
  font-weight: normal;
}

.invite .choice {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.invite .choice-row {
  border-bottom: solid 1px #ddd;
}

.invite .message {
  margin-top: 1em;
  padding: 1ex;
  padding-left: 1.5ex;
  background-color: #1E69B5;
  color: white;
}

.invite .support-circle {
  margin-top: -0.85ex;
}

.invite .glyphicon {
  color: #555;
}

.invite h3 {
  margin-top: 1em;
}


/* Typeahead */
/* From: https://github.com/bassjobsen */
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead input:focus, .twitter-typeahead input:hover {
  background-color: white !important;
}

.pulse {
  background-color: gold !important;
  color: black;
}
.pulse-milepost {
  background-color: #606 !important;
  color: white;
}

.color-transition {
  -webkit-transition: background-color 0.75s ease, color 0.75s ease;
  -moz-transition: background-color 0.75s ease, color 0.75s ease;
  -o-transition: background-color 0.75s ease, color 0.75s ease;
  transition: background-color 0.75s ease, color 0.75s ease;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; height: 100%; 
}

.below-video {
  padding-top: 1em;
}