body {
  background: black !important;     
}


.navbar {
    background-color: transparent;
}
.navbar-nav li a {
    color: #ddd !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
    opacity: 1.0;
}

.curtain {
    background-color: #aaa;
}

.main {
    background: transparent !important;
}
.second {
    margin-top: 5em;
    padding-top: 3.5em;
    padding-bottom: 5em;

    color: #aaa;
    background-color: #222;
}
.third {
    padding-top: 2em;
    padding-bottom: 5em;
    margin-top: 1.5em;
}
.fourth, .fifth {
    padding-top: 3.5em;
    padding-bottom: 5em;   
}
.fourth h5 {
    color: #111;
    line-height: 1.4em;
    padding-bottom: 2.75em;
}
.fifth .entrance {
    padding-top: 1.3em;
}

.headline, .second, .third {
    text-align: left;
}
.fifth {
    text-align: center;
}
.fifth .btn-default {
    margin-top: 0;
}

.curtain .logo {
    margin-top: 4em;
    text-align: center;
}
.logo img {
    width: 60%;
}

.curtain h1 {
    font-family: 'Roboto Slab';
    font-size: 36pt;
    color: #222;
    margin-top: 1em;
}
.second h2 {
    font-family: 'Roboto Slab';
    color: #eee;
    margin-bottom: 1.5em;
}
.curtain h4 {
    text-align: left;
    font-size: 18pt;
    color: #444;
}
.fifth h4 {
    text-align: center;
}

.headline p {
    margin-top: 1.8em;
}
.second p {
    margin-top: 0.5em;
    margin-bottom: 1.4em;
}
p {
    font-size: 14pt;
}

.join {
    margin-top: 1.5em;
    padding-left: 3ex;
    padding-right: 3ex;

    -webkit-box-shadow: 1px 1px 5px -1px rgba(88,88,88,1);
    -moz-box-shadow: 1px 1px 5px -1px rgba(88,88,88,1);
    box-shadow: 1px 1px 5px -1px rgba(88,88,88,1);
}
.nextTo {
    margin-left: 1.5ex;
    margin-right: 1.5ex;
}

.second .for-glyph {
    width: 60%;
    margin: auto;
    margin-top: 1.5em;
}
.same-idea {
    fill: #aaa;
}

.third .below-button {
    padding-top: 1em;
}

.fourth {
    background-color: #ddd;
}

.bottom-logo {
    margin-top: 3em;
}

.bottom-logo img {
    width: 76px;
}


.footer {
    padding-top: 4em;
    padding-bottom: 6em;
    background-color: black;
    margin-bottom: 0;
    margin-top: 0;
}

.footer a:hover {
    color: gold !important;
}

.btn-signin {
    padding-top: 1.25ex !important;
}

/* xs-screens only */
@media (max-width: 757px) {
    .col-xs-12 {
        padding-left: 2em;
        padding-right: 2em;
    }

    .for-glyph {
        max-width: 300px;
    }

    .third .info {
        margin-top: 1.1em;
    }
}