/* app css stylesheet */

/* global */
.header {
  margin-bottom: 2em;
}
.menu {
  margin-top: 1.9em;
  list-style: none;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.container, .container-fluid {
    background: white;
    padding: 3em;
    padding-right: 6em;
    padding-top: 1em; 

    /* horizontal offset, vertical offset, thickness, fade */
    -webkit-box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
    box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
}

body {
  background: #222 !important;     
}

h2, h3 {
  font-family: 'Headland One', serif;
}

.view {
  clear: left;
}

.footer {
  color: #555;
  text-align: center;
  margin-top: 1.4em;
}


/* home */
#backlog {
  margin-top: 3.5em;
}
.story {
  /*border: solid #ccc 1px;*/
  background-color: #eee;
  padding: 0.5ex;
  padding-left: 1.5ex;
  margin: auto;
  margin-bottom: 0.5em;
  cursor: move;
  width: 50%;
  min-width: 200px;
}
.story:hover {
  background-color: #f9f9f9;
}

.first {
  background-color: #f5f5f5;
}

.story-id {
  margin: 0;
}

#backlog .selected .story-id, #new-story .story-id {
  /* TODO: Why do we need this hack? */
  margin-top: 0.6ex;
}

#backlog .selected form {
  margin: 0;
}

#backlog .selected input, #new-story input {
  margin: 0;
}

#backlog .not-selected, #new-story {
  padding-top: 1.1ex;
  padding-bottom: 1.1ex;
}

#new-story form {
  margin: 0;
}
#new-story {
  padding: 0.5ex;
  padding-left: 1.5ex;
  cursor: default;
}
#new-story:hover {
  background-color: #eee;
}

input:focus, textarea:focus {
  border-color: #999 !important;
  box-shadow: none !important;
}

/* story details */
.summary {

}

.summary .deselect {
  cursor: pointer;
  margin-top: 0.5ex;
  margin-right: 1ex;
}

.summary .deselect, .summary .deselect a {
  color: #bbb;
}

.top-info {
  background-color: red;
}

.owner, .status {
  width: 48%;
  margin-top: 1ex;
  float: left;
}

.description textarea {
  width: 95%;
  height: 6em;
}

.removeBtn {
  margin-right: 5px;
  color: #bbb;
  border-style: none;
  background-color: inherit;
}
.removeBtn:hover {
  text-decoration: underline;
}


/* admin */
#userList {
  list-style: none;
  margin-left: 0;
}
#userList li {

}

#userList > .odd {
  background-color: #eee;
}

#userList  .row {
  padding: 8px;
}

#userList .removeUser {
  padding-left: 3.5ex; /* for centering */
  cursor: pointer;
}










