/* app css stylesheet */

/* global */
.header {
  margin-bottom: 2em;
}
.menu {
  margin-top: 1.9em;
  list-style: none;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.jsLink {
  cursor: pointer;
}

.clear {
  clear: left;
}

.container, .container-fluid {
    background: white;
    padding: 3em;
    padding-right: 6em;
    padding-top: 1em; 

    /* horizontal offset, vertical offset, thickness, fade */
    -webkit-box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
    box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
}

body {
  background: #222 !important;     
}

h2, h3 {
  font-family: 'Headland One', serif;
}

.view {
  clear: left;
}

.footer {
  color: #555;
  text-align: center;
  margin-top: 1.4em;
  margin-bottom: 1.8em;
}

.footer a {
  color: #666;
}
.footer a:hover {
  color: #888;
}


/* home */
#backlog {
  padding-top: 1.5em;
}
.storyWrapper {
  /* Make the width of the draggable piece
     as small as it can be */
  float: left;
}
.story {
  background-color: #ddd;
  padding: 0.5ex;
  padding-left: 1.5ex;
  margin-left: 5px;
  margin-bottom: 0.5em;
  cursor: move;
  min-width: 200px;
}
.story:hover, .selected {
  background-color: #eee;
}
.placeholder-story {
  opacity: 0.25;
}

.dragging-row {
  border: none !important;
  opacity: 0.75;
}

.dragging-story {
  padding-top: 1.1ex;
  padding-bottom: 1.1ex;
}


.first {
  /*background-color: #e3e3e3;*/
}

.story-id {
  margin: 0;
}

#backlog .selected .story-id, .new-story .story-id {
  /* TODO: Why do we need this hack? */
  margin-top: 0.6ex;
}



#backlog .selected form {
  margin: 0;
}

#backlog .selected input, .new-story input {
  margin: 0;
}

#backlog .not-selected, .new-story {
  padding-top: 1.1ex;
  padding-bottom: 1.1ex;
}

.entry {
  /* This is the width of the backlog-status panel */
  margin-left: 31px;
}

.entry-nav {
  margin: 0;
  margin-left: -8px;
  margin-right: -8px;
}

.new-story form {
  margin: 0;
}
.new-story {
  background-color: #ddd;
  padding: 0.5ex;
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-left: 1.5ex;
  cursor: default;

  margin-top: 1ex;
  margin-left: -8px;
  margin-right: -8px;
}
.new-story:hover {
  background-color: #eee;
}
.subtle {
  color: #ccc;
}
.subtle:hover {
  color: #aaa;
}
.show-entry {
  padding: 0.5ex;
  text-align: right;
}

#backlog textarea, 
#backlog input, 
#backlog select {
  background-color: #ddd;
}
#backlog textarea:hover, #backlog textarea:focus,
#backlog input:hover, #backlog input:focus, 
#backlog select:hover, #backlog select:focus {
  background-color: white;
}

.next-meeting {
  color: #eee;
  background-color: #333 !important;
}
.next-meeting:hover {
  background-color:  #333;
}

.after-meeting {
  color: #333;
  background: #f7f7f7;
}
.after-meeting:hover {
  color: #666;
  background: #fafafa;
}

.deadline {
  color: #333;
  background-color: #FFF1A8;
}
.deadline:hover {
  color: white;
  background-color: #777 !important;
}
.after-meeting.deadline {
  background-color: #666;
  color: white;
}
.after-meeting.deadline:hover {
  color: white;
  background-color: #777;
}


input:focus, textarea:focus {
  border-color: #999 !important;
  box-shadow: none !important;
}

/* story details */
.summary {

}

.summary .deselect  {
  cursor: pointer;
  margin-top: 0.5ex;
}

.summary .deselect, .summary .deselect a {
  color: #bbb;
}

.summary .deselect, .created-by {
  margin-right: 1ex;
}

.top-info {
  background-color: red;
}

.owner, .status {
  width: 48%;
  margin-top: 1ex;
  float: left;
}

.description {
  margin-top: 1ex;
}

.description textarea, .commentArea textarea {
  width: 95%;
  height: 6em;
  margin-bottom: 0;
  background-color: #ddd;
}



.commentArea {
  margin-top: 1ex;
}
.commentArea textarea {
  height: 3em;
}
.commentHeading {
  margin-right: 10px;
  /*border-bottom: solid 1px #fff;*/
}
.comment {
  margin: 0.5ex;
  margin-left: 2ex;
}
.comment .text {
  /* From 2006: http://longren.io/wrapping-text-inside-pre-tags/ */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.comment.odd .name, .comment.odd .text {
  color: #888;
}


.created-by {
  text-align: left;
  font-size: smaller;
  margin-top: 0.5ex;
  margin-left: 0.25ex;
  margin-right: 10px;
  /*color: #bbb;*/
}

.action-buttons {
  margin-top: 1ex;
}

.saveBtn { 
  margin: 5px;
  margin-right: 10px;
  margin-top: 0;
}

.removeBtn {
  color: #bbb;

  margin-right: 5px;
  margin-left: 0.25ex;
  padding-left: 0;
  
  border-style: none;
  background-color: inherit;
}
.removeBtn:hover {
  text-decoration: underline;
}

/* outside the story but in the backlog */
.backlog-owner {
  color: #999;

  padding-top: 1.1ex;
  padding-bottom: 1.1ex;
  padding-left: 0.5ex;
  padding-right: 0;

  margin-left: 5px;
}
.backlog-owner.after {
  color: #bbb;
}

.backlog-status {
  padding: 0.5ex;
  padding-top: 1.1ex;
  padding-bottom: 1.1ex;

  text-align: right;
  opacity: 0.6;
  width: 10px;
}

.backlog-owner, .story, .not-selected, .storyWrapper, #backlog {
  /*border: solid 1px red;*/
}

/* admin */
.adminList {
  list-style: none;
  margin-left: 0;
}
.adminList li {

}

.adminList > .odd {
  background-color: #eee;
}

.adminList  .row {
  padding: 8px;
}

.adminList .removeUser {
  padding-left: 3.5ex; /* for centering */
  cursor: pointer;
}

#groupForm, #settingForm {
  margin-top: 2em;
}

.setting-row {
  padding-top: 12px;
}
.setting-row input, .setting-row .btn {
  margin-top: -4px;
}

.setting-row form {
  margin: 0;
}
