doctype html
head
	title Circle Blvd

	link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
	link(rel="stylesheet" href="/css/base.css")
	link(rel="stylesheet" href="/css/app.css")
	link(rel="stylesheet" href="/css/header.css")

	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")
	script(src="/lib/jQuery.ui.touch-punch.js")

	script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

body
	circle(id=circleId member=member)
	script(src="/_dist/circle.js")