meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")

link(rel="apple-touch-icon" href="/img/logo-on-black-60px.png")
link(rel="apple-touch-icon" sizes="76x76" href="/img/logo-on-black-76px.png")
link(rel="apple-touch-icon" sizes="120x120" href="/img/logo-on-black-120px.png")
link(rel="apple-touch-icon" sizes="152x152" href="/img/logo-on-black-152px.png")
link(rel="apple-touch-startup-image" href="/img/startup-ios.png")

link(rel="icon" sizes="196x196" href="/img/logo-196px.png")