meta(property="og:title" content="Circle Tasks")
meta(property="og:type" content="website")
meta(property="og:image" content="http://#{host}/img/logo-on-black-152px.png")
meta(property="og:image:secure_url" content="https://#{host}/img/logo-on-black-152px.png")
meta(property="og:url" content="https://#{host}/")
meta(property="og:description" content="Project management for community organizers. Just the right size for small, important, local projects. A simple way to plan with your team.")