meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")

meta(name="description" content="Circle Blvd. Project management for community organizers. Just the right size for small, important, local projects. A simple way to plan with your team.")

meta(name="keywords" content="circle blvd, project management, community organizer, project planning, task management, volunteers, software, agile, scrum, free, open source")