meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")

meta(name="description" content="Circle Blvd. Project management for small teams. Just the right size for small, important projects in your community. Make things simple, again.")

meta(name="keywords" content="circle blvd, project management, project planning, task management, volunteers, software, agile, scrum, free, open source")