.block.value-prop 
    .container-fluid.main.debug
        .row
            .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-1
                .for-glyph.front-info
                    span(ng-include="'https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/glyphs/checklist.svg'")
                    p Task&nbsp;management

            .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-1
                .for-glyph.front-info
                    span(ng-include="'https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/glyphs/waypoints.svg'")
                    p Milestone&nbsp;planning

            .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-1
                .for-glyph.front-info
                    span(ng-include="'https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/glyphs/heart-coin.svg'")
                    p Four projects for $5&nbsp;/&nbsp;month

.block.fourth
    .container-fluid.main.debug
        .row
            .col-xs-12.gutter-xs
                h2 Created in partnership with

                .community-logos.logo-wrapper.row
                    .col-sm-3.col-xs-6.logo
                        <a href="http://oregonrain.org/"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/rain-vertical.png"></a>
                    
                    .col-sm-3.col-xs-6.logo
                        <a href="http://corvallisswing.com"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/corvallis-swing.png"></a>
                        h5 Corvallis Swing<br/>Dance Society

                    .col-sm-3.col-xs-6.logo
                        <a href="http://swsdt.com"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/smith-williamson.png"></a>
                        h5 Smith &amp; Williamson

                    .col-sm-3.col-xs-6.logo.last
                        <a href="http://advantage.oregonstate.edu/advantage-accelerator"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/osu-aa.png"></a>