<div class="content">
	<div class="col-sm-offset-2 col-sm-8 about">
		<h3>About</h3>
		<p>We're here to help small teams and volunteers get on the same page.</p>

		<p>Circle Blvd was first created to satisfy the needs of the <a href="http://corvallisswing.com">Corvallis Swing Dance Society</a>, a volunteer organization dedicated to sharing the joy Lindy hop and social dancing in the college town of Corvallis, Oregon.</p>

		<p>The Corvallis Swing board of directors was using a form of <a href="http://en.wikipedia.org/wiki/Scrum_(software_development)">scrum</a>, taken from the field of software development, adapting it for the needs of its dance-loving, non-technical group of volunteers.</p>

		<p>Scrum was working well, but as their board grew, so did their project management software licensing fees, becoming a sizeable portion of their revenues (i.e. half). Moreover, many of the features of the software, like schedule prediction, were created with the assumption of a steady work week, and of no use to the board.</p>

		<p>The goal of Circle Blvd is to share the benefits of scrum with non-technical and volunteer organizations, and to create approachable, professional-quality tools for our connected society. </p>

		<h3>Product team</h3>

		<p>Circle Blvd is a product of <a href="http://a.secretproject.org/">Secret Project</a>, a software development company based in Corvallis, Oregon.</p>

		<p>Secret Project is led by <a href="http://pmnjk.com">Phil Manijak</a>, a co-founder of the Corvallis Swing Dance Society and journeyman computer programmer. Phil has been leading small teams in volunteer organizations for over six years, and has been programming in the software industry for ten. His previous work has been used by millions of people throughout the world.</p>

		<h3>Future plans</h3>

		<p>Circle Blvd is new, and is undergoing active development, adding features and improvements every week. Our goal is to remain free indefinitely, supported by <a href="/#/donate">donations</a> and sponsors.</p>

		<p>The <a href="https://github.com/secret-project/circle-blvd">source code</a> for Circle Blvd available on GitHub, under a BSD license. It can be downloaded and installed on most computers running Mac OS X, Linux, or Windows.</p>

		<p>While upgrades are not currently supported, our intention is to have a business model similar to Wordpress, in the way that it is free to download, or you can rent out space on our site.</p>

		<h3>Acknowledgements</h3>

		<p>This site exists in large part because of Oregon's Self Employment Assistance Program and the Corvallis Swing Dance Society. Circle Blvd's engineering work owes much to many software platforms, including Apache CouchDB, Node.js, Bootstrap, and AngularJS.</p>

		<p>Thank you.</p>
	</div>
</div>

