<!-- <button ng-click="test()">Test</button> -->
<div class="content">
<div ng-if="isBacklogBroken" class="ng-cloak brokenHeading col-xs-12">
	<h4>Something is broken, but you can help</h4>
	<p>Hi! Sorry, Circle Blvd is broken &ndash; it's not you, it's me, Phil.</p>
	<p>It might be easy to fix, though!</p>
	<p><a href="#/fix">Follow this link</a>, please.</p>
</div>

<div class="entry-facade no-select" ng-hide="isAddingNew || isBacklogBroken">
	<div class="row entry-facade-container">
		<div class="col-xs-12 debug show-entry alignWithStoryList"
			ng-class="{
				'col-sm-7': isMindset('roadmap'),
				'col-sm-offset-2': !isMindset('roadmap'),
				'col-sm-8': !isMindset('roadmap')
			}">
		+ <a ng-click="showEntry()" class="jsLink text-select">Add story</a>
		</div>

		<div class="hidden-xs col-sm-2 col-lg-2 alt-mode"
			ng-hide="isMindset('roadmap')" 
			ng-class="{alt: isManualAltMode || isAltMode}"
			ng-click="toggleAltMode()" title="inbox mode"><i class="glyphicon glyphicon-align-justify"></i></div>
	</div>
</div>

<div class="entry" ng-show="isAddingNew">
	<div class="row">
		<div class="col-xs-12 debug"
			ng-class="{
				roadmapOffset: isMindset('roadmap'),
				'col-sm-7': isMindset('roadmap'),
				'col-sm-offset-2': !isMindset('roadmap'),
				'col-sm-8': !isMindset('roadmap')
			}">
			<ul class="entry-nav nav nav-pills row alignWithStoryList">
				<li ng-class="{ active: isAdding['story'] }">
					<a class="jsLink" ng-click="showEntry('story')">Story</a>
				</li>
				<li ng-class="{ active: isAdding['deadline'] }">
					<a class="jsLink" ng-click="showEntry('deadline')">Milepost</a>
				</li>
				<li ng-class="{ active: isAdding['many'] }">
					<a class="jsLink" ng-click="showEntry('many')">Many</a>
				</li>
				<li ng-class="{ active: isAdding['checklist'] }">
					<a class="jsLink" ng-click="showEntry('checklist')">Checklist</a>
				</li>
				<li class="pull-right">
					<a ng-click="hideEntry()" class="jsLink subtle">Hide entry</a>
				</li>
			</ul>

			<div ng-show="isAdding['story']" class="debug new-story row alignWithStoryList">
				<form>
					<div class="input-group">
						<input id="storyEntry" type="text" class="form-control" ng-model="newStory" />
						<span class="input-group-btn">
							<button class="btn btn-default pull-right" ng-click="create(newStory)">Add story</button>
						</span>
					</div>
				</form>
			</div>

			<div ng-show="isAdding['deadline']" class="debug row new-story after-meeting deadline alignWithStoryList">
				<form>
					<div class="input-group">
						<input id="deadlineEntry" type="text" class="form-control" ng-model="newDeadline.summary"/>
						<span class="input-group-btn">
							<button class="btn btn-default pull-right" ng-click="createDeadline(newDeadline)">Add milepost</button>
						</span>
					</div>
				</form>
			</div>

			<div ng-show="isAdding['checklist']" class="debug row new-story after-meeting many alignWithStoryList">
				<form>
					<p>Select a checklist to add to your story list:</p>
					<ul>
						<li ng-repeat="checklist in checklists">
							<a class="jsLink" ng-click="selectChecklist(checklist)"
							ng-class="{
								isSelectedChecklist: isSelectedChecklist(checklist)
							}">{{checklist.name}}</a>
						</li>
					</ul>
					<div ng-show="displayChecklist">
						<p>Stories in the selected checklist:</p>
						<ul class="displayListStories">
							<li ng-repeat="story in displayChecklist">
								{{story.summary}}
							</li>
						</ul>
					</div>

					<button class="btn btn-default pull-right" ng-click="addSelectedChecklist()">Add checklist</button>
				</form>
			</div>

			<div ng-show="isAdding['many']" class="debug row new-story after-meeting many alignWithStoryList">
				<form>
					<p>Enter one story per line. To add a milepost, start the line with -- (two hyphens). To assign a story, end the line with @owner (e.g. @{{profileName}}).</p>
					<textarea id="manyEntry" autosize class="form-control" ng-model="newMany.txt"/>
					<button class="btn btn-default pull-right" ng-click="createMany(newMany)">Add many</button>
				</form>
			</div>
		</div>

		<div class="hidden-xs col-sm-2 col-lg-2 alt-mode" 
		ng-hide="isMindset('roadmap')"
		ng-class="{alt: isManualAltMode || isAltMode}"
		ng-click="toggleAltMode()" title="inbox mode"><i class="glyphicon glyphicon-align-justify"></i></div>
	</div>
</div>
<sp-story-list 
	data="data" 
	account-name="accountName"
	owners="owners" 
	enable-alt-mode="(isManualAltMode || isAltMode)"
/>
</div>