<div class="signin">
	<div class="welcome">
		<h1>Circle&nbsp;Blvd.</h1>
		<div class="col-sm-offset-2 col-sm-8">
			<form>
				<h4>Welcome.</h4>
				<div><input type="text" ng-model="user.email" placeholder="Email address" class="form-control"/></div>
				<div><input type="password" ng-model="user.password" placeholder="Password" class="form-control"/></div>
				<div class="actionRow">
					<div class="checkbox-inline remember pull-left">
						<label class="relax"><input type="checkbox" ng-model="rememberMe"/>Remember me</label>
					</div>
					<button class="btn btn-default pull-right" type="submit" ng-click="signIn()">Sign in</button> 
				</div>
			</form>
		</div>
		<div class="col-sm-offset-2 col-sm-8">
			<div class="clear message">{{message}}</div>
		</div>
	</div>

	<div class="intro">
		<div class="col-sm-offset-2 col-sm-8 clear signin-section">
			<h4>Task management for teams.</h4>
		</div>
		<div class="storyListWrapper">
			<sp-story-list
				data="introduction" 
				account-name="whoami"
				owners="['Alaina', 'Nicholas', 'Phil', whoami]" 
				is-facade="isFacade"></sp-story-list>
		</div>
	</div>

	<div class="tour">
		<div class="col-sm-offset-2 col-sm-8 clear signin-section">
			<h4>Take a tour.</h4>
			<p>Look closer. Play around. 
			<span class="glyphicon glyphicon-play"></span> 
			<a href="/#/tour">Take an interactive tour</a>.</p>
		</div>
	</div>

	<div class="free">
		<div class="col-sm-offset-2 col-sm-8 clear signin-section">
			<h4>Do what you want, pay what you want.</h4>
			<p>Add as many members to your group as you need. 
			Circle Blvd is free, for as long as you see fit. If you enjoy using 
			the site, you can <a href="/#/sponsor">sponsor development</a> 
			to encourage improvements and help open the site to more people.</p>

			<p>As the site is free, we only have room for a few groups at this time.</p> 
		</div>
	</div>

	<div class="signup">
		<form>
			<div class="col-sm-offset-2 col-sm-8 clear signin-section">
				<h4>Start today.</h4>
				<p>To get started, we just need a name for your team, a signin address,
					and a name that people in your group will recognize you by.</p>
				<label for="signupCircleName" class="sr-only">What's the name of your circle?</label>
				<div><input id="signupCircleName" type="text" ng-model="signup.circle" placeholder="Circle or group name" class="form-control"/></div>

				<label for="signupEmail">How will you be signing in?</label>
				<div><input id="signupEmail" type="text" ng-model="signup.email" placeholder="Email address" class="form-control"/></div>
				<div><input type="password" ng-model="signup.password" placeholder="Password" class="form-control"/></div>
				
				<label for="signupName">What's your name?</label>
				<div><input id="signupName" type="text" ng-model="signup.name" 
					placeholder="First name, full name, or nickname" class="form-control"/></div>
				<button class="btn btn-default pull-right" 
					ng-hide="signup.message"
					type="submit" ng-click="signUp()">Create circle</button> 
			</div>
			<div class="col-sm-offset-2 col-sm-8 clear ng-cloak"
				ng-show="signup.message">
				<div class="thanks story deadline not-selected">{{signup.message}}</div>
			</div>
		</form>
	</div>

	<div class="donate">
		<div class="col-sm-offset-2 col-sm-8 clear donate-section">
			<img src="/img/logo-on-black-76px.png"/>
			<div class="links">
				<span><a href="/#/tour">tour</a></span> .
				<span><a href="/#/about">about</a></span> .
				<span ng-show="isPaymentEnabled()"><a href="/#/sponsor">sponsor</a> .</span>
				<span>@<a href="https://twitter.com/circleblvd">circleblvd</a></span> .
				<span>a <a href="http://a.secretproject.org/">secret project</a></span>
			</div>
		</div>
	</div>
</div>