<div class="content admin">

<h3>Administration!</h3>
<p ng-show="!isSignedIn()">Please <a href="#/signin">sign in</a>.</p>

<div ng-show="isSignedIn()" class="hidden-xs">
<form>
	<h4 class="first">Circle name</h4>
	<div class="row">
		<div class="col-sm-5">
			<input ng-model="circleName" class="form-control" type="text" placeholder="Circle name"/>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-default" 
			ng-click="saveCircleName(circleName)">Save</button>
			<span>&nbsp;{{messages.name}}</span>
		</div>
	</div>
</form>

<form>
	<h4>Milepost colors</h4>
	<div class="row">
		<div class="col-sm-5">
			<input ng-model="milepostBackground" class="form-control" type="text" placeholder="Background"/>
		</div>
		<div class="col-sm-4 subtle">(e.g. gold or #990000)</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<input ng-model="milepostForeground" class="form-control" type="text" placeholder="Foreground"/>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-default" 
			ng-click="saveMilepostColors(milepostBackground, milepostForeground)">Save</button>
			<span>&nbsp;{{messages.milepostColors}}</span>
		</div>
	</div>
</form>

<form>
	<h4>Invite people</h4>
	<div class="row">
		<div class="col-sm-8 col-md-7">
			<p>Add people to your circle by sending them links to join.
			Each invitation link is good for one invite, and will expire 
			after 5 days.</p>

			<div class="inviteUrlPanel" ng-show="inviteUrl">
				<label>Invite link:</label>
				<div>{{inviteUrl}}</div>
				<div>&gt; <a href="{{inviteUrl}}">go there</a> &lt;</div>
			</div>
		</div>
	</div>
	<button class="btn btn-default"
	ng-click="createInvite(1)">Create invite</button>
</form>

<div ng-show="invites">
	<h4>Open invitations</h4>
	<ul class="adminList">
		<li ng-repeat="invite in invites" ng-class-odd="'odd'">
			<div class="row">
				<div class="col-xs-8">{{getInviteUrl(invite)}}</div>
				<div class="col-xs-2"><a href="{{getInviteUrl(invite)}}">view</a></div>
			</div>
		</li>
	</ul>
</div>

<h4>Member list</h4>
<ul class="adminList">
	<li ng-repeat="member in members" ng-class-odd="'odd'">
		<div class="row">
			<div class="name col-sm-3">{{member.name}}</div>
			<div class="email col-sm-3">{{member.notifications.email || member.email}}</div>
			<div class="roles col-sm-3">
				<span ng-repeat="membership in member.memberships">
					{{getGroupName(membership.group)}}
				</span>
			</div>
			<div class="col-sm-2">
				<a class="jsLink" ng-click="showDetails(member)">Edit details</a>
			</div>
			<div class="removeMember col-sm-1" ng-click="removeMember(member)" title="remove member"><i class="glyphicon glyphicon-trash"></i></div>
		</div>
		<div class="row" ng-cloak ng-show="isShowing(member)">
			<div class="col-xs-12">
				<div><strong>Groups</strong></div>
				<div ng-repeat="group in groups">
					<div class="checkbox" ng-hide="isGroupImplied(group)">
						<label><input type="checkbox" ng-model="member.groups[group.id]"> {{group.name}}</label>
					</div>
				</div>
				<button class="btn btn-default" ng-click="saveGroups(member)">Save {{member.name}}'s groups</button>
			</div>
		</div>
	</li>
</ul>
			
<form>
	<h4>Create accounts for people</h4>
	<div class="row">
		<div class="col-sm-7">
			<p>As a group admin, sometimes you might want 
			to create an account for someone and add 
			him or her to your circle in one step.</p>

			<p>If there is already an account associated
			with the email address you specify, that 
			account is added to your circle, and the name
			and password fields are ignored.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<input class="form-control" type="text" 
			ng-model="memberName" placeholder="Name"/>
			
			<input class="form-control" type="email" 
			ng-model="memberEmail" placeholder="Email"/>
			
			<input  class="form-control" type="password" 
			ng-model="memberPassword" placeholder="Password"/>
			
			<button class="btn btn-default" ng-click="addMember(memberName, memberEmail, memberPassword, memberGroups)">Create account</button> (and add member)
		</div>

		<div class="col-sm-3">
			<div style="margin-bottom: 1ex;">Select groups:</div>
			<div ng-repeat="group in groups">
				<div class="checkbox" ng-hide="isGroupImplied(group)">
					<label><input type="checkbox" ng-model="memberGroups[group.id]"> {{group.name}}</label>
				</div>
			</div>
			
		</div>
	</div>
</form>

<form>
	<h4>Archive circle</h4>
	<div class="row">
		<p class="col-sm-7">Hide the circle from the top navbar, for all members. The circle will still be accessible from the <a href="/#/profile">profile page</a>,
		and it can still be edited.</p>
	</div>

	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="isArchived"> Archive
		</label>
	</div>
</form>

<!-- <form id="groupForm">
	<h4>Groups</h4>
	<div class="row">
		<div class="col-sm-3"><input type="text" ng-model="groupName" 
			placeholder="Name" class="form-control" /></div>
		<div class="col-sm-2"><button class="btn btn-default" ng-click="addGroup(groupName)">Add group</button></div>
	</div>
	<ul class="adminList">
		<li ng-repeat="group in groups" ng-class-odd="'odd'">
			<div class="row" ng-hide="isGroupImplied(group)">
				<div class="name col-sm-3">{{group.name}}</div>
				<div class="removeUser col-sm-2" ng-hide="group.isPermanent" ng-click="removeGroup(group)" title="remove group"><i class="glyphicon glyphicon-trash"></i></div>
			</div>
		</li>
	</ul>
</form> -->

</div>

<div class="visible-xs">Please use a larger screen for administrative things, for now. :-)</div>
</div>
