<div class="content">
	<div class="col-sm-offset-2 col-sm-8 donations">
		<h3>Making a donation</h3>
		<p>Thank you for considering a donation to Circle Blvd. </p>
		
		<h3>Where your donation goes</h3>
		<p>Circle Blvd is being created by <a href="http://a.secretproject.org">Secret 
		Project</a>, a software company based in Corvallis, Oregon, focused on the needs of small, volunteer-run organizations.</p>

		<p>Secret Project is led by <a href="http://pmnjk.com">Phil Manijak</a>, a co-founder of the <a href="http://corvallisswing.com">Corvallis Swing Dance Society</a> and journeyman computer programmer. Phil has been leading small teams in volunteer organizations for over six years, and has been programming in the software industry for ten.</p>

		<p>Your donation will help us keep the lights on until word gets out about our great website. We rent our computers from Amazon; they are the recipient of all our operational fees. A small processing fee will go to <a href="https://stripe.com/">Stripe</a>.</p>

		<p>Our work would not be possible without the support of other free software projects,
		including <a href="http://couchdb.apache.org/">Apache CouchDB</a>, <a href="http://nodejs.org/">Node.js</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, and <a href="https://angularjs.org/">AngularJS</a>.</p>

		<p>Thank you.</p>

		<div class="btn-wrapper row" ng-hide="isDonationSuccess">
			<button class="col-xs-12 col-sm-offset-1 col-sm-3 btn btn-default" ng-click="openStripeCheckout($event, donate5)">Donate $5</button>
			<button class="col-xs-12 col-sm-3 btn btn-default" ng-click="openStripeCheckout($event, donate20)">Donate $20</button>
			<button class="col-xs-12 col-sm-3 btn btn-default" ng-click="openStripeCheckout($event, donate100)">Donate $100</button>
		</div>
		<div class="received alert alert-info ng-cloak" ng-show="isDonationSuccess">
			<p>Your donation has been received. Thank you for making this website and the
			many projects it supports possible.</p>
		</div>
	</div>
</div>