<!-- <button ng-click="test()">Test</button> -->
<div class="content">
<div ng-if="isBacklogBroken" class="ng-cloak brokenHeading col-xs-12">
	<h4>Something is broken, but you can help</h4>
	<p>Hi! Sorry, Circle Blvd is broken &ndash; it's not you, it's me, Phil.</p>
	<p>It might be easy to fix, though!</p>
	<p><a href="#/fix">Follow this link</a>, please.</p>
</div>

<div class="entry-facade no-select" ng-hide="isAddingNew || isBacklogBroken">
	<div class="clearfix entry-facade-container">
		<div class="col-xs-12 debug show-entry alignWithStoryList"
			ng-class="{
				'col-sm-7': isMindset('roadmap'),
				'col-sm-offset-2': !isMindset('roadmap'),
				'col-sm-8': !isMindset('roadmap')
			}">			
				+ <a ng-click="showEntry()" class="jsLink">Add task</a>
		</div>
	</div>
</div>

<div class="entry" ng-show="isAddingNew">
	<div class="row">
		<div class="col-xs-12 debug"
			ng-class="{
				roadmapOffset: isMindset('roadmap'),
				'col-sm-7': isMindset('roadmap'),
				'col-sm-offset-2': !isMindset('roadmap'),
				'col-sm-8': !isMindset('roadmap')
			}">
			<ul class="entry-nav nav nav-pills row alignWithStoryList">
				<li ng-class="{ active: isAdding['story'] }">
					<a class="jsLink" ng-click="showEntry('story')">Task</a>
				</li>
				<li ng-class="{ active: isAdding['deadline'] }">
					<a class="jsLink" ng-click="showEntry('deadline')">Milepost</a>
				</li>
				<li ng-class="{ active: isAdding['many'] }">
					<a class="jsLink" ng-click="showEntry('many')">Many</a>
				</li>
				<li ng-class="{ active: isAdding['checklist'] }">
					<a class="jsLink" ng-click="showEntry('checklist')">Checklist</a>
				</li>
				<li class="pull-right">
					<a ng-click="hideEntry()" class="jsLink subtle">Hide entry</a>
				</li>
			</ul>

			<div ng-show="isAdding['story']" class="debug new-story row alignWithStoryList">
				<form>
					<div class="input-group">
						<input id="storyEntry" tabindex="1" type="text"
						autocomplete="off" 
						class="form-control" ng-model="newStory.summary" />
						<span class="input-group-btn">
							<button tabindex="3" class="btn btn-default pull-right" ng-click="create(newStory)">Add task</button>
						</span>
					</div>

					<textarea class="form-control" tabindex="2" 
						ng-model="newStory.description" 
						autosize
						show-model="isAdding['story']"
						placeholder="Task description ..."></textarea>
				</form>
			</div>

			<div ng-show="isAdding['deadline']" class="debug row new-story after-meeting deadline alignWithStoryList">
				<form>
					<div class="input-group">
						<input id="deadlineEntry" tabindex="1" type="text"
						autocomplete="off" 
						class="form-control" ng-model="newDeadline.summary"/>
						<span class="input-group-btn">
							<button tabindex="3" class="btn btn-default pull-right" ng-click="createDeadline(newDeadline)">Add milepost</button>
						</span>
					</div>
					<textarea tabindex="2" class="form-control" ng-model="newDeadline.description"
						autosize 
						show-model="isAdding['deadline']"
						placeholder="Milepost description ..."></textarea>
				</form>
			</div>

			<div ng-show="isAdding['checklist']" class="debug row new-story after-meeting many alignWithStoryList">
				<form>
					<p>Select a checklist to add to your task list:</p>
					<ul>
						<li ng-repeat="checklist in checklists">
							<a class="jsLink" ng-click="selectChecklist(checklist)"
							ng-class="{
								isSelectedChecklist: isSelectedChecklist(checklist)
							}">{{checklist.name}}</a>
						</li>
					</ul>
					<div ng-show="displayChecklist">
						<p>Stories in the selected checklist:</p>
						<ul class="displayListStories">
							<li ng-repeat="story in displayChecklist">
								{{story.summary}}
							</li>
						</ul>
					</div>

					<button class="btn btn-default pull-right" ng-click="addSelectedChecklist()">Add checklist</button>
				</form>
			</div>

			<div ng-show="isAdding['many']" class="debug row new-story after-meeting many alignWithStoryList">
				<form>
					<p>Enter one task per line. To add a milepost, start the line with -- (two hyphens). To assign a task, end the line with @owner (e.g. @{{profileName}}).</p>
					<textarea id="manyEntry" autosize class="form-control" 
						ng-model="newMany.txt"
						ng-paste="manyPaste($event)"/>
					<button class="btn btn-default pull-right" ng-click="createMany(newMany)">Add many</button>
				</form>
			</div>
		</div>
	</div>
</div>
<sp-story-list 
	circle="circle"
	data="data" 
	account-name="accountName"
	owners="owners" 
	keyboard="keyboard"
	mouse="mouse"
	enable-alt-mode="(isManualAltMode || isAltMode)"
/>
</div>