<!-- <button class="btn btn-default" ng-click="checkIntegrity()">Check integrity</button> -->
<div id="storyList" class="no-select {{getMindsetClass()}}">
	<div id="visibilityHelper" class="hidden-xs"></div>
	<div id="backlog" class="debug clear"
		ng-class="{
			'col-sm-7': isMindset('roadmap')
		}">
		<div ng-show="!isMindset('detailed')" class="hidden-xs filterWrapper row">
			<div class="col-sm-2" ng-hide="isMindset('roadmap')"></div>
			<div class="col-xs-12 story mindset-help"
				ng-class="{
					'col-sm-8': !isMindset('roadmap'),
					'col-sm-12': isMindset('roadmap')
				}">
				<div class="paddy">
					<div ng-show="isMindset('bump')">
						Use <i class="glyphicon glyphicon-chevron-up"></i> to send tasks 
						above '{{nextMeeting.summary}}'</div>
					<div ng-show="isMindset('mine')">Use 
						<i class="bump-status inline"></i> to quickly
						change a task's status.</div>
					<div ng-show="isMindset('roadmap')">Use the 
						<i class="glyphicon glyphicon-move"></i> icon to move tasks from the left column to the right.</div>
				</div>
			</div>
		</div>
		<div ng-show="selectedLabels.length > 0" class="filterWrapper row">
			<div class="col-sm-2" ng-hide="isMindset('roadmap')"></div>
			<div class="col-xs-12 story filter"
				ng-class="{
					'col-sm-8': !isMindset('roadmap'),
					'col-sm-12': isMindset('roadmap')
				}">
				<div class="paddy">
					Showing only:
					<ul>
						<li ng-repeat="label in selectedLabels">
							<a class="active-filter" ng-click="deselectLabel(label)">{{label}}</a>
						</li>
					</ul>
					<div class="clear-filter pull-right">
						&gt; <a class="jsLink" ng-click="clearFilter()">show all</a> &lt;
					</div>
				</div>
			</div>
		</div>
		<div id="sortableList">
			<div class="storyWrapper row debug no-select" 
				data-left-story-id="{{::story.id}}"
				data-story-id="{{::story.id}}"
				ng-repeat="story in stories"
				ng-hide="shouldHideStory(story)"
				ng-class="{highlightedWrapper: story.isHighlighted}">
				<sp-story/>
			</div>
		</div>
	</div>

	<div id="mileposts-wrapper" class="debug" ng-if="isMindset('roadmap')">
		<div id="mileposts" class="debug">
			<div class="storyWrapper row debug no-select" 
				data-story-id="{{::story.id}}"
				ng-repeat="story in mileposts">
				<sp-roadmap-milepost/>
			</div>
		</div>
	</div>
</div>
