<div class="content doc-page clearfix">
    <div class="clearfix">
        <div class="docs col-sm-offset-2 col-sm-8">
            <h2>Tour: Working with teams</h2>
            <p>Circle Blvd was created to help small groups work together.</p>
            
            <div class="row choice-menu">
                <div class="col-xs-4 choice">
                    <a href="/#/tour"><div class="circle-menu">
                        <div class="text">Start</div>
                    </div></a>
                </div>

                <div class="col-xs-4 choice active">
                    <div class="circle-menu">
                        <div class="text">Work</div>
                    </div>
                </div>

                <div class="col-xs-4 choice">
                    <a href="/#/tour/plan"><div class="circle-menu">
                        <div class="text">Plan</div>
                    </div></a>
                </div>
            </div>

            <p>Go ahead, focus on your projects. We're here to help.</p>

            <div class="row choice-menu">
                <div class="col-xs-3 choice plan-choice" ng-class="{active: isShowing('details')}">
                    <a class="jsLink" ng-click="show('details')"><div class="plan-menu">
                        <i class="glyphicon glyphicon-file"></i>
                        <div class="text">Tasks</div>
                    </div></a>
                </div>

                <div class="col-xs-3 choice plan-choice" ng-class="{active: isShowing('mileposts')}">
                    <a class="jsLink" ng-click="show('mileposts')"><div class="plan-menu">
                        <i class="glyphicon glyphicon-tasks"></i>
                        <div class="text">Mileposts</div>
                    </div></a>
                </div>

                <div class="col-xs-3 choice plan-choice" ng-class="{active: isShowing('checklists')}">
                    <a class="jsLink" ng-click="show('checklists')"><div class="plan-menu">
                        <i class="glyphicon glyphicon-repeat"></i>
                        <div class="text">Checklists</div>
                    </div></a>
                </div>

                <div class="col-xs-3 choice plan-choice" ng-class="{active: isShowing('status')}">
                    <a class="jsLink" ng-click="show('status')"><div class="plan-menu">
                        <i class="glyphicon glyphicon-record"></i>
                        <div class="text">Update status</div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>

    <div ng-cloak ng-if="isShowing('mileposts')">
        <div class="clearfix">
            <div class="docs col-sm-offset-2 col-sm-8">
                <p>Use mileposts to keep track of deadlines and special occasions, or
                add some structure to your long list. Want to get something done 
                before a particular date? Make a milepost and put the task above it.</p>
            </div>

            <sp-story-list 
            data="mileposts" 
            mindset="'detailed'"
            account-name="whoami"
            owners="['Alaina', 'Nicholas', 'Phil', whoami]" 
            keyboard="keyboard"
            mouse="mouse"
            is-facade="isFacade"></sp-story-list>

            <div class="docs col-sm-offset-2 col-sm-8">
                <p class="after-list">Try using mileposts to keep track of 
                tasks you want to maybe do later. Mileposts can be especially 
                helpful when combined with the <a href="/#/tour/plan/roadmap">roadmap</a> mindset, outlined in the planning section of the tour.</p>

                <p>Archive mileposts by moving them above the black task and 
                using the <i class="btn-icon-status inline" ng-include="'/img/glyphs/icon-circle.svg'"></i> icon.
            </div>
        </div>
    </div>

    <div ng-cloak ng-if="isShowing('checklists')">
        <div class="clearfix">
            <div class="docs col-sm-offset-2 col-sm-8">
                <p>Do you have a set of tasks that repeat a lot? Save this 
                as a checklist!</p>

                <p>Use the <a href="/#/lists">checklists page</a> to create 
                (or edit) them. Add them to your main list by using the standard 
                entry panel (and selecting the checklist option).</p>

                <h3>Adding many tasks</h3>
                <p>If you just want to enter a lot of tasks and mileposts at the same 
                time, take a look at the "many" option on the entry panel.</p> 
            </div>
        </div>
    </div>

    <div ng-cloak ng-if="isShowing('status')">
        <div class="clearfix">
            <div class="docs col-sm-offset-2 col-sm-8">
                <p>Tasks that are owned by you are marked by a blue, dotted edge.</p>
                <p>Select multiple tasks using the keyboard (with shift and the arrow keys)
                    or mouse (by dragging) and change their status with the buttons on the left, such as <i class="btn-icon-status inline" ng-include="'/img/glyphs/icon-half-circle.svg'"></i> and <i class="btn-icon-status inline" ng-include="'/img/glyphs/icon-circle.svg'"></i>.</p>
            </div>

            <sp-story-list 
            data="status" 
            mindset="'detailed'"
            account-name="whoami"
            owners="['Alaina', 'Nicholas', 'Phil', whoami]" 
            keyboard="keyboard"
            mouse="mouse"
            is-facade="isFacade"></sp-story-list>

            <div class="docs col-sm-offset-2 col-sm-8">
                <p class="after-list"></p>
            </div>
        </div>
    </div>


    <div ng-if="isShowing('details')">
        <div class="clearfix">
            <div class="docs col-sm-offset-2 col-sm-8">
                <p>When working with teams, you'll quickly want to edit the details of a task, which looks a bit like this when you select it:</p>
            </div>
        </div>

        <div id="backlog"> <!-- make the #backlog CSS happy -->
            <div ng-repeat="story in storyDetails" class="clearfix">
                <sp-story/>
            </div>
        </div>
        
        <div class="docs row">
            <div class="col-sm-offset-2 col-sm-8">
                <h3>Archive completed tasks</h3>
                <p>When a task is done, and you want it off the list, using 
                the <i class="btn-icon-status inline" ng-include="'/img/glyphs/icon-circle.svg'"></i> icon (next to the task summary) will move it into the archives. Once a task is in the archives, it cannot be changed.</p>


                <h3>Comment on tasks</h3>
                <p>Commenting on a task will email all the people involved: The person 
                who created the task, the task owner, and the people who have previously
                commented on this particular task.</p>

                <p>Quick, back-and-forth converations aren't really a focus of Circle
                Blvd, since there are so many other websites or apps (or texting) for that sort of thing these days. A search for "group chat" on your favorite search engine will show a few options that might compliment
                your use of Circle Blvd.</p>

                <p>We suggest using comments to ask the task creator clarifying questions, or to post decisions that have been made about a task.</p>


                <h3>Notify task owners</h3>

                <p>You may have noticed the question mark next to the task owner's name. At Circle Blvd, just because you typed someone's name into a box, that doesn't mean a task is going to be done by that person.</p>

                <p>If you want, use the <i class="glyphicon glyphicon-envelope"></i> 
                icon to send a short "please look at this" email to the potential owner. 
                This icon was created, as a courtesy, for those times when someone asks you to remind him or her to do something.</p> 

                <p>We suggest using this icon while you're having a conversation with the teammate. People can decide what email address they want to use to receive these notifications.</p>


<!-- TODO: Where to put this, if anywhere:
                <h3>Invite people to join</h3>
                <p>Add members to your group by using the admin page
                to send them links to join your circle.</p>
 -->            </div>
        </div>
    </div>
</div>