.footer.hidden-xs
    div a <a href="http://holmwell.com">holmwell</a> project: circle boulevard . 
     | v<span>#{version}</span> .
     | <a href="/about">about</a> .
     | <a href="/privacy">privacy</a> .
     | <a href="/contact">contact</a> .
     | <a href="https://twitter.com/circleblvd">follow</a> .
     | <a href="/partner">partner</a>

    div <a href="https://github.com/holmwell/circle-blvd">source code</a> on GitHub .
     | <span>some icons, courtesy <a href="http://www.glyphicons.com">Glyphicons</a></span>

.footer.visible-xs
    div circle boulevard . v<span>#{version}</span>
    div 
      span some icons, courtesy <a href="http://www.glyphicons.com">Glyphicons</a>
    div <a href="https://github.com/holmwell/circle-blvd">source code</a> on GitHub