<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Circle Blvd.</title>
  
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.min.nr.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" id="topLevel" ng-controller="TopLevelCtrl">

  <div class="header row">
    <h2 class="span3"><a href="/">Circle Blvd.</a></h2>
    <ul class="menu span4" ng-show="!isSignedIn()">
      <li><a href="#/signin">Sign in</a></li>
    </ul>

    <ul class="menu span4" ng-show="isSignedIn()">
      <li><a href="#/profile">Profile</a></li>
      <li ng-show="isAdmin()"><a href="#/admin">Admin</a></li>
      <li><a class="jsLink" ng-click="signOut()">Sign out</a></li>
    </ul>
  </div>

  <div class="view" ng-view></div>

</div>

<div class="footer">
  circle boulevard . v<span app-version></span> . 
  <a href="https://github.com/secret-project/circle-blvd">source code</a> on GitHub
</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="js/lib/angular/angular.js"></script>
  <script src="js/lib/angular/angular-route.js"></script>
  <script src="js/lib/store/store.min.js"></script>
  
  <script src="js/lib/yui/dd-dependencies.js"></script>
  <script src="js/lib/yui/dd.js"></script>

  <script src="js/lib/autosize/jquery.autosize.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers/topLevel.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/controllers/home.js"></script>
  <script src="js/controllers/signin.js"></script>
  <script src="js/controllers/profile.js"></script>
  <script src="js/controllers/admin.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>