extends ../prelude/layout-simple

block view
    .content.prelude-content
        .col-sm-offset-2.col-sm-8.contact
            h2 Welcome back

            p You are now signed in. To change your password, please 
             | visit <a href="/#/profile">your profile page</a>.

            p Thank you.