<!-- <button ng-click="test()">Test</button> -->
<div class="content home">
<div ng-if="isBacklogBroken" class="ng-cloak brokenHeading col-xs-12">
	<h4>Something is broken, but you can help</h4>
	<p>Hi! Sorry, Circle Blvd is broken &ndash; it's not you, it's me, Phil.</p>
	<p>It might be easy to fix, though!</p>
	<p><a href="#/fix">Follow this link</a>, please.</p>
</div>

<div ng-cloak ng-show="isFirstView && !isMindset('roadmap')">
	<div class="list-introduction">
		<div class="clearfix">
			<div class="alignWithStoryList col-xs-12 col-sm-offset-2 col-sm-8">
				<p>Hi! We put your entries into a basic task list, below. The list 
				has three parts:</p>

				<div class="row">
					<div class="col-xs-4 col-sm-3 for-glyph">
						<span class="glyphicon glyphicon-triangle-top"></span>
					</div>
					<div class="col-xs-8 col-sm-9">
						<h4>Tasks above the next meeting</h4>
						<p>This section is what your team is
							actively focusing on. Typically, these tasks are expected to be finished 
							within a week.</p>
					 </div>
				</div>

				<div class="row">
					<div class="col-xs-4 col-sm-3 for-glyph">
						<span class="glyphicon glyphicon-sort"></span>
					</div>
					<div class="col-xs-8 col-sm-9">
						<h4>The next planning meeting</h4>
						<p>This is a special task that every project 
							has. Use it as a cut line for what your team is doing and not doing
							before your next planning meeting.</p>
					 </div>
				</div>

				<div class="row">
					<div class="col-xs-4 col-sm-3 for-glyph">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
					</div>
					<div class="col-xs-8 col-sm-9">
						<h4>Tasks below</h4>
						<p>Tasks to be accomplished someday, maybe. Use these tasks
							for future reference and short- and long-term planning.</p>
					 </div>
				</div>

				<p>A few last tips:</p>
				<ul>
					<li>Move tasks with the <i class="glyphicon glyphicon-move"></i> icon.</li>
					<li>For <a href="/tips">keyboard shortcuts</a>, see the <i class="glyphicon glyphicon-flash"></i> page (in the top menu).</li>
					<li>We recommend learning about the site by taking 
						<a href="/tour">our tour</a>, which you can also find in the
						top menu.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="entry-facade no-select" ng-hide="isAddingNew || isBacklogBroken">
	<div class="clearfix entry-facade-container">
		<div class="col-xs-12 debug alignWithStoryList"
			ng-class="{
				'col-sm-7': isMindset('roadmap'),
				'col-sm-offset-2': !isMindset('roadmap'),
				'col-sm-8': !isMindset('roadmap')
			}">
			<div class="col-xs-6 show-search debug">
				<span ng-click="showSearch()" 
					ng-class="{ active: isSearching }"
					ng-mouseenter="setSearchBarLabel('Search')"
					ng-mouseleave="setSearchBarLabel('')"
					class="glyphicon glyphicon-search"></span>

				<span ng-click="selectOwner(profileName)" 
					ng-class="{ active: selectedOwner === profileName }"
					ng-mouseenter="setSearchBarLabel('My tasks')"
					ng-mouseleave="setSearchBarLabel('')"
					class="glyphicon glyphicon-record"></span>

				<span class="searchBarLabel">{{searchBarLabel}}</span>
			</div>

			<div class="col-xs-6 show-entry">
				<div class="pull-right" ng-show="isSearching">
					<a ng-click="hideSearch()" class="jsLink subtle">Hide search</a>
				</div>
				<span ng-hide="isSearching">
					+ <a ng-click="showEntry()" class="jsLink">Add task</a>
				</span>
			</div>

		</div>
	</div>
</div>

<div class="search" ng-show="isSearching">
	<div class="row">
		<div class="col-xs-12 debug"
			ng-class="{
				roadmapOffset: isMindset('roadmap'),
				'col-sm-7': isMindset('roadmap'),
				'col-sm-offset-2': !isMindset('roadmap'),
				'col-sm-8': !isMindset('roadmap')
			}">

			<div class="debug new-story row alignWithStoryList">
				<input id="searchEntry" type="text" autocomplete="off" 
					placeholder="Search ..."
					class="form-control" ng-model="searchEntry" />
			</div>
		</div>
	</div>
</div>


<div class="entry" ng-show="isAddingNew">
	<div class="row">
		<div class="col-xs-12 debug"
			ng-class="{
				roadmapOffset: isMindset('roadmap'),
				'col-sm-7': isMindset('roadmap'),
				'col-sm-offset-2': !isMindset('roadmap'),
				'col-sm-8': !isMindset('roadmap')
			}">
			<ul class="entry-nav nav nav-pills row alignWithStoryList">
				<li ng-class="{ active: isAdding['story'] }">
					<a class="jsLink" ng-click="showEntry('story')">Task</a>
				</li>
				<li ng-class="{ active: isAdding['deadline'] }">
					<a class="jsLink" ng-click="showEntry('deadline')">Milepost</a>
				</li>
				<li ng-class="{ active: isAdding['many'] }">
					<a class="jsLink" ng-click="showEntry('many')">Many</a>
				</li>
				<li ng-class="{ active: isAdding['checklist'] }">
					<a class="jsLink" ng-click="showEntry('checklist')">Checklist</a>
				</li>
				<li class="pull-right">
					<a ng-click="hideEntry()" class="jsLink subtle">Hide entry</a>
				</li>
			</ul>

			<div ng-show="!isCircleInGoodStanding"
				class="debug new-story row alignWithStoryList" ng-cloak>
				<div class="require-payment">
					<h4>Thank you for being a member of Circle Blvd.</h4>
					<p>To continue adding tasks to {{getActiveCircleName()}}, 
						the person who created this circle 
						<span ng-show="circleSponsorName">({{circleSponsorName}})</span>
						needs to open a subscription. They can do so from the 
						<a href="/#/profile">profile page</a>.</p>
				</div>
			</div>

			<div ng-show="isAdding['story']" class="debug new-story row alignWithStoryList">
				<form>
					<div class="input-group">
						<input id="storyEntry" tabindex="1" type="text"
						autocomplete="off" 
						class="form-control" ng-model="newStory.summary" />
						<span class="input-group-btn">
							<button tabindex="3" class="btn btn-default pull-right" ng-click="create(newStory)">Add task</button>
						</span>
					</div>

					<textarea class="form-control" tabindex="2" 
						ng-model="newStory.description" 
						autosize
						show-model="isAdding['story']"
						placeholder="Task description ..."></textarea>
				</form>
			</div>

			<div ng-show="isAdding['deadline']" class="debug row new-story after-meeting deadline alignWithStoryList">
				<form>
					<div class="input-group">
						<input id="deadlineEntry" tabindex="1" type="text"
						autocomplete="off" 
						class="form-control" ng-model="newDeadline.summary"/>
						<span class="input-group-btn">
							<button tabindex="3" class="btn btn-default pull-right" ng-click="createDeadline(newDeadline)">Add milepost</button>
						</span>
					</div>
					<textarea tabindex="2" class="form-control" ng-model="newDeadline.description"
						autosize 
						show-model="isAdding['deadline']"
						placeholder="Milepost description ..."></textarea>
				</form>
			</div>

			<div ng-show="isAdding['checklist']" 
				class="debug row new-story after-meeting many alignWithStoryList">
				<form>
					<div ng-show="checklists.length === 0">
						There aren't any checklists in this circle, yet. To 
						make one, please go to the <a href="/#/lists">checklists page</a>.
					</div>
					<div ng-hide="checklists.length === 0">
						<div ng-hide="displayChecklist">
							<p>Select a checklist to add:</p>
							<ul>
								<li ng-repeat="checklist in checklists">
									<a class="jsLink" ng-click="selectChecklist(checklist)"
									ng-class="{
										isSelectedChecklist: isSelectedChecklist(checklist)
									}">{{checklist.name}}</a>
								</li>
							</ul>
						</div>

						<div ng-show="displayChecklist">
							<p><a class="jsLink" 
								ng-click="deselectChecklist()">
								<span class="glyphicon glyphicon-chevron-left"></span></a>
								<a class="jsLink" 
								ng-click="deselectChecklist()">
								Back to checklist selection</a></p>

							<p>Tasks in the selected checklist:</p>
							<p ng-if="displayChecklist.length === 0">(This checklist
								is empty.)</p>

							<textarea id="checklistEntry" autosize class="form-control" 
							ng-model="newChecklist.txt"
							ng-paste="checklistPaste($event)"/>

							<p>If you want to insert text before or after
								each task summary (e.g. #event-name), you 
								can do so with the following:</p>
							<div class="row">
								<div class="col-xs-6 many-input-wrapper-left">
									<input ng-model="newChecklist.prefix" 
									class="form-control many-input"
									placeholder="Text before each line?"/>
								</div>
								<div class="col-xs-6 many-input-wrapper">
									<input ng-model="newChecklist.suffix" 
									class="form-control many-input"
									placeholder="Text after each line?"/>
								</div>
							</div>

							<button class="btn btn-default pull-right" 
							ng-click="createMany(newChecklist, 'checklist')">Add checklist</button>
						</div>
					</div>
				</form>
			</div>

			<div ng-show="isAdding['many']" class="debug row new-story after-meeting many alignWithStoryList">
				<form>
					<p>Enter one task per line. To add a milepost, start the line with -- (two hyphens). To assign a task, end the line with @owner (e.g. @{{profileName}}).</p>
					<textarea id="manyEntry" autosize class="form-control" 
						ng-model="newMany.txt"
						ng-paste="manyPaste($event)"/>

					<p>If you want to insert text before or after
						each task summary (e.g. #event-name), you 
						can do so with the following:</p>
					<div class="row">
						<div class="col-xs-6 many-input-wrapper-left">
							<input ng-model="newMany.prefix" 
							class="form-control many-input"
							placeholder="Text before each line?"/>
						</div>
						<div class="col-xs-6 many-input-wrapper">
							<input ng-model="newMany.suffix" 
							class="form-control many-input"
							placeholder="Text after each line?"/>
						</div>
					</div>

					<button class="btn btn-default pull-right" ng-click="createMany(newMany)">Add many</button>
				</form>
			</div>
		</div>
	</div>
</div>

<sp-story-list 
	circle="circle"
	data="data" 
	account-name="accountName"
	owners="owners" 
	keyboard="keyboard"
	mouse="mouse"
	enable-alt-mode="(isManualAltMode || isAltMode)"
/>
</div>

<div ng-if="::isFirstView" class="hide-introduction"><a href="/#/" class="subtle link-btn">Hide introduction</a></div>
