<div class="content">
<div ng-show="!isSignedIn()">
	<h3>Profile</h3>
	<p>Please <a href="#/signin">sign in</a>.</p>
</div>

<div ng-show="isSignedIn()" class="profile">
	<div class="col-sm-offset-1 row clear basics">
		<div class="col-sm-6 clear">
			<div class="form-group has-{{feedback.name}}"
				ng-class="{
					'has-feedback': feedback.name
				}">
				<label for="profileName">Name</label>
				<input id="profileName" ng-model="name" type="text" class="form-control" placeholder="Name"/>
				<span ng-show="isSuccess(feedback.name)" class="glyphicon glyphicon-ok form-control-feedback"></span>
				<div>{{messages.name}}</div>
			</div>
		</div>

		<div class="col-sm-6 clear">
			<div class="form-group has-{{feedback.email}}"
				ng-class="{
					'has-feedback': feedback.email
				}"
				>
				<label for="profileEmail">Email for signing in</label>
				<input id="profileEmail" ng-model="email" type="text" class="form-control" placeholder="Email"/>
				<span ng-show="isSuccess(feedback.email)" class="glyphicon glyphicon-ok form-control-feedback"></span>
				<div>{{messages.email}}</div>
			</div>
		</div>

		<div class="col-sm-6 clear">
			<div class="form-group has-{{feedback.notificationEmail}}"
				ng-class="{
					'has-feedback': feedback.notificationEmail
				}"
				>
				<label for="notificationEmail">Email for notifications</label>
				<input id="notificationEmail" ng-model="notificationEmail" type="email" class="form-control" placeholder="Notification email"/>
				<span ng-show="isSuccess(feedback.notificationEmail)" class="glyphicon glyphicon-ok form-control-feedback"></span>
				<div>{{messages.notificationEmail}}</div>
			</div>
		</div>
		<div class="col-sm-6 input-aligned">People can see this address.</div>

		<div class="col-sm-6 clear">
			<button class="btn btn-default" 
			ng-click="saveProfile(name, email, notificationEmail)">Save changes</button> 
		</div>
	</div>
		
	<div class="col-sm-offset-1 row clear">
		<form class="circles">
			<h5 class="col-xs-12">Circles</h5>
			<div class="clear">
				<ul>
					<li ng-repeat="circle in circles">
						<a class="jsLink" ng-click="setActiveCircle(circle, true)">{{circle.name}}</a></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<div class="input-group">
					<input ng-model="newCircleName" type="text" class="form-control" placeholder="New circle name"/>
					<span class="input-group-btn">
						<button class="btn btn-default" 
						ng-click="createCircle(newCircleName)">Create circle</button>
					</span>
				</div>
				<div class="pull-left" ng-show="isCreatingCircle">&nbsp;...</div>
				<p class="message clear">{{messages.circle}}</p>
			</div>
			
		</form>
	</div>

	<div class="col-sm-offset-1 row clear">
		<div class="donations" ng-show="supportsPayments">
			<h5 class="col-xs-12">Partnership level</h5>
			<div class="row plans">
				<div ng-repeat="plan in plans">
					<div class="col-sm-3 plan" 
						ng-class="{active: (activePlan === plan)}" 
						ng-click="setPlan(plan)">
						<div ng-if="plan.name === 'Supporter'">
							<span class="support-circle"></span>
						</div>
						<div ng-if="plan.name === 'Organizer'">
							<span class="support-circle"></span>
							<span class="support-circle"></span>
							<span class="support-circle"></span>
						</div>
						<div ng-if="plan.name === 'Patron'">
							<span class="support-circle"></span>
							<span class="support-circle"></span>
							<span class="support-circle"></span>
							<span class="support-circle"></span>
							<span class="support-circle"></span>
						</div>
						<div class="name">{{plan.name}}</div>
						<div class="amount">{{plan.displayAmount}} per month</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 checkout"><button class="btn btn-default" ng-click="openStripeCheckout($event)">Save partnership</button></div>

			<p ng-show="activePlan.name" 
			class="col-sm-3 subtle cancel"><a 
			class="jsLink subtle" ng-click="cancelSubscription()">cancel partnership</a></p>
		</div>
	</div>

	<div class="col-sm-offset-1 row password clear">
		<h5 class="col-xs-12">Change password</h5>
		<div class="col-sm-6 clear"><input ng-model="pass1" type="password" placeholder="New password" class="form-control"></div>
		<div class="col-sm-6 clear"><input ng-model="pass2" type="password" placeholder="Again" class="form-control"></div>
		<div class="col-sm-6 clear">
			<button class="btn btn-default" ng-click="updatePassword(pass1, pass2)">Save password</button>
			<p class="message">{{messages.password}}</p>
		</div>
		
	</div>
</div>
</div>