<div class="signin">
	<div class="welcome">
		<h1>Circle&nbsp;Blvd.</h1>
		<div class="col-sm-offset-2 col-sm-8">
			<form>
				<h4>Welcome.</h4>
				<p>Sign in here, or create an account at the bottom of this page.</p>
				<div><input type="text" ng-model="user.email" placeholder="Email address" class="form-control"/></div>
				<div><input type="password" ng-model="user.password" placeholder="Password" class="form-control"/></div>
				<div class="actionRow">
					<div class="checkbox-inline remember pull-left">
						<label class="relax"><input type="checkbox" ng-model="rememberMe"/>Remember me</label>
					</div>
					<button class="btn btn-default pull-right" type="submit" ng-click="signIn()">Sign in</button> 
				</div>
			</form>
		</div>
		<div class="col-sm-offset-2 col-sm-8">
			<div class="clear message">{{message}}</div>
		</div>
	</div>

	<div class="intro">
		<div class="col-sm-offset-2 col-sm-8 clear signin-section">
			<h4>Task management for community projects.</h4>

			<div class="embed-container">
				<iframe src="//www.youtube-nocookie.com/embed/-a7n_iyqB0A?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<p class="below-video">Maybe you're organizing a local meetup, or an arts festival, or a movement for change,
				and you'd like to keep your board of directors on the same page.</p>

			<p>Circle Blvd is for doing just that &mdash; it's for managing tasks, remembering who
				is doing what, and staying flexible as situations and priorities change.</p>
		</div>
		<!-- <div class="storyListWrapper">
			<sp-story-list
				data="introduction" 
				account-name="whoami"
				owners="['Alaina', 'Nicholas', 'Phil', whoami]" 
				is-facade="isFacade"></sp-story-list>
		</div> -->
	</div>

	<div class="tour">
		<div class="col-sm-offset-2 col-sm-8 clear signin-section">
			<h4>Watch the walkthrough, take a tour.</h4>

			<p>Circle Blvd is a task management tool, made for teams of 3-12 people. Below is a 2-minute screencast on how to make a project and get started with the site.</p>

			<div class="embed-container">
				<iframe src="//www.youtube-nocookie.com/embed/-o-lN-Wn5Wc?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>

			<p class="below-video">This site supports:</p>
			<ul>
				<li>Multiple projects</li>
 				<li>Unlimited accounts</li>
 				<li>Task lists, assignments, status updates, comments</li>
 				<li>Drag-and-drop prioritization</li>
 				<li>One-line task entry, multiple-task entry</li>
 				<li>Email notifications</li>
 				<li>Hashtags / label filtering</li>
 				<li>Reusable checklists</li>
 				<li>Roadmap planning</li>
 				<li>Task archives</li>
 				<li>Admin management</li>
 				<li>Secure communication over HTTPS</li>
			</ul>

			<p><span class="glyphicon glyphicon-play"></span> 
			Visit <a href="/#/tour">our tour page</a> to see a self-guided outline of the main aspects of the site.</p>
		</div>
	</div>

	<div class="free">
		<div class="col-sm-offset-2 col-sm-8 clear signin-section">
			<h4>Try for free.</h4>
			<p>Add as many members to your group as you need. 
			Circle Blvd is free to try.</p>

			<p>If your group enjoys using 
			the site, you can <a href="/#/partner">become a partner</a> 
			to encourage improvements and help share the site with more people.</p>
		</div>
	</div>

	<div class="signup" id="create-account">
		<form>
			<div class="col-sm-offset-2 col-sm-8 clear signin-section">
				<h4>Start today.</h4>
				<p>To get started, we need a name for your team, a sign-in address,
					and a name that people in your group will recognize you by.</p>
				<label for="signupCircleName" class="sr-only">What's the name of your circle?</label>
				<div><input id="signupCircleName" type="text" ng-model="signup.circle" placeholder="Circle or group name" class="form-control"/></div>

				<label for="signupEmail">How will you be signing in?</label>
				<div><input id="signupEmail" type="text" ng-model="signup.email" placeholder="Email address" class="form-control"/></div>
				<div><input type="password" ng-model="signup.password" placeholder="Password" class="form-control"/></div>
				
				<label for="signupName">What's your name?</label>
				<div><input id="signupName" type="text" ng-model="signup.name" 
					placeholder="First name, full name, or nickname" class="form-control"/></div>
				<button class="btn btn-default pull-right" 
					ng-hide="signup.message"
					type="submit" ng-click="signUp()">Create circle</button> 
			</div>
			<div class="col-sm-offset-2 col-sm-8 clear ng-cloak"
				ng-show="signup.message">
				<div class="thanks story deadline not-selected">{{signup.message}}</div>
			</div>
		</form>
	</div>

	<div class="donate">
		<div class="col-sm-offset-2 col-sm-8 clear donate-section">
			<img src="/img/logo-on-black-76px.png"/>
			<div class="links">
				<span><a href="/#/tour">tour</a></span> .
				<span><a href="/#/about">about</a></span> .
				<span ng-show="isPaymentEnabled()"><a href="/#/partner">partner</a> .</span>
				<span>@<a href="https://twitter.com/circleblvd">circleblvd</a></span> .
				<span>a <a href="http://holmwell.com">holmwell</a> project</span>
			</div>
		</div>
	</div>
</div>