<!-- <button class="btn btn-default" ng-click="checkIntegrity()">Check integrity</button> -->
<div id="storyList" class="no-select {{getMindsetClass()}}" 
	cb-viewport-observer cb-story-pulser>
	<div id="visibilityHelper" class="hidden-xs"></div>
	<div id="backlog" class="debug clear"
		ng-class="{
			'col-sm-7': isMindset('roadmap')
		}">
		<div ng-show="!isMindset('detailed')" class="hidden-xs filterWrapper row">
			<div class="col-sm-2" ng-hide="isMindset('roadmap')"></div>
			<div class="col-xs-12 story mindset-help"
				ng-class="{
					'col-sm-8': !isMindset('roadmap'),
					'col-sm-12': isMindset('roadmap')
				}">
				<div class="paddy">
					<div ng-show="isMindset('bump')">
						Use <i class="glyphicon glyphicon-chevron-up"></i> to send tasks 
						above '{{nextMeeting.summary}}'</div>
					<div ng-show="isMindset('mine')">Use 
						<i class="bump-status inline"></i> to quickly
						change a task's status.</div>
					<div ng-show="isMindset('roadmap')">Use the 
						<i class="glyphicon glyphicon-move"></i> icon to move tasks from the left column to the right.</div>
				</div>
			</div>
		</div>
		<div ng-show="selectedLabels.length > 0 || selectedOwner" class="filterWrapper row">
			<div class="col-sm-2" ng-hide="isMindset('roadmap')"></div>
			<div class="col-xs-12 story filter"
				ng-class="{
					'col-sm-8': !isMindset('roadmap'),
					'col-sm-12': isMindset('roadmap')
				}">
				<div class="paddy">
					Showing only:
					<ul>
						<li ng-repeat="label in selectedLabels">
							<a class="active-filter" ng-click="deselectLabel(label)">{{label}}</a>
						</li>
						<li ng-if="selectedOwner"> 
							<a class="active-filter" ng-click="deselectOwner()">owned by {{selectedOwner}}</a>
						</li>
					</ul>
					<div class="clear-filter pull-right">
						&gt; <a class="jsLink" ng-click="clearFilter()">show all</a> &lt;
					</div>
				</div>
			</div>
		</div>
		<!-- Migrating away from: <sp-story/> -->
		<div sp-sortable-list-wrapper>
			<!-- Our Vue root (in directives/spSortableListWrapper) binds to #sortableList, 
			 and this is the template for that component -->
			<div id="sortableList" ng-non-bindable>
				<div v-for="(story, index) in stories" class="storyWrapper row debug no-select" v-show="!shouldHide(story)"
					:class="story.isHighlighted ? 'highlightedWrapper' : ''" 
					:data-story-id="story.id" 
					:data-left-story-id="story.id" 
					:key="story.id">
					<cb-story-status-class v-bind="story">
						<cb-insert-story v-if="story.isMostRecentHighlight && isShowingInsertStory"
							:story="story"
							@insert-story="insertStory"
						></cb-insert-story>
						
						<cb-story-highlighted-tools v-if="!isMindsetRoadmap"
							:is-screen-xs="isScreenXs"
							:is-most-recent-highlight="story.isMostRecentHighlight"
							:is-showing-insert-story="isShowingInsertStory" 
							@change-status="setHighlightedStatus"
							@show-insert-story="showInsertStory"
							@hide-insert-story="hideInsertStory">
						</cb-story-highlighted-tools>

						<cb-story-status-column v-bind="story" @archive="archive(story)"></cb-story-status-column>

						<cb-story v-bind="story" 
							:is-screen-xs="isScreenXs"
							:index="index"
							@highlight="highlight" 
							@select-label="selectLabel" 
							@select-story="selectStory"
							@deselect-story="deselectStory"
							@remove="remove(story)"
							@save="save"></cb-story>

						<cb-story-owner-column v-bind="story" @select-owner="selectOwner"></cb-story-owner-column>
					</cb-story-status-class>
				</div>
			</div>
		</div>
	</div>

	<div id="mileposts-wrapper" class="debug" ng-if="isMindset('roadmap')">
		<div id="mileposts" class="debug">
			<div class="storyWrapper row debug no-select" 
				data-story-id="{{::story.id}}"
				ng-repeat="story in mileposts">
				<sp-roadmap-milepost/>
			</div>
		</div>
	</div>
</div>
