extends layout-simple

block view
    div(ng-controller="AboutCtrl")
        .content.prelude-content
            .col-sm-offset-2.col-sm-8.about
                h2 About Circle Tasks

                p Circle Tasks was created for volunteer organizations.

                p Leaders of volunteer organizations today are making great things happen in their
                 | communities. But they are stressed out. 

                p Keeping on top of tasks performed by volunteers is hard &mdash; volunteers are 
                 | busy, and they forget. Volunteer schedules change, and they don't always have 
                 | time to perform quality work. The amount a group can accomplish can change drastically 
                 | from week to week. 

                p Circle Tasks helps organizations deal with this uncertainty. It reduces stress, and
                 | gives leaders the simplicity they need. Organizations seek change, and Circle Tasks 
                 | helps them achieve that in their local communities. 

                h3 Origins 

                p Circle Tasks came about when the Corvallis Swing Dance Society was searching
                 | for a planning tool that worked for their all-volunteer board of 
                 | directors. None could be found. 

                p A co-founder of Corvallis Swing was also a software developer, and he decided 
                 | to make a project planner that was just the right fit for the group. A few years
                 | later, Circle Tasks was first released to the public, in July 2014.


                h3 Product team

                p Circle Tasks is a product of <a href="http://holmwell.com">Holmwell Software</a>, 
                 | a company based in Corvallis, Oregon.

                p Holmwell is led by <a href="http://pmnjk.com">Phil Manijak</a>. Phil is a community 
                 | organizer, a co-founder of the Corvallis Swing Dance Society, and a 10-year veteran 
                 | of the software industry. His design and programming work has been used by millions 
                 | of people across the globe.

                .row
                    .col-xs-4.col-sm-3.for-glyph
                        span.glyphicon.glyphicon-road
                    .col-xs-8.col-sm-9
                        h3 Business plans
                        p Our goal is to keep Circle Tasks free indefinitely, supported by <a href="/donate">donations</a> and development partners.

                        p Our intention is to create a business model similar to Wordpress, in the way that it is free to download and modify, or you can rent out space on our site.

                        p The <a href="https://github.com/holmwell/circle-tasks">source code</a> for Circle Tasks available on GitHub, under a BSD license. It can be downloaded and installed on most computers running Mac OS X, Linux, or Windows.

                .row
                    .col-xs-4.col-sm-3.for-glyph
                        span.glyphicon.glyphicon-certificate
                    .col-xs-8.col-sm-9
                        h3 Acknowledgements
                        p A large thank you goes to Oregon's Self Employment Assistance Program and the Corvallis Swing Dance Society.

                        p The engineering work behind Circle Tasks owes much to many people, including those behind Apache CouchDB, Node.js, Bootstrap, and AngularJS.

                        p This project would not be possible without the community support of family and friends.

                        p Thank you.
