extends layout-simple

block view
    div(ng-controller="AboutCtrl")
        .content.prelude-content
            .col-sm-offset-2.col-sm-8.about
                h2 About Circle Blvd.

                p Circle Blvd was created by in partnership with the Corvallis Swing Dance Society, for use
                 | as a planning tool by its board of directors. It's a task list
                 | to help you manage assignments, plan out the next few months, and 
                 | track agenda items as they come up.

                p Circle Blvd is primarily a website meant for use on a laptop or PC. We 
                 | also have a decent iPhone app, for checking in on your project when you're 
                 | on the go.


                h3 About the Holmwell Foundation 

                p Circle Blvd is a product of the <a href="http://holmwell.com">Holmwell Foundation</a> 
                 | in Olympia, Washington. Holmwell is dedicated to helping communities organize, and is
                 | a founding partner of the Morning Shift Coalition and Code Corvallis.

                .row
                    .col-xs-4.col-sm-3.for-glyph
                        span.glyphicon.glyphicon-certificate
                    .col-xs-8.col-sm-9
                        h3 Acknowledgements
                        p A large thank you goes to Oregon's Self Employment Assistance Program and the Corvallis Swing Dance Society.

                        p Circle Blvd's engineering work owes much to many people, including those behind Apache CouchDB, Node.js, Bootstrap, and AngularJS.

                        p This project would not be possible without the support of family and friends.

                        p Thank you.
