extends layout-simple

append stylesheets
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(href='/css/start.css' rel='stylesheet' type='text/css')
    link(href='/css/curtain.css' rel='stylesheet' type='text/css')
    link(href='/css/entrance.css' rel='stylesheet' type='text/css')

block content
    .curtain(ng-controller="SignInCtrl")
        include ../inc/navbar-curtain

        .block.first
            .container-fluid.main
                .row
                    .col-xs-12.col-sm-offset-1.col-sm-2
                        .step-wrapper
                            //- .step 
                            //-     img.check(src="img/logo-check-120px.png")

                    .question.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6.title
                        h1 Welcome to Circle&nbsp;Blvd.
                        h4 Project management for local community&nbsp;organizers.
                        h4.info Please make your first circle by answering me these questions&nbsp;three:
        .block.second
            .container-fluid.main
                .row
                    .col-xs-12.col-sm-2.col-sm-offset-1
                        .step-wrapper
                            .step i
                    .question.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
                        .heading What's your first name?
                        .explaination
                        input#signupName.entry.form-control(type="text" ng-model="signup.name" placeholder="First name, full name, or nickname")


        .block.third 
            .container-fluid.main
                .row
                    .col-xs-12.col-sm-offset-1.col-sm-2
                        .step-wrapper
                            .step ii
                    .question.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
                        .heading What's the name of your team?
                        .explaination 
                        input#signupCircleName.entry.form-control(type="text" ng-model="signup.circle" placeholder="Team or project name")

        .block.fourth
            .container-fluid.main
                .row
                    .col-xs-12.col-sm-offset-1.col-sm-2
                        .step-wrapper
                            .step iii
                    .question.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6    
                        .heading What's your email address?
                        .explaination How you'll be signing in.
                        input.entry.form-control(type="text" ng-model="signup.email" placeholder="Email address")
                        input.form-control(type="password" ng-model="signup.password" placeholder="Password")

        .block.fifth
            .container-fluid.main
                .row
                    .col-xs-12.col-sm-offset-1.col-sm-2
                        .step-wrapper
                            .step &nbsp;
                    .col-xs-12.col-sm-offset-0.col-sm-6.join-wrapper.question
                            button.join.btn.btn-default.primary(
                                ng-hide="signup.message"
                                type="submit" 
                                ng-click="signUp()") 
                                h4 Create circle

                            div.ng-cloak(ng-show="signup.message") {{signup.message}}

        include ../inc/footer