extends layout-simple

append stylesheets
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(href='/css/curtain.css' rel='stylesheet' type='text/css')

block content
    .curtain(ng-controller="SignInCtrl")
        include ../inc/navbar-curtain

        .container-fluid.main.debug.first
            .row
                .col-xs-6.col-xs-offset-3.col-sm-offset-0.col-sm-4.col-sm-push-8.logo
                    img(src="img/glyphs/icon-same-idea.svg")

                .col-xs-12.gutter-xs.visible-xs.title
                    h1 Circle Blvd.

                .col-xs-12.gutter-xs.col-sm-8.col-sm-pull-4.headline
                    h1.hidden-xs Small teams, big ideas.

                    h4.tagline.visible-xs Project management for small&nbsp;teams.

                    h4.visible-xs 
                        a(href="/entrance")
                            button.join.btn.btn-default.primary 
                                h4 Start Free Trial
                    
                    p <span class="hidden-xs">Project management for small&nbsp;teams.</span> 

                    h4.hidden-xs 
                        a(href="/entrance")
                            button.join.btn.btn-default.primary 
                                h4 Start Free Trial
                        //- span.nextTo for 60 days


        //- .block.second
        //-     .container-fluid.main.debug
        //-         .row
        //-             .col-xs-12.col-sm-8.col-sm-push-4
        //-                 .embed-container
        //-                     iframe(src="//www.youtube-nocookie.com/embed/-a7n_iyqB0A?rel=0" frameborder="0" allowfullscreen)

        //-             .col-xs-12.col-sm-4.col-sm-pull-8
        //-                 p Circle Blvd is just the right size for
        //-                  | small teams.

        //-                 .for-glyph
        //-                     span(ng-include="'/img/glyphs/icon-same-idea.svg'")


        include ../inc/value-prop

        .block.fifth.visible-xs
            .container-fluid.main.debug
                div.bottom-header 
                    //- .row
                    //-     .col-xs-6.col-xs-offset-3.logo
                    //-         img(src="img/circle-blvd-basic.png")
                    //- h4.tagline Project management for small&nbsp;teams.
                    .entrance
                        a(href="/entrance")
                            button.join.btn.btn-default 
                                h4 Start Free Trial


        include ../inc/footer