extends layout

block stylesheets
    link(href="css/base.css" rel="stylesheet")
    link(href="css/prelude.css" rel="stylesheet")

block content
    include ../inc/navbar

    .container-fluid.main.debug
        block header
        .view
            block view

    include ../inc/footer

block prerequisites
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

block bottom
    //- Bootstrap JS for the mobile navbar
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")