extends layout

block stylesheets
    link(href="css/base.css" rel="stylesheet")
    link(href="css/prelude.css" rel="stylesheet")
    link(href="css/app.css" rel="stylesheet")
    link(href="css/tour.css" rel="stylesheet")

block scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")
    script(src="/lib/jQuery.ui.touch-punch.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="/lib/modernizr/touch.js")

block content
  include ../inc/error-modal
  include ../inc/navbar
  //- include ../mixins/tour-header

  .tour-page
    .main-wrapper.tour
      .header
          .container-fluid.header-inner
            h2.title
              block title

      .view
        block view

    include ../inc/footer