extends layout

block stylesheets
    link(href="css/base.css" rel="stylesheet")
    link(href="css/prelude.css" rel="stylesheet")
    link(href="css/app.css" rel="stylesheet")
    link(href="css/tour.css" rel="stylesheet")

block scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")
    script(src="/lib/jQuery.ui.touch-punch.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="/lib/modernizr/touch.js")

block content
  include ../inc/error-modal
  include ../inc/navbar
  //- include ../mixins/tour-header

  .tour-page
    .main-wrapper.tour
      .header
          .container-fluid.header-inner
              .col-sm-6.col-xs-12
                h2.title
                  block title
              .col-sm-6.col-xs-12.debug.header-menu
                div
                  a.glyph(href="/tour" 
                    ng-class="{active: isCurrentPathExactly('/tour')}")
                    div.glyphicon.glyphicon-play
                    div Overview

                  a.glyph(href="/tour/basics" 
                    ng-class="{active: isCurrentPath('/tour/basics')}")
                    div.glyphicon.glyphicon-sort-by-attributes-alt
                    div Basics

                  a.glyph(href="/tour/organizers"
                    ng-class="{active: isCurrentPath('/tour/organizers')}")
                    div.glyphicon.glyphicon-bullhorn
                    div Organizers

                  a.glyph(href="/tour/workflow"
                    ng-class="{active: isCurrentPath('/tour/workflow')}")
                    div.glyphicon.glyphicon-refresh
                    div Workflow

                  //- a.glyph(href="/tour/more"
                  //-   ng-class="{active: isCurrentPath('/tour/more')}")
                  //-   div.glyphicon.glyphicon-option-horizontal
                  //-   div More

      .view
        block view

    include ../inc/footer