extends layout-simple

block content
    include ../inc/navbar

    .main-wrapper
        .header
            .container-fluid.header-inner
                .col-sm-6.col-xs-12
                    h2.title 
                        block header
        .view
            block view

    include ../inc/footer