extends layout-header

append stylesheets
    link(href="css/tour.css" rel="stylesheet")
    link(href="css/tips.css" rel="stylesheet")

block header
    .span Tips: How to be the fastest

block view
    .content.prelude-content.container-fluid.main
        .col-sm-offset-1.col-sm-10.tips
            h4.first Keyboard shortcuts, when highlighting tasks

            table
                tr
                    td Mark as done
                    td.key D
                tr
                    td Mark as "on it"
                    td.key O
                tr
                    td Mark as "will do"
                    td.key W
                tr
                    td Clear task status
                    td.key N
                tr
                    td Take ownership
                    td.key T
                tr
                    td Insert task at this point
                    td.key I
                    td.key +

            h4 Copy and paste tasks within Circle Blvd.
            table
                tr
                    td Cut tasks
                    td.key Cmd-X (or Ctrl-X)
                tr 
                    td Paste tasks
                    td.key Cmd-V (or Ctrl-V)
                tr 
                    td Copy tasks
                    td.key Cmd-C (or Ctrl-C)
                tr
                    td Clear selection
                    td.key Esc


            h4 Highlight multiple tasks at once
            table
                tr
                    td With keyboard
                    td.key Hold Shift, use arrow keys
                tr
                    td With mouse
                    td.key Click and drag

            h4 Notes
            p Change your selection with the arrow keys.

    .big-ideas
        .container-fluid.main
            .col-sm-offset-1.col-sm-10.tips
                h2 Shortcuts when adding tasks
                p For example, entering "Do the thing @@" will assign the task to you. 
                table
                    tr
                        td Action
                        td End line with
                    tr
                        td Assign task to you
                        td.key @@
                    tr
                        td Assign to "Name"
                        td.key @Name
                    tr
                        td Mark task as "will do"
                        td.key !
                    tr
                        td Mark task as done
                        td.key !!
                    tr 
                        td Assign to you and mark as done
                        td.key @@!!

                p.section Make mileposts without switching entry tabs by 
                 | starting the line with two minus signs, i.e. "-- An 
                 | upcoming milepost". 
                table
                    tr
                        td Action
                        td Start line with
                    tr
                        td Create a milepost
                        td.key -- (two minus signs)

                p.before-video.section To see these entry shortcuts in action, please view the video below.

                .embed-container
                    iframe(src="//www.youtube-nocookie.com/embed/KCpeBd7fsxk?rel=0" frameborder="0" allowfullscreen)
