extends layout-tour

block title 
    span What is Circle Blvd?

block view
    .three-things
        .container-fluid.main
            .row
                .col-sm-7.col-xs-12
                    .thing
                        .step-wrapper
                            .step i
                        h3 tasks

                    .thing
                        .step-wrapper
                            .step ii
                        h3 people

                    .thing
                        .step-wrapper
                            .step iii
                        h3 deadlines, events

                .col-sm-5.col-xs-12.intro
                    p Circle Blvd is <em>project management for local community organizers.</em> It's for managing three things: 

                    ol 
                        li Tasks: What is being done.
                        li People: Who is doing what.
                        li Deadlines: When things need to be done.

                    p Everything in Circle Blvd makes it easier for your
                     | team to get on the same page regarding tasks,
                     | people, and deadlines.


    .framework
        .container-fluid.main
            .row 
                .col-sm-5
                    p Circle Blvd is for community organizers with a plan.

                    p Right now, your team is busy working on what
                     | needs to be done.

                    p Everything else? That's for a later time.

                    p In between now and later, teams re-group and decide
                     | what to work on next, in the form of 
                     | regular planning meetings.

                    p Circle Blvd fits within this "work, plan, work"
                     | rhythm, helping your team stay flexible and
                     | effective over time.

                .col-sm-7
                    h3.right-now What do we need to do right&nbsp;now? 
                    h3.next-meeting Next planning meeting
                    h3.everything-else Everything else
                    h4.caption How most teams work, starting at the top.


    .for-communities
        .container-fluid.main
            .row 
                .col-sm-7
                    img(src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/photos/swing-weekend-2015-sized.jpg" width="100%")
                    p.caption.left Photo credit: <a href="http://rabscuttle.com">Martin 
                     | &amp; Renee Norred</a> 
                .col-sm-5
                    p Circle Blvd was created to meet the needs of the Corvallis 
                     | Swing Dance Society, a successful volunteer organization 
                     | in Oregon.

                    p Nobody wants to use computers, and the organizers at 
                     | Corvallis Swing are no different.

                    p Circle Blvd is approachable.


            .row.section
                .col-sm-5
                    p The volunteers of Corvallis Swing 
                     | work full-time jobs elsewhere, and they 
                     | only have so much time they can offer to 
                     | organizing events. 

                    p Their situation is not unique: In the United 
                     | States, volunteers dedicate, on average,
                     | an hour of work each week. 

                    p Circle Blvd needs to be efficient, and capable of doing 
                     | a lot in a short amount of time.
                .col-sm-7
                    img(src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/photos/gordon-webster-portland-sized.jpg" width="100%")
                    p.caption Photo credit: <a href="http://rabscuttle.com">Martin 
                     | &amp; Renee Norred</a> 

            .row.section
                .col-sm-7
                    img(src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/photos/swingout-charleston-sized.jpg" width="100%")
                    p.caption.left Photo credit: <a href="http://rabscuttle.com">Martin 
                     | &amp; Renee Norred</a> 
                .col-sm-5
                    p The schedules of Corvallis Swing volunteers
                     | are rarely fixed. The amount of time people 
                     | can put in varies from week to week and month 
                     | to month.
                    
                    p Circle Blvd is flexible, and makes it easy to
                     | rearrange plans as situations change.

    .big-ideas
        .container-fluid.main
            .row 
                .col-sm-8
                    h2 Small teams, big ideas
                    p Circle Blvd is not only for 
                     | volunteer organizations. It is great for all 
                     | small teams &ndash; especially those with
                     | big ideas, those who need a plan.

                    p In fact, Circle Blvd is the only project management
                     | site made exclusively for small teams.

                    p Our competition makes well-regarded software for
                     | large enterprises &ndash; Fortune 500 companies.
                     | We're happy for them, but we need something that's
                     | the right size for small teams.
                                          
                .col-sm-4
                    img(src="/img/glyphs/icon-same-idea.svg" width="75%")

            .row.section
                    //- .col-sm-4.col-xs-6.logo
                        //- <a href="http://corvallisswing.com"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/corvallis-swing.png"></a>
                        //- h5 Corvallis Swing<br/>Dance Society
                .col-sm-4
                    .col-sm-12.col-xs-6.logo
                        <a href="http://swsdt.com"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/smith-williamson.png"></a>
                        h5 Smith &amp; Williamson LLC

                    .col-sm-12.col-xs-6.logo
                        <a href="http://advantage.oregonstate.edu/advantage-accelerator"><img src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/partners/osu-aa.png"></a>
                .col-sm-8
                    p In addition to the Corvallis Swing Dance Society, our key 
                     | development partners are:

                    p <a href="https://swsdt.com/">Smith &amp; Williamson LLC</a>, an
                     | engineering firm specialized in developing custom
                     | prototypes for atmosphere and oceanographic exploration. 

                    p The Oregon State University 
                     | <a href="http://advantage.oregonstate.edu/">Advantage Accelerator</a>, 
                     | a business development organization with a focus on startups and 
                     | early-stage companies.

                    p We work closely with these partners, to stay in touch
                     | with our small-team roots.

    .easy-way
        .container-fluid.main
            .row 
                .col-md-6
                    p Welcome to Circle Blvd, project management for small
                     | teams. 

                .col-md-6
                    .quote “For a small group, this is the easiest way you can 
                        | possibly go.”
                    .attribution &mdash; Smith &amp; Williamson