extends layout-tour

block title 
    span More resources

block view
    .workflow
        .big-ideas
            .container-fluid.main
                .row
                    .col-sm-8.col-sm-offset-2
                        p More to come ... ?