extends layout-tour

block title 
    span How to use Circle Blvd

block view
    .for-communities
        .container-fluid.main
            .row
                .col-sm-12.intro
                    p 1. At the heart of Circle Blvd is a shared task list:

            .row 
                .col-sm-12.list-introduction-video
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/77h9J0wvlxY?rel=0" frameborder="0" allowfullscreen)

                    p.below-video.

            .row
                .col-sm-4
                    h4 Highest priority tasks at the top
                    p In Circle Blvd, the tasks at the top are what your team is 
                     | currently working on. Typically, these tasks are expected 
                     | to be finished within a week.
                .col-sm-4
                    h4 The next planning meeting
                    p Every project has this special milestone. Use it as a cut line 
                     | for what your team is doing and not doing before your next 
                     | planning meeting.
                .col-sm-4
                    h4 All other tasks below
                    p Keep all other tasks here. Have an idea? Add it to the list, and talk about it later with your team.

    .big-ideas.mileposts
        .container-fluid.main
            .row
                .col-sm-12.intro
                    p 2. Use “mileposts” to keep track of deadlines, dates, and events:

            .row
                .col-sm-12.list-introduction-video
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/o2DroaniZ00?rel=0" frameborder="0" allowfullscreen)

    .for-communities
        .container-fluid.main
            .row
                .col-sm-12.intro
                    p 3. Find tasks that you care about:

            .row
                .col-sm-12.list-introduction-video
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/ogJmGaKkUoU?rel=0" frameborder="0" allowfullscreen)