extends layout-tour

block title 
    span Tips for organizers

block view
    .for-communities
        .container-fluid.main
            .row
                .col-sm-8.col-sm-offset-2
                    p As an organizer, Circle Tasks has a lot for you. 

                    p Most of your time on Circle Tasks will be spent moving,
                     | adding, and updating tasks. This series of videos 
                     | outlines how we help with those activities.

                    p We'll start with this simple, 15-second video on 
                     | moving tasks:
            .row
                .col-sm-12
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/apSHrj3_WQs?rel=0" frameborder="0" allowfullscreen)

    .simple
        .container-fluid.main
            .row
                .col-sm-12.center
                    h2 Adding all the tasks

            .row
                .col-sm-offset-2.col-sm-8
                    p As an organizer, you'll probably be entering in a lot of tasks on
                     | your team's behalf, so we've made this easier for you. There are 
                     | a few entry shortcuts, so you can create and assign
                     | tasks in one line.

                    p Not shown in the video below, you can add a milepost quickly
                     | by starting the entry line with two dashes, like so --Milepost.

            .row
                .col-sm-12
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/KCpeBd7fsxk?rel=0" frameborder="0" allowfullscreen)


    .big-ideas
        .container-fluid.main
            .row
                .col-sm-12.center
                    h2 Roadmap: Long-term planning

            .row
                .col-sm-offset-2.col-sm-8
                    p With the <i class="glyphicon glyphicon-road"></i> view,
                     | you can move tasks great distances within your list very quickly,
                     | saving a lot of time when prioritizing tasks.

            .row
                .col-sm-12
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/NPoVfno85No?rel=0" frameborder="0" allowfullscreen)

    .simple
        .container-fluid.main
            .row
                .col-sm-12.center
                    h2 Saving time with shortcuts

            .row
                .col-sm-offset-2.col-sm-8
                    p Use keyboard shortcuts to do most things. A full list
                     | is on the <a href="/tips">tips page</a>. You can get there
                     | by clicking the lightning bolt in the top menu.

            .row
                .col-sm-12
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/21c0igB_wOc?rel=0" frameborder="0" allowfullscreen)