extends layout-tour

block title 
    span What is Circle Blvd?

block view
    .three-things
        .container-fluid.main
            .row
                .col-sm-12.col-xs-12.intro
                    p Circle Blvd is here to help you manage assignments, 
                     | plan a couple months ahead, and track agenda items
                     | for your group. 

    .for-communities
        .container-fluid.main
            .row 
                .col-sm-7
                    img(src="https://raw.githubusercontent.com/holmwell/proprietary-assets/master/circle-blvd/photos/swing-weekend-2015-sized.jpg" width="100%")
                    p.caption.left.hidden-xs Photo credit: <a href="http://rabscuttle.com">Martin 
                     | &amp; Renee Norred</a> 
                .col-sm-5
                    p Circle Blvd was created to meet the needs of the Corvallis 
                     | Swing Dance Society, a successful volunteer organization 
                     | in Oregon.

                    p Their board of directors uses Circle Blvd each week to
                     | stay on top of what they did, what they plan to do, and 
                     | what needs to be talked about.

                    p To continue this tour, please go to the page on the <a href="/tour/basics">Basics</a>.

