extends layout-tour

block title 
    span Workflow guidelines

block view
    .workflow
        .big-ideas
            .container-fluid.main
                .row
                    .col-sm-8.col-sm-offset-2
                        p Circle Blvd is flexible and works in a lot of
                         | different situations. We've found that successful
                         | teams have a number of things in common, so here
                         | are some guidelines. Please follow them as you
                         | see fit.

                .row
                    .col-xs-12.col-sm-offset-0.col-sm-2
                        .thing
                            .step-wrapper
                                    .step i
                    .point.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-10
                        h3 Host regular meetings

                .row
                    .col-sm-8.col-sm-offset-2
                        p We suggest that teams meet once per week. 
                         | Recap what was accomplished
                         | since the last meeting, and share what you 
                         | plan to accomplish before the next meeting.

                        p Use and update Circle Blvd during this meeting,
                         | so everyone can stay on the same page. 

                .row
                    .col-xs-12.col-sm-offset-0.col-sm-2
                        .thing
                            .step-wrapper
                                    .step ii
                    .point.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-10
                        h3 Archive after meeting

                .row
                    .col-sm-8.col-sm-offset-2
                        p We suggest keeping "done" tasks
                         | in the task list until you've had a chance
                         | to note the accomplishments with your team.
                         | This allows people to easily find
                         | the tasks they recently completed.

                        p After you meet with your team, archive your
                         | completed tasks. 

                .row
                    .col-sm-12
                        .embed-container
                            iframe(src="//www.youtube-nocookie.com/embed/TksZhfI3kok?rel=0" frameborder="0" allowfullscreen)


                .row.below-video
                    .col-xs-12.col-sm-offset-0.col-sm-2
                        .thing
                            .step-wrapper
                                    .step iii
                    .point.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-10
                        h3 Communicate multiple ways

                .row
                    .col-sm-8.col-sm-offset-2
                        p Circle Blvd is great for planning, but 
                         | we don't expect you or your team to use
                         | it for everything. 

                        p We encourage you to talk, email, use Slack,
                         | text, or whatever your team likes,
                         | for communication where you see fit,
                         | and come back to Circle Blvd for your
                         | regular planning meeting.

        .three-things
            .container-fluid.main
                .row
                    .col-xs-12.col-sm-offset-0.col-sm-2
                        .thing
                            .step-wrapper
                                    .step iv
                    .point.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-10
                        h3 Use the apps for small stuff

                .row
                    .col-sm-8.col-sm-offset-2
                        p The Circle Blvd apps &ndash; for iOS and Android &ndash; 
                         | are for quick status updates.

                        p Please understand, the apps are in beta for the 
                         | time being.

                        p They're great for remembering what is happening. The
                         | website offers a lot more to organizers, but the
                         | apps might be all the rest of the team needs.


        .big-ideas
            .container-fluid.main
                .row
                    .col-xs-12.col-sm-offset-0.col-sm-2
                        .thing
                            .step-wrapper
                                    .step v
                    .point.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-10
                        h3 Lead your team 

                .row
                    .col-sm-8.col-sm-offset-2
                        p Most teams have a leader or two they rally
                         | around. Circle Blvd makes it easier for these
                         | leaders to take action, make decisions, and 
                         | stay on top of things.

                        p If that leader is you, don't expect your team
                         | to use Circle Blvd the same way as you. You'll
                         | use it a lot more, and that's ok.