extends layout-tour

block title 
    span Tips for organizers

block view
    .for-communities
        .container-fluid.main
            .row
                .col-sm-12.intro
                    p As an organizer, Circle Blvd has a lot for you. 

                    p Most of your time on Circle Blvd will be spent moving,
                     | adding, and updating tasks. This series of videos 
                     | outlines how we help with those activities.

                    p We'll start with this simple, 15-second video on 
                     | moving tasks:
            .row
                .col-sm-12.list-introduction-video
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/apSHrj3_WQs?rel=0" frameborder="0" allowfullscreen)

    .simple
        .container-fluid.main
            .row
                .col-sm-12.intro
                    p 2. Add tasks the fancy way

            .row
                .col-sm-12.list-introduction-video
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/KCpeBd7fsxk?rel=0" frameborder="0" allowfullscreen)


    .big-ideas
        .container-fluid.main
            .row
                .col-sm-12.intro
                    p 3. Use the roadmap to plan it out

            .row
                .col-sm-12.list-introduction-video
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/NPoVfno85No?rel=0" frameborder="0" allowfullscreen)

    .simple
        .container-fluid.main
            .row
                .col-sm-12.intro
                    p 4. Use the <a href="/tips">keyboard shortcuts</a>

            .row
                .col-sm-12.list-introduction-video
                    .embed-container
                        iframe(src="//www.youtube-nocookie.com/embed/21c0igB_wOc?rel=0" frameborder="0" allowfullscreen)