/* app css stylesheet */

/* global */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.container, .container-fluid {
    background: white;
    padding: 3em;
    padding-right: 6em;
    padding-top: 1em; 

    /* horizontal offset, vertical offset, thickness, fade */
    -webkit-box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
    box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
}

body {
    background: #222 !important;     
}



/* admin */

#userList {
  list-style: none;
}











